Repository pinecone-studio/pinecone-intern-monorepo, pull requests merged in 2025-01, with the labels that each got.

#3065 feat(tinder): description saved
  apps/L1E/tinder/tinder-fe/specs/components/signup/Addpassword.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/signup/Allset.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/signup/DateOfBirth.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/signup/Interest.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/signup/Otp.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/signup/Signup.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/signup/UserInformation.spec.tsx
  apps/L1E/tinder/tinder-fe/src/app/main/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/main/MainHeader.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Addpassword.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Allset.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/DateOfBirth.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/ImageUpload.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/InterestSelect.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Otp.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Signup.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/UserInformation.tsx
Labels: PR status: code ready, frontend

#3070 fix(hrms): jest test
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormPaid.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormRemote.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormcom1.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormtime.spec.tsx
Labels: PR status: code ready, frontend

#3072 fix(tinder): fp
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/requestOtp.spec.ts
  apps/L1E/tinder/tinder-be/src/models/user/otpmodel.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/user/request-otp.ts
Labels: PR status: code ready, backend

#3073 fix(tinder): forgetpass
  apps/L1E/tinder/tinder-fe/src/components/forgetpassword/Confirm.tsx
Labels: PR status: code ready, frontend

#3076 feat(tinder): chat ui
  apps/L1E/tinder/tinder-fe/specs/components/chat/Main.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Mainchat.spec.tsx
  apps/L1E/tinder/tinder-fe/src/app/chat/page.tsx
  apps/L1E/tinder/tinder-fe/src/app/main/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Main.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
  apps/L1E/tinder/tinder-fe/src/components/main/MainHeader.tsx
  apps/L1E/tinder/tinder-fe/src/components/match/Carousel.tsx
Labels: PR status: code ready, frontend

#3079 feat(tinder): getmatch
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/matchedusers.spec.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/matchedusers.ts
  apps/L1E/tinder/tinder-be/src/schemas/match.schema.ts
Labels: PR status: code ready, backend

#3080 feat(hrms): be get request by employee
  apps/L1E/hrms/hrms-be/specs/resolvers/queries/get-requests-by-employee.spec.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-requests-by-employee.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/index.ts
  apps/L1E/hrms/hrms-be/src/schemas/requests.schema.ts
Labels: PR status: code ready, backend

#3084 feat(tinder): match be
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/matchedusers.spec.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/matchedusers.ts
  apps/L1E/tinder/tinder-be/src/schemas/match.schema.ts
Labels: PR status: code ready, backend

#3086 feat(tinder): a
  apps/L1E/tinder/tinder-fe/specs/components/chat/Matches.spec.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/MainChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
  apps/L1E/tinder/tinder-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3087 feat(hrms): fe
  apps/L1E/hrms/hrms-fe/specs/components/DateRangePicker.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/LeaveCalendar.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormPaid.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormRemote.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormcom1.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormtime.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/DateRangePicker.tsx
  apps/L1E/hrms/hrms-fe/src/components/LeaveCalendar.tsx
  apps/L1E/hrms/hrms-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3089 fix(tinder): get matches
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/matchedusers.spec.ts
  apps/L1E/tinder/tinder-be/src/models/user/match.model.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/matchedusers.ts
  apps/L1E/tinder/tinder-be/src/schemas/match.schema.ts
Labels: PR status: code ready, backend

#3090 fix(tinder): get match
  apps/L1E/tinder/tinder-fe/specs/components/chat/Matches.spec.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
  apps/L1E/tinder/tinder-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3096 feat(hrms): fe-requeststory
  apps/L1E/hrms/hrms-fe/specs/components/RequestStory.spec.tsx
  apps/L1E/hrms/hrms-fe/src/components/MyRequest.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestStory.tsx
Labels: PR status: code ready, frontend

#3100 feat(tinder): fix
  apps/L1E/tinder/tinder-fe/specs/components/signup/Signup.spec.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Signup.tsx
Labels: PR status: code ready, frontend

#3102 fix(tinder): img
  apps/L1E/tinder/tinder-fe/specs/components/chat/Matches.spec.tsx
  apps/L1E/tinder/tinder-fe/src/app/chat/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
Labels: PR status: code ready, frontend

#3098 feat(hrms): front-end leave
  apps/L1E/hrms/hrms-fe/specs/components/EmployeeList.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/Header.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/LeaveCalendar.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/PendingRequest.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestApproved.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestList.spec.tsx
  apps/L1E/hrms/hrms-fe/src/components/Header.tsx
  apps/L1E/hrms/hrms-fe/src/components/LeaveCalendar.tsx
  apps/L1E/hrms/hrms-fe/src/components/PendingRequest.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestApproved.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestForm.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestList.tsx
  apps/L1E/hrms/hrms-fe/src/components/StatusSelector.tsx
Labels: PR status: code ready, frontend

#3107 feat(hrms): be
  apps/L1E/hrms/hrms-be/src/resolvers/mutations/requests/create-request.ts
  apps/L1E/hrms/hrms-be/src/schemas/requests.schema.ts
Labels: PR status: code ready, backend

#3111 feat(hrms): be-get all employees
  apps/L1E/hrms/hrms-be/specs/resolvers/queries/get-all-employees.spec.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-all-employees.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-employees.ts
  apps/L1E/hrms/hrms-be/src/schemas/employee.schema.ts
Labels: PR status: code ready, backend

#3114 feat(tinder): route
  apps/L1E/tinder/tinder-be/src/app/api/chat/route.ts
Labels: PR status: code ready, backend

#3117 feat(hrms): pending request
  apps/L1E/hrms/hrms-be/specs/resolvers/queries/get-all-requests.spec.ts
  apps/L1E/hrms/hrms-be/specs/resolvers/queries/get-requests-by-employee.spec.ts
  apps/L1E/hrms/hrms-be/src/models/request.model.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-all-requests.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-requests-by-employee.ts
Labels: PR status: code ready, backend

#3118 feat(hrms): pages
  apps/L1E/hrms/hrms-fe/src/app/employee-list/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/leave-calendar/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/leave-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/my-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/pending-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/request-form/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/MyRequest.tsx
  apps/L1E/hrms/hrms-fe/src/components/PendingRequest.tsx
  apps/L1E/hrms/hrms-fe/src/graphql/all.graphql
Labels: PR status: code ready

#3123 feat(tinder): remove image
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/delete-images.spec.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/delete-images.ts
  apps/L1E/tinder/tinder-be/src/schemas/user.schema.ts
Labels: PR status: code ready, backend

#3124 feat(tinder): chat
  apps/L1E/tinder/tinder-fe/specs/components/chat/Matches.spec.tsx
  apps/L1E/tinder/tinder-fe/src/app/chat/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/MainChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
Labels: PR status: code ready, frontend

#3126 feat(hrms): header
  apps/L1E/hrms/hrms-fe/project.json
  apps/L1E/hrms/hrms-fe/specs/components/Header.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/layout.tsx
  apps/L1E/hrms/hrms-fe/src/app/leave-calendar/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/Header.tsx
Labels: PR status: code ready, frontend

#3128 feat(tinder): get all users BE
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/get-all-users.spec.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/get-all-users.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/index.ts
  apps/L1E/tinder/tinder-fe/cypress/utils/all-pages.json
Labels: PR status: code ready, backend

#3127 fix(tinder): fix remove image BE
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/delete-images.spec.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/delete-images.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/put-user.ts
Labels: PR status: code ready, backend

#3131 feat(tinder): a
  apps/L1E/tinder/tinder-fe/specs/components/chat/Mainchat.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Profile.carouse.spec.tsx
  apps/L1E/tinder/tinder-fe/src/app/chat/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/MainChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/ProfileCarousel.tsx
  apps/L1E/tinder/tinder-fe/src/components/main/MainHeader.tsx
Labels: PR status: code ready, frontend

#3136 feat(tinder): add image fix
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/addImages.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/changepassword.spec.ts
  apps/L1E/tinder/tinder-be/src/models/user/user.model.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/add-images.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/put-user.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/user/create-user.ts
Labels: PR status: code ready, backend

#3137 feat(tinder): a
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/addmessage.spec.ts
  apps/L1E/tinder/tinder-be/src/models/chat/folder.model.ts
  apps/L1E/tinder/tinder-be/src/models/chat/message.model.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/add-message.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/index.ts
  apps/L1E/tinder/tinder-be/src/schemas/chat.schema.ts
  apps/L1E/tinder/tinder-be/src/schemas/index.ts
Labels: PR status: code ready, backend

#3145 feat(hrms): page soliwoo
  apps/L1E/hrms/hrms-fe/specs/components/Header.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/PendingRequest.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestForm.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormPaid.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormRemote.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormcom.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormcom1.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestFormtime.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestList.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/StatusSelector.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/pending-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/request-form/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/Header.tsx
  apps/L1E/hrms/hrms-fe/src/components/PendingRequest.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestForm.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestList.tsx
  apps/L1E/hrms/hrms-fe/src/components/StatusSelector.tsx
  apps/L1E/hrms/hrms-fe/src/components/requestForm/RequestFormPaid.tsx
  apps/L1E/hrms/hrms-fe/src/components/requestForm/RequestFormRemote.tsx
  apps/L1E/hrms/hrms-fe/src/components/requestForm/RequestFormcom.tsx
  apps/L1E/hrms/hrms-fe/src/components/requestForm/RequestFormcom1.tsx
  apps/L1E/hrms/hrms-fe/src/components/requestForm/RequestFormtime.tsx
  apps/L1E/hrms/hrms-fe/src/components/requestForm/Successmodal.tsx
Labels: PR status: code ready, frontend

#3144 feat(tinder): swipe component
  apps/L1E/tinder/tinder-fe/cypress/utils/all-pages.json
  apps/L1E/tinder/tinder-fe/jest.config.ts
  apps/L1E/tinder/tinder-fe/src/app/layout.tsx
  apps/L1E/tinder/tinder-fe/src/app/main/page.tsx
  apps/L1E/tinder/tinder-fe/src/app/mkae/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/match/UserMatchComp.tsx
  apps/L1E/tinder/tinder-fe/src/components/mkae/SwipeCards.tsx
  apps/L1E/tinder/tinder-fe/src/graphql/all.graphql
  libs/shadcn/src/lib/ui/carousel.tsx
Labels: PR status: code ready, frontend

#3155 feat(tinder): a
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/addmessage.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/getconversation.spec.ts
  apps/L1E/tinder/tinder-be/src/models/chat/conversation.model.ts
  apps/L1E/tinder/tinder-be/src/models/chat/folder.model.ts
  apps/L1E/tinder/tinder-be/src/models/chat/message.model.ts
  apps/L1E/tinder/tinder-be/src/models/user/match.model.ts
  apps/L1E/tinder/tinder-be/src/models/user/user.model.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/add-message.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/get-conversation.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/get-messages.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/index.ts
  apps/L1E/tinder/tinder-be/src/schemas/chat.schema.ts
Labels: PR status: code ready, backend

#3142 added secrets
  apps/L1FG/instagram/backend/next.config.js
  apps/L1FG/instagram/backend/src/utils/connect-to-db.ts
  apps/L1FG/instagram/frontend/codegen.ts
  apps/L1FG/instagram/frontend/cypress/support/e2e.ts
  apps/L1FG/instagram/frontend/cypress/utils/all-pages.json
  apps/L1FG/instagram/frontend/cypress/utils/get-all-pages.ts
  apps/L1FG/instagram/frontend/project.json
  apps/L1FG/instagram/frontend/src/app/page.tsx
  apps/L1FG/instagram/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/instagram/frontend/tsconfig.json
  package.json
Labels: PR status: code ready, frontend

#3169 feat(hrms): my requests page
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/my-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/cypress/utils/all-pages.json
  apps/L1E/hrms/hrms-fe/specs/components/Leave.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/MyRequest.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/PaidLeave.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RemoteWork.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestStory.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/my-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/DateRangePicker.tsx
  apps/L1E/hrms/hrms-fe/src/components/Header.tsx
  apps/L1E/hrms/hrms-fe/src/components/Leave.tsx
  apps/L1E/hrms/hrms-fe/src/components/MyRequest.tsx
  apps/L1E/hrms/hrms-fe/src/components/PaidLeave.tsx
  apps/L1E/hrms/hrms-fe/src/components/RemoteWork.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestStory.tsx
Labels: PR status: code ready, frontend

#3175 feat(tinder): a
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/addImages.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/getconversation.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/match.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/recent.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/unmatch.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/login.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/users-match.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/get-all-users.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/getuser.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/sample-query.spec.ts
  apps/L1E/tinder/tinder-be/src/models/chat/conversation.model.ts
  apps/L1E/tinder/tinder-be/src/models/chat/message.model.ts
  apps/L1E/tinder/tinder-be/src/models/user/match.model.ts
  apps/L1E/tinder/tinder-be/src/models/user/user.model.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/add-message.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/unmatch.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/match/match-mutation.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/add-images.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/profileUser/put-user.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/user/create-user.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/user/login.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/get-conversation.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/recent.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/profileUser/get-user.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/sample-query.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/get-all-users.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/matchedusers.ts
  apps/L1E/tinder/tinder-be/src/schemas/chat.schema.ts
  apps/L1E/tinder/tinder-be/src/schemas/match.schema.ts
Labels: PR status: code ready, backend

#3168 feat(backend): push testing
  apps/L1FG/concert-ticket/backend/project.json
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/create-test.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/index.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/sample-mutation.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/index.spec.ts
  apps/L1FG/concert-ticket/backend/src/models/test.model.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/create-test.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/index.ts
  apps/L1FG/concert-ticket/backend/src/schemas/index.ts
  apps/L1FG/concert-ticket/backend/src/schemas/test.schema.ts
Labels: PR status: code ready, backend, concert-ticket-prj, 1FG-team2

#3182 feat(tinder): fe
  apps/L1E/tinder/tinder-fe/specs/components/chat/Getchat.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Mainchat.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Matches.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/signin/Signin.spec.tsx
  apps/L1E/tinder/tinder-fe/src/app/chat/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/GetChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/MainChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/ProfileCarousel.tsx
  apps/L1E/tinder/tinder-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3190 feat(user): model, schema, mutation
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/create-user.spec.ts
  apps/L1FG/instagram/backend/src/models/user.model.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/create-user.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/index.ts
  apps/L1FG/instagram/backend/src/schemas/index.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
  apps/L1FG/instagram/frontend/codegen.ts
Labels: PR status: code ready, backend

#3197 feat(tinder): interval
  apps/L1E/tinder/tinder-fe/src/components/chat/GetChat.tsx
Labels: PR status: code ready, frontend

#3184 fix(backend): bugg
  apps/L1FG/concert-ticket/frontend/codegen.ts
  apps/L1FG/concert-ticket/frontend/cypress/support/e2e.ts
  apps/L1FG/concert-ticket/frontend/cypress/support/index.d.ts
  apps/L1FG/concert-ticket/frontend/cypress/utils/all-pages.json
  apps/L1FG/concert-ticket/frontend/next.config.js
  apps/L1FG/concert-ticket/frontend/project.json
  apps/L1FG/concert-ticket/frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, frontend

#3203 feat(post): create-post
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/create-pos.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/create-user.spec.ts
  apps/L1FG/instagram/backend/src/models/index.ts
  apps/L1FG/instagram/backend/src/models/post.model.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/create-user.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/index.ts
  apps/L1FG/instagram/backend/src/schemas/index.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
Labels: PR status: code ready, backend

#3181 fix: test
  apps/L1FG/hotel-booking/backend/project.json
  apps/L1FG/hotel-booking/frontend/codegen.ts
  apps/L1FG/hotel-booking/frontend/cypress/support/e2e.ts
  apps/L1FG/hotel-booking/frontend/cypress/utils/all-pages.json
  apps/L1FG/hotel-booking/frontend/cypress/utils/intercept-graphql.ts
  apps/L1FG/hotel-booking/frontend/jest.config.ts
  apps/L1FG/hotel-booking/frontend/project.json
  apps/L1FG/hotel-booking/frontend/src/app/admin/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/header/HeaderLogo.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/header/index.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/index.tsx
  apps/L1FG/hotel-booking/frontend/src/components/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/hotel-booking/frontend/tsconfig.json
Labels: PR status: code ready, frontend

#3209 feat(tinder): tur
  apps/L1E/tinder/tinder-fe/src/components/chat/GetChat.tsx
Labels: PR status: code ready, frontend

#3206 5 otgonbaatar
  apps/L1FG/restaurant/frontend/codegen.ts
  apps/L1FG/restaurant/frontend/cypress/support/e2e.ts
  apps/L1FG/restaurant/frontend/cypress/utils/all-pages.json
  apps/L1FG/restaurant/frontend/project.json
  apps/L1FG/restaurant/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/restaurant/frontend/tsconfig.json
  package.json
Labels: PR status: code ready, restaurant-team

#3215 feat(hrms): login page
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/login/index.cy.tsx
  apps/L1E/hrms/hrms-fe/cypress/utils/all-pages.json
  apps/L1E/hrms/hrms-fe/specs/components/Login.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/Logincomp.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/OTPpasswordcomp.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/login/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/login/Login.tsx
  apps/L1E/hrms/hrms-fe/src/components/login/Logincomp.tsx
  apps/L1E/hrms/hrms-fe/src/components/login/OtpPasswordcomp.tsx
  apps/L1E/hrms/hrms-fe/src/components/login/index.ts
Labels: PR status: code ready, frontend

#3216 feat(hrms): pending request tst
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/pending-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/src/app/pending-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/ApproveModal.tsx
  apps/L1E/hrms/hrms-fe/src/components/RefuseModal.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestApproved.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestList.tsx
  apps/L1E/hrms/hrms-fe/src/components/StatusSelector.tsx
Labels: PR status: code ready, frontend

#3222 feat(frontend structure): prepare
  apps/L1FG/real-state/frontend/cypress/e2e/(main)/my-estate.cy.tsx
  apps/L1FG/real-state/frontend/cypress/utils/all-pages.json
  apps/L1FG/real-state/frontend/specs/test.spec.tsx
  apps/L1FG/real-state/frontend/src/app/(auth)/forget-password/page.tsx
  apps/L1FG/real-state/frontend/src/app/(auth)/sign-in/page.tsx
  apps/L1FG/real-state/frontend/src/app/(auth)/sign-up/page.tsx
  apps/L1FG/real-state/frontend/src/app/add-estate/page.tsx
  apps/L1FG/real-state/frontend/src/app/admin/estate-details/page.tsx
  apps/L1FG/real-state/frontend/src/app/admin/page.tsx
  apps/L1FG/real-state/frontend/src/app/admin/real-estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/app/admin/real-estates/page.tsx
  apps/L1FG/real-state/frontend/src/app/estate/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/app/estate/page.tsx
  apps/L1FG/real-state/frontend/src/app/estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/app/estates/page.tsx
  apps/L1FG/real-state/frontend/src/app/my-estate/page.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/page.tsx
  apps/L1FG/real-state/frontend/src/app/page.tsx
  apps/L1FG/real-state/frontend/src/components/Home.tsx
  apps/L1FG/real-state/frontend/src/components/HomePage/HomePage.tsx
  apps/L1FG/real-state/frontend/src/components/addEstate/AddEstate.tsx
  apps/L1FG/real-state/frontend/src/components/adminPage/AdminPage.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/AdminSinglePage.tsx
  apps/L1FG/real-state/frontend/src/components/auth/ForgotPasswordPage.tsx
  apps/L1FG/real-state/frontend/src/components/auth/SignInPage.tsx
  apps/L1FG/real-state/frontend/src/components/auth/SignUpPage.tsx
  apps/L1FG/real-state/frontend/src/components/auth/_components/DynamicHeader.tsx
  apps/L1FG/real-state/frontend/src/components/auth/_components/Input.tsx
  apps/L1FG/real-state/frontend/src/components/auth/_components/SubmitButton.tsx
  apps/L1FG/real-state/frontend/src/components/estatesPage/EstateHome.tsx
  apps/L1FG/real-state/frontend/src/components/estatesPage/EstatePage.tsx
  apps/L1FG/real-state/frontend/src/components/estatesSinglePage/EstatesSinglePage.tsx
  apps/L1FG/real-state/frontend/src/components/layout/Footer.tsx
  apps/L1FG/real-state/frontend/src/components/layout/Header.tsx
  apps/L1FG/real-state/frontend/src/components/myEstatesPage/MyEstatesPage.tsx
  apps/L1FG/real-state/frontend/src/components/ui/card/MainCard.tsx
  apps/L1FG/real-state/frontend/tsconfig.json
Labels: PR status: code ready, frontend, Real-State-24_6

#3232 feat(tinder): be
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/changepassword.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/getconversation.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/unmatch.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/requestOtp.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/queries/matchedusers.spec.ts
  apps/L1E/tinder/tinder-be/src/models/chat/message.model.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/add-message.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/user/request-otp.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/get-conversation.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/get-messages.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/index.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/user/matchedusers.ts
  apps/L1E/tinder/tinder-be/src/schemas/chat.schema.ts
Labels: PR status: code ready, backend

#3229 feat(hrms): udate-request
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/pending-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/src/app/pending-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/RefuseModal.tsx
  apps/L1E/hrms/hrms-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3233 feat(hrms): be-fix
  apps/L1E/hrms/hrms-be/src/resolvers/queries/index.ts
Labels: PR status: code ready, backend

#3240 fix(tinder): interval
  apps/L1E/tinder/tinder-fe/src/components/chat/GetChat.tsx
Labels: PR status: code ready, frontend

#3237 feat(hrms): be otp login
  apps/L1E/hrms/hrms-be/project.json
  apps/L1E/hrms/hrms-be/specs/resolvers/queries/get-employee-by-email.spec.ts
  apps/L1E/hrms/hrms-be/specs/resolvers/queries/get-employee-by-otp.spec.ts
  apps/L1E/hrms/hrms-be/src/models/employee.model.ts
  apps/L1E/hrms/hrms-be/src/resolvers/mutations/employee/create-employee.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-employee-by-email.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-employee-by-otp.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-login-otp.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/index.ts
  apps/L1E/hrms/hrms-be/src/schemas/employee.schema.ts
Labels: PR status: code ready, backend

#3248 feat: navigation [blue, white] UI build done
  apps/L1FG/hotel-booking/frontend/public/LogoBlue.png
  apps/L1FG/hotel-booking/frontend/public/LogoWhite.png
  apps/L1FG/hotel-booking/frontend/src/app/global.css
  apps/L1FG/hotel-booking/frontend/src/app/layout.tsx
  apps/L1FG/hotel-booking/frontend/src/app/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/index.tsx
  apps/L1FG/hotel-booking/frontend/src/components/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/NavigationBlue.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/NavigationWhite.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/tailwind.config.js
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3236 feat(hrms): leavecalendarpage
  .yarn/install-state.gz
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/leavecalendar/index.cy.tsx
  apps/L1E/hrms/hrms-fe/src/app/leave-calendar/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/LeaveCalendar.tsx
Labels: PR status: code ready, frontend

#3249 feat(hrms): admin-page
  apps/L1E/hrms/hrms-fe/specs/components/EmployeeFormModal.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/LeadApprovedModal.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/employee-list/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/EmployeeFormModal.tsx
  apps/L1E/hrms/hrms-fe/src/components/LeadApprovedModal.tsx
  apps/L1E/hrms/hrms-fe/src/graphql/all.graphql
  apps/L1E/hrms/hrms-fe/src/utils/employee-schema.ts
Labels: PR status: code ready, frontend

#3246 3204 create review
  apps/L1FG/instagram/backend/specs/resolvers/mutations/comment/create-comment-like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/comment/create-comment.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/create-postLike.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/request/create-request.spec.ts
  apps/L1FG/instagram/backend/src/models/comment-like.model.ts
  apps/L1FG/instagram/backend/src/models/comment.model.ts
  apps/L1FG/instagram/backend/src/models/index.ts
  apps/L1FG/instagram/backend/src/models/post-like.model.ts
  apps/L1FG/instagram/backend/src/models/request.model.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/request/create-request.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/request/index.ts
  apps/L1FG/instagram/backend/src/schemas/comment-like.schema.ts
  apps/L1FG/instagram/backend/src/schemas/comment.schema.ts
  apps/L1FG/instagram/backend/src/schemas/index.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
  apps/L1FG/instagram/backend/src/schemas/request.schema.ts
Labels: PR status: code ready, backend, Instagram

#3252 feat: navigation url
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/NavigationBlue.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/NavigationWhite.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3227 feat(hotel-booking): database structure and types
  apps/L1FG/hotel-booking/backend/codegen.ts
  apps/L1FG/hotel-booking/backend/src/models/booking.model.ts
  apps/L1FG/hotel-booking/backend/src/models/hotel.model.ts
  apps/L1FG/hotel-booking/backend/src/models/index.ts
  apps/L1FG/hotel-booking/backend/src/models/room.model.ts
  apps/L1FG/hotel-booking/backend/src/models/user.model.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/hotel/create-hotel.ts
  apps/L1FG/hotel-booking/backend/src/types/common-types.ts
  apps/L1FG/hotel-booking/backend/src/types/index.d.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3268 done
  apps/L1FG/hotel-booking/frontend/src/app/admin/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/header/HeaderLogo.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/header/index.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/main/Header.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/main/Sidebar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/WhiteCircle.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Zap.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Zap2.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3293 feat(hrms): employeelist page tst
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/employee-list/index.cy.tsx
  apps/L1E/hrms/hrms-fe/src/app/employee-list/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/EmployeeFormModal.tsx
  apps/L1E/hrms/hrms-fe/src/components/LeadApprovedModal.tsx
Labels: PR status: code ready, frontend

#3296 feat(hrms): mailsender
  apps/L1E/hrms/hrms-be/specs/resolvers/queries/get-employee-by-email.spec.ts
  apps/L1E/hrms/hrms-be/src/resolvers/queries/get-employee-by-email.ts
  apps/L1E/hrms/hrms-be/src/utils/email-sender.ts
  package.json
Labels: PR status: code ready, backend

#3295 feat(hrms): fe login page
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/login/index.cy.tsx
  apps/L1E/hrms/hrms-fe/specs/components/Login.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/OtpGenerate.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/layout.tsx
  apps/L1E/hrms/hrms-fe/src/app/login/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/Login.tsx
  apps/L1E/hrms/hrms-fe/src/components/OtpGenerate.tsx
  apps/L1E/hrms/hrms-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3299 3207 fe ticket card UI component
  apps/L1FG/concert-ticket/frontend/components.json
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/search/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/utils/all-pages.json
  apps/L1FG/concert-ticket/frontend/public/coldplay.png
  apps/L1FG/concert-ticket/frontend/specs/components/card/Card.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/card/Cards.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/search/Search.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/layout.tsx
  apps/L1FG/concert-ticket/frontend/src/app/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/search/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/searchSection/Search.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketCard/Card.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketCard/Cards.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3305 create hotel mutation done tests passed
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/hotel/create-hotel.spec.ts
  apps/L1FG/hotel-booking/backend/src/models/hotel.model.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/hotel/create-hotel.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
  apps/L1FG/hotel-booking/backend/src/schemas/index.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3306 feat(concert-ticket): admin page created
  apps/L1FG/concert-ticket/frontend/src/app/admin/page.tsx
Labels: PR status: code ready, 1FG-concert-ticket

#3309 done get hotels
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotels.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotels.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3308 feat: sign in /up
  apps/L1FG/instagram/frontend/cypress/e2e/(public)/login/index.cy.tsx
  apps/L1FG/instagram/frontend/cypress/e2e/(sign-up)/home-page.cy.tsx
  apps/L1FG/instagram/frontend/src/app/log-in/page.tsx
  apps/L1FG/instagram/frontend/src/app/sign-up/page.tsx
  apps/L1FG/instagram/frontend/src/app/trouble-login/page.tsx
  apps/L1FG/instagram/frontend/src/components/log-in/Link.tsx
  apps/L1FG/instagram/frontend/src/components/log-in/LogInPage.tsx
  apps/L1FG/instagram/frontend/src/components/sign-up/SignUpPage.tsx
  apps/L1FG/instagram/frontend/src/components/svg/InstaLogo.tsx
  apps/L1FG/instagram/frontend/src/components/svg/LockIcon.tsx
Labels: PR status: code ready, frontend, Instagram

#3313 feat(hrms): pending-request
  .yarn/install-state.gz
  apps/L1E/hrms/hrms-fe/src/app/pending-requests/page.tsx
Labels: PR status: code ready, frontend

#3315 3225 backend property feature model
  apps/L1FG/real-state/backend/specs/resolvers/mutations/add-property-mutation.spec.ts
  apps/L1FG/real-state/backend/src/models/index.ts
  apps/L1FG/real-state/backend/src/models/property-feature.model.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/property/add-property-mutation.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/property/index.ts
  apps/L1FG/real-state/backend/src/schemas/index.ts
  apps/L1FG/real-state/backend/src/schemas/property-features.schema.ts
  apps/L1FG/real-state/frontend/src/app/page.tsx
Labels: PR status: code ready, backend, Real-State-24_6

#3316 feat(hrms): logn page otp pass duuslaa
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/login/index.cy.tsx
  apps/L1E/hrms/hrms-fe/specs/components/OtpGenerate.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/login/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/OtpGenerate.tsx
  apps/L1E/hrms/hrms-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3318 feat(hrms): hrms bug fix
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/pending-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/specs/components/Header.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/employee-list/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/leave-calendar/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/my-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/pending-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/request-form/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/Header.tsx
Labels: PR status: code ready, frontend

#3319 feat: home
  apps/L1FG/instagram/frontend/public/images/profilePic.png
  apps/L1FG/instagram/frontend/src/app/home/page.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/BookmarkSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/CommentSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/HeartSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/HomeSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/HumSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/InstaSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/PlusSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/SearchSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/mainBar/MainPagePost.tsx
  apps/L1FG/instagram/frontend/src/components/Home/mainBar/MainPageStory.tsx
  apps/L1FG/instagram/frontend/src/components/Home/rightBar/HomeProfile.tsx
  apps/L1FG/instagram/frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, Instagram

#3302 card
  apps/L1FG/hotel-booking/frontend/src/components/icons/ParkingIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/icons/SpaIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/icons/StarIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/icons/WifiIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/icons/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/HomePageCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3334 feat: create post ajillana. get bhgui. front-end ynzlaagui
  apps/L1FG/instagram/backend/src/models/comment.model.ts
  apps/L1FG/instagram/backend/src/models/post.model.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePost.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePostDialog.tsx
  apps/L1FG/instagram/frontend/src/graphql/post.graphql
Labels: PR status: code ready, Instagram

#3314 3311 swipe component frontend
  apps/L1E/tinder/tinder-fe/src/components/mkae/SwipeCards.tsx
Labels: PR status: code ready, frontend

#3336 feat: single card bolon home card edit hiisen
  apps/L1FG/hotel-booking/frontend/src/components/icons/ParkingIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/icons/SpaIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/icons/WifiIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/icons/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/HomePageCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/SinglePageCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/StarIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3337 fix: home page deer HomePageCard ustagsan
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/home-page.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3339 feat: settings folder
  apps/L1FG/instagram/frontend/src/app/settings/page.tsx
  apps/L1FG/instagram/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/instagram/frontend/src/components/settings/Settings.tsx
Labels: PR status: code ready, frontend, Instagram

#3340 3247 backendcreate story and followers
  apps/L1FG/instagram/backend/specs/resolvers/mutations/story/create-story-like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/story/create-story-view.spec.ts
  apps/L1FG/instagram/backend/src/models/index.ts
  apps/L1FG/instagram/backend/src/models/story-like.model.ts
  apps/L1FG/instagram/backend/src/models/story-view.model.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/storyies/create-story-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/storyies/create-story-view.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/storyies/index.ts
  apps/L1FG/instagram/backend/src/schemas/index.ts
  apps/L1FG/instagram/backend/src/schemas/story-like.schema.ts
  apps/L1FG/instagram/backend/src/schemas/story-view.schema.ts
Labels: PR status: code ready, backend, Instagram

#3344 admin front
  apps/L1FG/hotel-booking/frontend/src/app/admin/guests/info/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/admin/guests/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/admin/hotels/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/main/Footer.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/main/Header.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/main/Sidebar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/guest-info.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/guest-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/LeftArrow.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Logo.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Panel.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Plus.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/RightArrow.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Zap.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Zap2.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3347 done
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotel-by-id.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotel-by-id.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3304 Login page
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/make-order.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/queries/get-orders.spec.ts
  apps/L1FG/restaurant/backend/src/models/order.ts
  apps/L1FG/restaurant/backend/src/models/user.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/make-order.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/get-orders.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/index.ts
  apps/L1FG/restaurant/backend/src/schemas/common.schema.ts
  apps/L1FG/restaurant/backend/src/utils/connect-to-db.ts
  apps/L1FG/restaurant/frontend/public/Logo.png
  apps/L1FG/restaurant/frontend/src/app/login/page.tsx
Labels: PR status: code ready, backend, frontend, restaurant-team

#3358 feat: header done
  apps/L1FG/concert-ticket/frontend/specs/components/header/header.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/header/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/header/Header.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3362 feat(tinder): update user information
  apps/L1E/tinder/tinder-fe/jest.config.ts
  apps/L1E/tinder/tinder-fe/specs/components/Bio.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/GenderPreference.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/PersonalInfo.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/ProfileSection.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/profile/Interests.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/profile/ProfilePage.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/profile/ProfileSection.spec.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/Bio.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/GenderPreference.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/ImagesSection.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/Interests.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/MainSection.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/PersonalInfo.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/Profile.tsx
  apps/L1E/tinder/tinder-fe/src/components/profile/ProfileInputForm.tsx
  apps/L1E/tinder/tinder-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3365 fix: settings frontend
  apps/L1FG/instagram/frontend/src/components/settings/Settings.tsx
Labels: PR status: code ready, frontend, Instagram

#3357 backend create room mutation done
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/room/create-room.spec.ts
  apps/L1FG/hotel-booking/backend/src/models/room.model.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/room/create-room.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/room/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3350 feat: sidebar fix
  apps/L1FG/hotel-booking/frontend/src/components/admin/main/Sidebar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/guest-info.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/guest-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/home-page.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3366 feat(real-estate-backend user): not yet token
  apps/L1FG/real-state/backend/jest.config.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/index.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/user/change-password.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/user/login.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/user/register.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/user/request-change-password.spec.ts
  apps/L1FG/real-state/backend/src/library/nodemailer.ts
  apps/L1FG/real-state/backend/src/models/index.ts
  apps/L1FG/real-state/backend/src/models/user.model.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/user/change-password.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/user/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/user/login.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/user/register.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/user/request-change-password.ts
  apps/L1FG/real-state/backend/src/schemas/index.ts
  apps/L1FG/real-state/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, frontend, Real-State-24_6

#3369 3341 notification front end
  apps/L1FG/instagram/frontend/src/app/home/page.tsx
  apps/L1FG/instagram/frontend/src/app/layout.tsx
  apps/L1FG/instagram/frontend/src/app/log-in/page.tsx
  apps/L1FG/instagram/frontend/src/app/sign-up/page.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/Home/rightBar/HomeProfile.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePostDialog.tsx
  apps/L1FG/instagram/frontend/src/components/log-in/LogInPage.tsx
  apps/L1FG/instagram/frontend/src/components/sign-up/SignUpPage.tsx
  libs/shadcn/src/lib/ui/button.tsx
Labels: PR status: code ready, frontend, Instagram

#3375 feat(backend): createfood bolon getfoods
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/create-food.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/queries/get-foods.spec.ts
  apps/L1FG/restaurant/backend/src/handler.ts
  apps/L1FG/restaurant/backend/src/models/food.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/create-food.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/get-foods.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/index.ts
  apps/L1FG/restaurant/backend/src/schemas/food.schema.ts
Labels: PR status: code ready, backend, restaurant-team

#3377 feat(backend): createcategory bolon getcategories
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/create-category.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/queries/get-categories.spec.ts
  apps/L1FG/restaurant/backend/src/handler.ts
  apps/L1FG/restaurant/backend/src/models/category.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/create-category.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/get-categories.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/index.ts
  apps/L1FG/restaurant/backend/src/schemas/category.schema.ts
Labels: PR status: code ready, backend, restaurant-team

#3333 feat(hrms): push login
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/leave-calendar/index.cy.tsx
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/leavecalendar/index.cy.tsx
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/request-form/index.cy.tsx
  apps/L1E/hrms/hrms-fe/cypress/utils/all-pages.json
  apps/L1E/hrms/hrms-fe/src/app/leave-calendar/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/leave-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/request-form/page.tsx
Labels: PR status: code ready, frontend

#3381 feat(backend): create, get concert
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/concert/create-concert.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/create-test.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/concert/get-concerts.spec.ts
  apps/L1FG/concert-ticket/backend/src/models/concert.model.ts
  apps/L1FG/concert-ticket/backend/src/models/index.ts
  apps/L1FG/concert-ticket/backend/src/models/order.model.ts
  apps/L1FG/concert-ticket/backend/src/models/test.model.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/concert/create-concert.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/concert/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/create-test.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/concert/get-concerts.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/concert/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/index.ts
  apps/L1FG/concert-ticket/backend/src/schemas/concert.schema.ts
  apps/L1FG/concert-ticket/backend/src/schemas/index.ts
  apps/L1FG/concert-ticket/backend/src/schemas/test.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#3380 feat: search hesgiig hiisen
  apps/L1FG/hotel-booking/frontend/src/components/user/features/DatePickerWithRange.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/features/Search.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/features/intex.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3373 userprofile
  apps/L1FG/restaurant/frontend/specs/components/UserProfile.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/page.tsx
  apps/L1FG/restaurant/frontend/src/components/svg/Edit.tsx
  apps/L1FG/restaurant/frontend/src/components/svg/Menu.tsx
  apps/L1FG/restaurant/frontend/src/components/svg/Notification.tsx
  apps/L1FG/restaurant/frontend/src/components/svg/Shop.tsx
  apps/L1FG/restaurant/frontend/src/components/user-profile/UserProfile.tsx
Labels: PR status: code ready, frontend, restaurant-team

#3383 feat(tinder): chat
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/addmessage.spec.ts
  apps/L1E/tinder/tinder-be/specs/resolvers/mutations/chat/unmatch.spec.ts
  apps/L1E/tinder/tinder-be/src/models/chat/message.model.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/add-message.ts
  apps/L1E/tinder/tinder-be/src/resolvers/mutations/chat/unmatch.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/get-conversation.ts
  apps/L1E/tinder/tinder-be/src/resolvers/queries/chat/recent.ts
  apps/L1E/tinder/tinder-be/src/schemas/chat.schema.ts
Labels: PR status: code ready, backend

#3388 feat(tinder): fe
  apps/L1E/tinder/tinder-fe/jest.config.ts
  apps/L1E/tinder/tinder-fe/specs/components/chat/Getchat.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Mainchat.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Matches.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Profile.carouse.spec.tsx
  apps/L1E/tinder/tinder-fe/specs/components/chat/Test.spec.tsx
  apps/L1E/tinder/tinder-fe/src/app/forgetpassword/page.tsx
  apps/L1E/tinder/tinder-fe/src/app/signin/page.tsx
  apps/L1E/tinder/tinder-fe/src/app/signup/page.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/GetChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/MainChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/ProfileCarousel.tsx
  apps/L1E/tinder/tinder-fe/src/components/forgetpassword/Forgetpassword.tsx
  apps/L1E/tinder/tinder-fe/src/components/signin/Signin.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/ImageUpload.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Select.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Signup.tsx
  apps/L1E/tinder/tinder-fe/src/components/signup/Test.tsx
  apps/L1E/tinder/tinder-fe/src/graphql/all.graphql
Labels: PR status: code ready, frontend

#3389 fix(zasvar 3): zasvar 4
  apps/L1FG/hotel-booking/frontend/src/components/user/features/Search.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/searchresult-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/microui/BlueDital.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/microui/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3390 fix(tinder): fe
  apps/L1E/tinder/tinder-fe/src/app/layout.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/GetChat.tsx
  apps/L1E/tinder/tinder-fe/src/components/chat/Matches.tsx
Labels: PR status: code ready, frontend

#3392 feat: leador component ugsarch duuslaaa
  apps/L1FG/hotel-booking/frontend/src/components/user/features/Loading.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/features/intex.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/svg/BlackLogoIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/svg/index.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3382 feat: Front-end spec done. Ghdee jhn mundag bolj bgaad comment bolgoson ymnuudaa oruulj irmeer bgaa
  apps/L1FG/instagram/frontend/cypress/e2e/(public)/login/index.cy.tsx
  apps/L1FG/instagram/frontend/cypress/e2e/(sign-up)/home-page.cy.tsx
  apps/L1FG/instagram/frontend/cypress/utils/all-pages.json
  apps/L1FG/instagram/frontend/specs/components/SettingsInsta/SettingsInsta.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/loginSignUp/Link.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/loginSignUp/Login.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/loginSignUp/SignUpPage.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/loginSignUp/Signup.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/mainLeftSideBar/MenuButtons.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/mainMiddleSide/PostView.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/mainMiddleSide/StoryView.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/mainRightSide/ProfileView.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePost.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostDialog.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Profile.spec.tsx
  apps/L1FG/instagram/frontend/src/app/settings/page.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/BookmarkSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/CommentSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/HeartSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/HomeSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/HumSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/InstaSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/PlusSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/SearchSvg.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePost.tsx
  apps/L1FG/instagram/frontend/src/components/settings/Settings.tsx
Labels: PR status: code ready, Instagram

#3394 3393 adminbackend get rooms query
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/room/get-rooms.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/room/get-rooms.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/room/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
  apps/L1FG/hotel-booking/backend/src/schemas/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/room.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3396 feat: made hotel detail page not finished
  apps/L1FG/hotel-booking/frontend/src/app/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/DetailHero.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/HotelDetailMain.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/PriceDetail.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/hoteldetail-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/SinglePageCard.tsx
  package.json
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3402 feat: guest info page ui
  apps/L1FG/hotel-booking/frontend/public/Hotel.png
  apps/L1FG/hotel-booking/frontend/src/app/admin/hotels/add-hotel/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/add-hotel.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/guest-info.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/CheckoutDialog.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/GuestInfoLeft.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/GuestInfoRight.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3408 fix: button
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Greate.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/MenuButtonsSideBar.tsx
Labels: PR status: code ready, frontend, Instagram

#3415 feat(concert-ticket-frontend-ticketreservation-frontend): design dagu…
  apps/L1FG/concert-ticket/frontend/public/chevron-back.svg
  apps/L1FG/concert-ticket/frontend/specs/components/detail/ComboxBox.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/detail/HeroComponent.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/detail/InfoContainer.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/Ticketreservation.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/Detail/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/ticketReservation/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/Ticketreservation.tsx
Labels: PR status: code ready, frontend

#3418 feat(hrms): hrms-userprovider
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/employee-list/index.cy.tsx
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/my-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/pending-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/jest.config.ts
  apps/L1E/hrms/hrms-fe/specs/components/Header.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/employee-list/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/layout.tsx
  apps/L1E/hrms/hrms-fe/src/app/request-form/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/Header.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestStory.tsx
  apps/L1E/hrms/hrms-fe/src/provider/UserProvider.tsx
Labels: PR status: code ready, frontend

#3419 fix(backend): food categoryid add
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/update-food-category.spec.ts
  apps/L1FG/restaurant/backend/src/models/food.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/update-food-category.ts
  apps/L1FG/restaurant/backend/src/schemas/food.schema.ts
Labels: PR status: code ready, backend, restaurant-team

#3423 fix: хэрэглэгдээгүй import-ыг устгасан болно. Зарим нэг components засвар хийсэн. single page, card болон бусад pages
  apps/L1FG/hotel-booking/frontend/src/app/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/ChooseRoom.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/DetailHero.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/GeneralInformation.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/HotelDetailMain.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/PriceDetail.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/hotel-detail/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/hoteldetail-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/Footer.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/HotelCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/LeftNavbar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/MainSearchResult.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/SinglePageCard.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3424 feat: profile
  apps/L1FG/instagram/frontend/specs/components/profile/Profile.spec.tsx
  apps/L1FG/instagram/frontend/src/app/profile/page.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/Profile.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Followers.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Post.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
  apps/L1FG/instagram/frontend/src/components/svg/Posts.tsx
  apps/L1FG/instagram/frontend/src/components/svg/Saved.tsx
Labels: PR status: code ready, frontend, Instagram

#3426 feat(hrms): hrms-pending
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/pending-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/src/app/pending-requests/page.tsx
Labels: PR status: code ready, frontend

#3376 feat(hrms): my requests page get token
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/my-requests/index.cy.tsx
  apps/L1E/hrms/hrms-fe/specs/components/Header.spec.tsx
  apps/L1E/hrms/hrms-fe/specs/components/RequestStory.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/layout.tsx
  apps/L1E/hrms/hrms-fe/src/app/leave-calendar/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/my-requests/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/Header.tsx
  apps/L1E/hrms/hrms-fe/src/components/RequestStory.tsx
  apps/L1E/hrms/hrms-fe/tsconfig.json
Labels: PR status: code ready, frontend

#3429 fix(hrms): bug fix
  apps/L1E/hrms/hrms-be/next.config.js
  apps/L1E/hrms/hrms-be/src/utils/email-sender.ts
Labels: PR status: code ready, backend

#3432 feat(frontend): food fetching and orderingpage
  apps/L1FG/restaurant/frontend/cypress/e2e/(main)/login-page.cy.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/order-page.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/order/[tableNumber]/page.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderPageComponent.tsx
  apps/L1FG/restaurant/frontend/src/graphql/food.graphql
  apps/L1FG/restaurant/frontend/tailwind.config.js
  package.json
Labels: PR status: code ready, frontend, restaurant-team

#3434 3427 login page newtreh heseg frontend
  apps/L1FG/concert-ticket/frontend/src/app/login/page.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3444 fix: frontend story
  apps/L1FG/instagram/frontend/public/images/Image.png
  apps/L1FG/instagram/frontend/specs/components/story/Story.spec.tsx
  apps/L1FG/instagram/frontend/src/app/story/page.tsx
  apps/L1FG/instagram/frontend/src/components/story/Story.tsx
Labels: PR status: code ready, frontend, Instagram

#3455 feat: бүх Link хийж дууссан , мөн page хооронд шилждэг болсон
  apps/L1FG/hotel-booking/frontend/src/app/hotel-detail/[id]/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/search-hotels/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/NavigationBlue.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/Navigations/NavigationWhite.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/features/SearchBar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/features/intex.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/home-page/HomeHotelList.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/hoteldetail-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/searchresult-page.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3456 feat: frontend story 90%
  apps/L1FG/instagram/frontend/specs/components/profile/ProfileO.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/story/MockStory.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/story/Story.spec.tsx
  apps/L1FG/instagram/frontend/src/app/story/page.tsx
  apps/L1FG/instagram/frontend/src/components/story/MockStory.tsx
  apps/L1FG/instagram/frontend/src/components/story/Story.tsx
  apps/L1FG/instagram/frontend/src/components/svg/Posts.tsx
  apps/L1FG/instagram/frontend/src/components/svg/Saved.tsx
Labels: PR status: code ready, frontend, Instagram

#3441 feat: add hotel
  apps/L1FG/hotel-booking/frontend/src/app/admin/add-hotel/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/admin/hotels/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/add-hotel.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/GuestInfoLeft.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/DataTable.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/UpcomingBooking.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3452 3449 adminbackend user register mutation
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/user/register.spec.ts
  apps/L1FG/hotel-booking/backend/src/models/user.model.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/register.ts
  apps/L1FG/hotel-booking/backend/src/schemas/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/user.schema.ts
  apps/L1FG/hotel-booking/backend/src/types/common-types.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3284 feat(post query): query bichsen
  apps/L1FG/real-state/backend/specs/resolvers/mutations/owner/create-owner.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/owner/update-owner.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/sample-mutation.spec.ts
  apps/L1FG/real-state/backend/src/models/owner-model.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/add-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/updated-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/sample-mutation.ts
  apps/L1FG/real-state/backend/src/schemas/index.ts
  apps/L1FG/real-state/backend/src/schemas/owner-schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#3464 database models addition done:
  apps/L1FG/hotel-booking/backend/src/models/hotel.model.ts
  apps/L1FG/hotel-booking/backend/src/models/room.model.ts
  apps/L1FG/hotel-booking/backend/src/types/common-types.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3467 adminbackend create booking mutation done
  .vscode/settings.json
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/booking/create-booking.spec.ts
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/hotel/create-hotel.spec.ts
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/room/create-room.spec.ts
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotel-by-id.spec.ts
  apps/L1FG/hotel-booking/backend/src/models/booking.model.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/booking/create-booking.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/booking/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/hotel/create-hotel.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotel-by-id.ts
  apps/L1FG/hotel-booking/backend/src/schemas/booking.schema.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
  apps/L1FG/hotel-booking/backend/src/schemas/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/room.schema.ts
  apps/L1FG/hotel-booking/backend/src/types/common-types.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3470 feat(delete owner): delete owner guitseej bichev getOwner getOwners n…
  apps/L1FG/real-state/backend/specs/resolvers/mutations/owner/delete-owner.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/queries/owner/get-owner-by-id.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/queries/owner/get-owners.spec.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/delete-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/index.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/index.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/owner/get-owner-by-id.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/owner/get-owners.ts
  apps/L1FG/real-state/backend/src/schemas/owner-schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#3474 admin backend get rooms by hotel id
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/room/get-rooms-by-hotel-id.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/hotel/create-hotel.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/room/create-room.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotel-by-id.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/room/get-rooms-by-hotel-id.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/room/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/room.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3472 feat: admin add hotel ui
  apps/L1FG/hotel-booking/frontend/src/components/admin/pages/add-hotel.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/AmericanExpressCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/BluePlus.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Card.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/MasterCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/NoImageIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Phone.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Star.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/VisaCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/AboutThis.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/Amenities.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/GeneralInfo.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/Images.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/Location.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/Policies.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/PoliciesExtra.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/Questions.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/RoomTypes.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/add-hotel/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3478 feat: wallet done
  apps/L1FG/restaurant/frontend/specs/components/ordering/wallet.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/order/Wallet.tsx
Labels: PR status: code ready, frontend, restaurant-team

#3479 feat: story fixed on home
  apps/L1FG/instagram/frontend/src/components/Home/mainBar/MainPageStory.tsx
  apps/L1FG/instagram/frontend/src/components/Home/mainBar/mock-story-data.ts
Labels: PR status: code ready, frontend, Instagram

#3486 fix: type fix
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#3443 feat(forntend): fetched category and ui
  apps/L1FG/restaurant/frontend/codegen.ts
  apps/L1FG/restaurant/frontend/specs/components/ordering/order-page.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderPageComponent.tsx
  apps/L1FG/restaurant/frontend/src/graphql/category.graphql
Labels: PR status: code ready, frontend, restaurant-team

#3301 front-end register page
  apps/L1FG/restaurant/frontend/cypress/e2e/(main)/login-page.cy.tsx
  apps/L1FG/restaurant/frontend/specs/components/Input.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/LoginPage.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/RegisterPage.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/login/page.tsx
  apps/L1FG/restaurant/frontend/src/app/register/page.tsx
  apps/L1FG/restaurant/frontend/src/components/Input.tsx
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/RegisterPage.tsx
  package.json
Labels: PR status: code ready, frontend, restaurant-team

#3493 fix: test ерөнхийдөө болсон.
  apps/L1FG/hotel-booking/frontend/project.json
  apps/L1FG/hotel-booking/frontend/specs/components/admin/pages/AddHotelPage.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/admin/pages/GuestInfo.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/admin/pages/GuestsPage.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/admin/pages/HomePage.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/admin/svg/RightArrow.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/Navigations/NavigationBlue.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/Navigations/NavigationWhite.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/features/DatePickerWithRange.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/features/Loading.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/pages/HomePage.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/pages/HotelDetailPage.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/pages/SearchResultPage.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/search-result/Footer.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/search-result/RightNavbar.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/svg/HeadPhoneIcon.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/svg/MessegaIcon.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/svg/PhoneIcon.spec.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/AmericanExpressCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/BluePlus.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Card.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/LeftArrow.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/MasterCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/NoImageIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Panel.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Phone.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Plus.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/RightArrow.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Star.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/VisaCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Zap.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/Zap2.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/features/DatePickerWithRange.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/features/SearchBar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/RightNavbar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/svg/HeadPhoneIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/svg/JcbIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/svg/MessegaIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/svg/PhoneIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/svg/VisaIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/BusIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/ChevronRightIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/DoorClosedIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/DumbBellIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/FlowerIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/ParkingCircleIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/UtensilsIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/WifiIcon.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3500 fix(backend): fix categoryid
  apps/L1FG/restaurant/backend/src/schemas/food.schema.ts
Labels: PR status: code ready, backend, restaurant-team

#3503 feat(hrms): admin-page
  apps/L1E/hrms/hrms-fe/cypress/e2e/(main)/login/index.cy.tsx
  apps/L1E/hrms/hrms-fe/specs/components/Login.spec.tsx
  apps/L1E/hrms/hrms-fe/src/app/employee-list/page.tsx
  apps/L1E/hrms/hrms-fe/src/app/login/page.tsx
  apps/L1E/hrms/hrms-fe/src/components/Login.tsx
  apps/L1E/hrms/hrms-fe/src/components/OtpGenerate.tsx
Labels: PR status: code ready, frontend

#3502 feat(frontend): categoru filter
  apps/L1FG/restaurant/frontend/specs/components/ordering/order-page.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderPageComponent.tsx
  apps/L1FG/restaurant/frontend/src/graphql/food.graphql
Labels: PR status: code ready, frontend, restaurant-team

#3506 feat: create post test done
  apps/L1FG/instagram/frontend/specs/components/loginSignUp/PlusSvg.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePost.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostCaption.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostDialog.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostHeader.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostImagePreview.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostLast.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostStep1.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostStep2.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/utils/UploadImage.spec.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Greate.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePost.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePostDialog.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePostStep1.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePostStep2.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/TurhadgalsanCreatePost.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/lastCreatePost/CaptionInput.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/lastCreatePost/Header.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/lastCreatePost/ImagePreview.tsx
  apps/L1FG/instagram/frontend/src/components/svg/CreatePostSvg.tsx
  apps/L1FG/instagram/frontend/src/components/types.ts
  apps/L1FG/instagram/frontend/src/components/utils/upload.ts
Labels: PR status: code ready, Instagram

#3510 feat(hrms): update request mutation
  apps/L1E/hrms/hrms-be/specs/resolvers/mutations/update-request.spec.ts
  apps/L1E/hrms/hrms-be/src/resolvers/mutations/requests/update-request.ts
Labels: PR status: code ready, backend

#3507 feat: profile saijruulav
  apps/L1FG/instagram/frontend/specs/components/profile/ProfileO.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Followers.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Following.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Post.tsx
  apps/L1FG/instagram/frontend/src/components/profile/PostEmpty.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
Labels: PR status: code ready, Instagram

#3511 feat: getUser addition
  apps/L1FG/instagram/backend/specs/resolvers/user-without-password/follower-count.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user-without-password/following-count.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user-without-password/post-count.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/create-user.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/get-user-together.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/get-user.ts
  apps/L1FG/instagram/backend/src/resolvers/user-without-password/follower-count.ts
  apps/L1FG/instagram/backend/src/resolvers/user-without-password/following-count.ts
  apps/L1FG/instagram/backend/src/resolvers/user-without-password/index.ts
  apps/L1FG/instagram/backend/src/resolvers/user-without-password/post-count.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#3516 feat: fetched data again
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
  apps/L1FG/hotel-booking/frontend/src/app/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/home-page/HomeHotelList.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/pages/home-page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/HomePageCard.tsx
  apps/L1FG/hotel-booking/frontend/src/graphql/gethotels.graphql
Labels: frontend, 1FG-hotel-booking

#3515 feat: getFollowers
  apps/L1FG/instagram/backend/specs/resolvers/follower-user-type/freindship-status.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/follow/get-followers.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/user/get-users.spec.ts
  apps/L1FG/instagram/backend/src/models/followers.modul.ts
  apps/L1FG/instagram/backend/src/resolvers/FollowerUserType/freindship-status.ts
  apps/L1FG/instagram/backend/src/resolvers/FollowerUserType/index.ts
  apps/L1FG/instagram/backend/src/resolvers/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/follow/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/follow/get-followers.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/follow/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/get-users.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/index.ts
  apps/L1FG/instagram/backend/src/resolvers/user-without-password/follower-count.ts
  apps/L1FG/instagram/backend/src/resolvers/user-without-password/following-count.ts
  apps/L1FG/instagram/backend/src/schemas/followers.schema.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#3523 get booking query done
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/booking/get-bookings.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/booking/get-bookings.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/booking/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/booking.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3526 get bookings by user id query done
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/booking/get-bookings-by-user-id.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/booking/get-bookings-by-user-id.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/booking/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/booking.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3525 feat: signUp done
  apps/L1FG/concert-ticket/frontend/specs/components/code-input/CodeInput.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/password-reset/PasswordReset.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/sign-up/SignUp.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/success/Success.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/code-input/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/password-resert/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/sign-up/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/success/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/password-resert/PasswordReset.tsx
  apps/L1FG/concert-ticket/frontend/src/components/sign-up/SignUp.tsx
  apps/L1FG/concert-ticket/frontend/src/components/success/Success.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3492 feat(frontend): search
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/search/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/utils/all-pages.json
  apps/L1FG/concert-ticket/frontend/specs/components/card/Card.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/card/Cards.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/search/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/searchSection/Search.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketCard/Card.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3514 feat(all query mutation done): buh query mutation ajilgaag testelj al…
  apps/L1FG/real-state/backend/specs/resolvers/mutations/owner/add-owner.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/queries/owner/get-owners.spec.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/add-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/updated-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/index.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/owner/get-owners.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/owner/index.ts
  apps/L1FG/real-state/backend/src/schemas/owner-schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#3487 feat(header and footer): header footer and some test for frontend
  apps/L1FG/real-state/frontend/specs/components/HomePage/Homepage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/addEstate/AddEstate.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/adminPage/AdminPage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/adminSinglePage/AdminSinlePage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/auth/ForgotPasswordPage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/auth/SignInPage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/auth/SignUpPage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/estatesPage/EstateHome.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/estatesPage/EstatePage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/estatesSinglePage/EstatesSinglePage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/Footer.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/Header.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/CustomerSupportIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/EmailIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/FacebookIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/Homelogo.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/InstagramIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/PhoneIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/PlusIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/YoutubeIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/myEstatesPage/MyEstatesPages.spec.tsx
  apps/L1FG/real-state/frontend/src/app/layout.tsx
  apps/L1FG/real-state/frontend/src/components/auth/ForgotPasswordPage.tsx
  apps/L1FG/real-state/frontend/src/components/layout/Footer.tsx
  apps/L1FG/real-state/frontend/src/components/layout/Header.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/CustomerSupportIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/EmailIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/FacebookIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/HomeLogo.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/InstagramIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/PhoneIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/PlusIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/YoutubeIcon.tsx
Labels: PR status: code ready, frontend, Real-State-24_6

#3539 feat: update name
  apps/L1FG/instagram/backend/specs/resolvers/mutations/story/create-story-like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/update-name.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/update-name.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#3544 3374 notification sheet
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/update-name.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
  apps/L1FG/instagram/frontend/specs/components/main/mainLeftSideBar/MenuButtons.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/Earlier.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/LikedPost.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/NotificationSheet.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/RequestFollow.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/TextSideBar.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/ThisWeek.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/Today.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/notifications/Yesterday.spec.tsx
  apps/L1FG/instagram/frontend/src/app/home/page.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/HomeSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/InstagramSvg.tsx
  apps/L1FG/instagram/frontend/src/components/Home/leftSideBar/Svg/SearchSvg.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/Earlier.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/LikedPost.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/NotificationSheet.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/RequestFollow.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/TextSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/ThisWeek.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/Today.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/Yesterday.tsx
Labels: PR status: code ready, frontend, Instagram

#3546 feat: sign up and login bug fix
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/create-user.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/login.spec.ts
  apps/L1FG/instagram/backend/src/models/user.model.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/create-user.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/login.ts
  apps/L1FG/instagram/frontend/cypress/e2e/log-in/page.cy.tsx
  apps/L1FG/instagram/frontend/cypress/e2e/sign-up/page.cy.tsx
  apps/L1FG/instagram/frontend/src/components/providers/AuthProvider.tsx
Labels: PR status: code ready, backend, frontend, Instagram
