Repository pinecone-studio/pinecone-intern-monorepo, pull requests merged in 2025-06, with the labels that each got.

#5370 ticket history
  apps/L2A/concert/backend/src/schemas/ticket.schema.ts
  apps/L2A/concert/frontend/cypress/e2e/profile/123/page.cy.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/OrderHistory.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/ProfileNavigation.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/page.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5375 sorting concerts desc order
  apps/L2A/concert/backend/specs/resolvers/queries/get-concets.spec.ts
  apps/L2A/concert/backend/src/resolvers/queries/get-all-concerts.ts
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketDashboard.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/AboutEvent.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/OrderHistory.tsx
Labels: PR status: code ready, 2A-CONCERT

#5377 featured events
  apps/L2A/concert/backend/specs/resolvers/queries/featured-events.spec.ts
  apps/L2A/concert/backend/src/resolvers/queries/featured-events.ts
  apps/L2A/concert/backend/src/resolvers/queries/index.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
Labels: PR status: code ready, 2A-CONCERT

#5379 featured events
  apps/L2A/concert/frontend/cypress/e2e/(main)/home-page.cy.tsx
  apps/L2A/concert/frontend/specs/HeroSection.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/HeroSection.tsx
  apps/L2A/concert/frontend/src/app/_featured/HeroSection.tsx
  apps/L2A/concert/frontend/src/app/page.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5381 cancel request backend
  apps/L2A/concert/backend/specs/resolvers/mutations/create-cancel-request.spec.ts
  apps/L2A/concert/backend/specs/resolvers/queries/get-cancel-requests.spec.ts
  apps/L2A/concert/backend/src/models/request.model.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-cancel-request.ts
  apps/L2A/concert/backend/src/resolvers/mutations/index.ts
  apps/L2A/concert/backend/src/resolvers/queries/get-cancel-requests.ts
  apps/L2A/concert/backend/src/resolvers/queries/index.ts
  apps/L2A/concert/backend/src/schemas/cancel-request.schema.ts
  apps/L2A/concert/backend/src/schemas/mutation.schema.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
  apps/L2A/concert/backend/src/utils/find-ticket-by-id.ts
Labels: PR status: code ready, 2A-CONCERT

#5385 cancel request schema extend
  apps/L2A/concert/backend/src/models/request.model.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-cancel-request.ts
  apps/L2A/concert/backend/src/schemas/cancel-request.schema.ts
  apps/L2A/concert/backend/src/schemas/mutation.schema.ts
Labels: PR status: code ready, 2A-CONCERT

#5388 getcategory
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MenuList.tsx
  apps/L2A/restaurant/frontend/src/graphql/all.graphql
Labels: PR status: code ready, restaurant-team

#5391 delete
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/menu-list.cy.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/DeleteUpdateDialog.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/DiscountList.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MainCardFoodList.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MenuList.tsx
  apps/L2A/restaurant/frontend/src/graphql/all.graphql
Labels: PR status: code ready, restaurant-team

#5387 cancel-request frontend
  apps/L2A/concert/frontend/cypress/e2e/profile/123/page.cy.tsx
  apps/L2A/concert/frontend/specs/admin/cancel-request/_components/cancel-request-table-row.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableHeader.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableRow.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/page.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/CancelRequestDialog.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/OrderCard.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/OrderHistory.tsx
  apps/L2A/concert/frontend/src/app/profile/_utils/cancel-request-bankinfo-schema.ts
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5394 done
  apps/L2A/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L2A/restaurant/backend/src/schemas/table.schema.ts
  apps/L2A/restaurant/frontend/specs/admin/adminTable.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/table/_features/AdminTableList.tsx
  apps/L2A/restaurant/frontend/src/graphql/all.graphql
Labels: PR status: code ready, restaurant-team

#5407 link holbolt
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/login-user.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/user-listing.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/Header.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/user-listing/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/lib/translate-status.ts
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5409 add done
  apps/L2A/restaurant/frontend/specs/FoodSecHead.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/food/_features/FoodSecondHead.tsx
  apps/L2A/restaurant/frontend/src/graphql/all.graphql
Labels: PR status: code ready, restaurant-team

#5412 feat: match
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/match/dislike.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/match/like.spec.ts
  apps/L2B/tinder/tinder-backend/src/models/profile.model.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/index.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/match/dislike.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/match/match.ts
  apps/L2B/tinder/tinder-backend/src/schemas/profile.schema.ts
Labels: PR status: code ready, backend, 2b-Tinder

#5419 loading animation
  apps/L2A/concert/frontend/public/loading.mp4
  apps/L2A/concert/frontend/specs/_components/LoadingAnimation.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/LoadingAnimation.tsx
  apps/L2A/concert/frontend/src/app/_utils/LoadingMui.tsx
Labels: PR status: code ready, 2A-CONCERT

#5422 loading
  apps/L2A/concert/frontend/src/app/_components/LoadingAnimation.tsx
  apps/L2A/concert/frontend/src/app/_featured/HeroSection.tsx
  apps/L2A/concert/frontend/src/app/_utils/LoadingMui.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/page.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketDashboard.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_featured/EditEventInfo.tsx
  apps/L2A/concert/frontend/src/app/auth/_feature/Complete.tsx
  apps/L2A/concert/frontend/src/app/auth/_feature/reset-password/PassRecoveryStep1.tsx
  apps/L2A/concert/frontend/src/app/auth/_feature/reset-password/PassRecoveryStep2.tsx
  apps/L2A/concert/frontend/src/app/auth/_feature/reset-password/PassRecoveryStep3.tsx
  apps/L2A/concert/frontend/src/app/booking/[id]/page.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/RecommendConcert.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/page.tsx
  apps/L2A/concert/frontend/src/app/event/page.tsx
  apps/L2A/concert/frontend/src/app/page.tsx
  apps/L2A/concert/frontend/src/app/search/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5437 done
  apps/L2A/restaurant/frontend/specs/admin/adminFoodList.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/food/_features/AdminFoodList.tsx
  apps/L2A/restaurant/frontend/src/graphql/all.graphql
Labels: PR status: code ready, restaurant-team

#5438 admin header
  apps/L2A/concert/frontend/specs/admin-header.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/AdminHeader.tsx
Labels: PR status: code ready, 2A-CONCERT

#5444 5441 pagination
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/FeatureAnEvent.cy.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/TicketDashboard.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketDashboard.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_featured/ConcertsPagination.tsx
Labels: PR status: code ready, 2A-CONCERT

#5452 admin search
  apps/L2A/concert/frontend/specs/admin/concerts/_components/TicketDashboard.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/TicketFilterBar.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketDashboard.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketFilterBar.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5448 feat: matched user profile info gargaj irsn
  apps/L2B/tinder/tinder-backend/specs/resolvers/queries/profile/fetch-profile.spec.ts
  apps/L2B/tinder/tinder-backend/src/models/profile.model.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/queries/profile/fetch-profile.ts
  apps/L2B/tinder/tinder-backend/src/schemas/profile.schema.ts
Labels: PR status: code ready, backend, 2b-Tinder

#5457 cancel request status change
  apps/L2A/concert/backend/specs/resolvers/mutations/change-cancel-request-status.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/change-cancel-request-status.ts
  apps/L2A/concert/backend/src/resolvers/mutations/index.ts
  apps/L2A/concert/backend/src/schemas/mutation.schema.ts
Labels: PR status: code ready, 2A-CONCERT

#5466 feat(real-estate-frontend): add number on create post
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(create-post)/create-post.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/edit.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostNumber.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostNumber.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostTitle.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_features/CreatePostCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/lib/form-utils.ts
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5470 feat(rael-estate-frontend): add more types on create post
  apps/L2A/real-estate/real-estate-backend/src/schemas/post.schema.ts
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostType.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostType.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5472 change status
  apps/L2A/concert/frontend/specs/admin/cancel-request/_components/cancel-request-table-row.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/CancelButton.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableRow.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5473 feat(real-estate-frontend): add more images on create post
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostImages.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostImages.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5475 feat(real-estate-frontend): shema type fix and input value
  apps/L2A/real-estate/real-estate-backend/src/models/post.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/post.schema.ts
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostName.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/edit/BuildingInfoSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostName.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostTitle.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/user-listing/edit/_components/BuildingInfoSection.tsx
  apps/L2A/real-estate/real-estate-frontend/src/lib/form-utils.ts
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5482 clean up
  apps/L2A/concert/backend/specs/resolvers/mutations/delete-concert.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/delete-concert.ts
  apps/L2A/concert/frontend/cypress/e2e/admin/cancel-request/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/DeleteEvent.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/FeatureAnEvent.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/TicketFilterBar.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/event/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/profile/page.cy.tsx
  apps/L2A/concert/frontend/cypress/utils/all-pages.json
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/admin-header.spec.tsx
  apps/L2A/concert/frontend/specs/admin/cancel-request/_components/TableHeader.spec.tsx
  apps/L2A/concert/frontend/specs/admin/cancel-request/_components/cancel-request-table-row.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/TicketDashboard.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/TicketFilterBar.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/utils/graphql-mocks.ts
  apps/L2A/concert/frontend/src/app/_components/Footer.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/_components/LoadingAnimation.tsx
  apps/L2A/concert/frontend/src/app/_utils/LoadingMui.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/AdminHeader.tsx
  apps/L2A/concert/frontend/src/app/admin/_featured/AdminLogin.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableHeader.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableRow.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/page.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/DeleteConcert.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/FeatureAnEvent.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketDashboard.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketFilterBar.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_featured/ConcertsPagination.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_featured/EditEventInfo.tsx
  apps/L2A/concert/frontend/src/app/booking/[id]/page.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/ForgetPassword.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/UserProfile.tsx
  apps/L2A/concert/frontend/src/app/profile/_features/CancelRequestDialog.tsx
  apps/L2A/concert/frontend/src/app/profile/_features/ForgetPassword.tsx
  apps/L2A/concert/frontend/src/app/profile/_features/OrderCard.tsx
  apps/L2A/concert/frontend/src/app/profile/_features/OrderHistory.tsx
  apps/L2A/concert/frontend/src/app/profile/_features/ProfileNavigation.tsx
  apps/L2A/concert/frontend/src/app/profile/_features/SidebarNavigation.tsx
  apps/L2A/concert/frontend/src/app/profile/_features/UserProfile.tsx
  apps/L2A/concert/frontend/src/app/profile/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5484 feat(real-estate): added type logic also fixed small things
  apps/L2A/real-estate/real-estate-backend/src/schemas/post.schema.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin/admin.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin/details.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/building-details.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/edit.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/listing-detail-admin-view.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.basic.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.filters.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/BuildingDetails.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/ListingDetailAdminView.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/StatusSelect.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/edit/BuildingInfoSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/edit/PreviewSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/Listingcard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/ListingCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/BuildingDetails.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/ListingDetailAdminView.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/StatusSelect.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/details/[id]/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/user-listing/edit/[id]/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/user-listing/edit/_components/BuildingInfoSection.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/user-listing/edit/_components/PreviewSection.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/all.graphql
  apps/L2A/real-estate/real-estate-frontend/src/graphql/get-post-by-id.graphql
  apps/L2A/real-estate/real-estate-frontend/src/graphql/get-posts.graphql
  apps/L2A/real-estate/real-estate-frontend/src/lib/form-utils.ts
Labels: PR status: code ready, 2A-Real-Estate

#5489 feat(real-estate): added skeleton on when visit to admin url
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.basic.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
Labels: PR status: code ready, 2A-Real-Estate

#5491 feat(real-estate): added no schema and ownerName on detailed
  apps/L2A/real-estate/real-estate-frontend/src/app/detailed/[id]/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-detail-row.ts
Labels: PR status: code ready, 2A-Real-Estate

#5493 feat(real-estate): checking isAdmin
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/login-user.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin/admin.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin/details.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/listing-detail-admin-view.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/status-select.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/layout.tsx
Labels: PR status: code ready, 2A-Real-Estate

#5498 done
  apps/L2A/restaurant/frontend/src/app/admin/table/_features/AdminTableList.tsx
Labels: PR status: code ready, restaurant-team

#5494 feat: home page changes
  apps/L2B/hotel-booking/client/cypress/e2e/(admin)/hotels/[hotelid]/RoomsByHotel.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/(admin)/hotels/[hotelid]/[roomId]/page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/Guest.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/specs/(main)/(searchfilter)/SearchFilter.spec.tsx
  apps/L2B/hotel-booking/client/specs/Card.spec.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_components/CalendarDate.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_components/SeacrhFilter.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_components/UseCounter.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_features/Card.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_features/Guest.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/search-result/page.tsx
  apps/L2B/hotel-booking/client/src/app/_components/Card/Card.tsx
  apps/L2B/hotel-booking/client/src/app/page.tsx
Labels: PR status: code ready, 2B-Hotel-Booking

#5501 done
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
Labels: PR status: code ready, restaurant-team

#5502 feat: fetch profile
  apps/L2B/tinder/tinder-backend/specs/resolvers/queries/profile/fetch-profile.spec.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/queries/profile/fetch-profile.ts
Labels: PR status: code ready, backend, 2b-Tinder

#5505 done
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
  apps/L2A/restaurant/frontend/src/app/_features/RenderFoodCard.tsx
Labels: PR status: code ready, restaurant-team

#5469 feat: booking detail and cancelbooking page
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/my-booking/[bookingDetail]/[cancelBookingId]/page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/my-booking/[bookingDetail]/page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/specs/(main)/my-booking/BookingDetail.spec.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/my-booking/[bookingDetail]/[cancelBookingId]/page.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/my-booking/[bookingDetail]/_components/BookingDetail.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/my-booking/[bookingDetail]/page.tsx
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#5507 done
  apps/L2A/restaurant/frontend/src/app/_features/RenderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/food/_features/AdminFoodList.tsx
Labels: PR status: code ready, restaurant-team

#5517 fixed
  apps/L2A/restaurant/frontend/src/app/_components/categories.json
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
  apps/L2A/restaurant/frontend/src/app/_features/RenderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/food/_features/AdminFoodList.tsx
Labels: PR status: code ready

#5518 feat(real-estate-frontend): delete input on admin
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.basic.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
Labels: PR status: code ready, 2A-Real-Estate

#5538 fix: change font
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/match/dislike.spec.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/match/dislike.ts
Labels: PR status: code ready, backend, 2b-Tinder

#5536 feat: checkout page
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/booking-confirmation/page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/checkout/page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/specs/(main)/(searchfilter)/SearchFilter.spec.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_components/Loading.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/booking-confirmation/page.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/check-out/[roomId]/_features/BookingHotel.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/check-out/[roomId]/_features/ContactInfo.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/check-out/[roomId]/_features/GuestDetail.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/check-out/[roomId]/_features/PaymentDialog.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/check-out/[roomId]/page.tsx
  apps/L2B/hotel-booking/client/src/graphql/user.graphql
  apps/L2B/hotel-booking/client/src/utils/booking-form.ts
  apps/L2B/hotel-booking/client/src/utils/type.ts
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#5556 path folderuud uusgev
  apps/L1G/tinder/tinder-frontend/cypress/utils/all-pages.json
  apps/L1G/tinder/tinder-frontend/project.json
  apps/L1G/tinder/tinder-frontend/src/app/(auth)/login/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/(auth)/signup/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/chat/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/profile/page.tsx
Labels: PR status: code ready, 2G-Tinder
