Repository pinecone-studio/pinecone-intern-monorepo, pull requests merged in 2025-08, with the labels that each got.

#5647 bug fix
  apps/L1G/restaurant/restaurant-frontend/src/app/(admin)/layout.tsx
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5660 feat(restaurant-backend): create, update, delete food
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/create-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/delete-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/update-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/food/get-food-by-id.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/food/get-foods.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/models/food.model.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/index.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/create-food.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/delete-food.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/update-food.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/index.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/food/get-food-by-id.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/food/get-foods.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/index.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/food.schema.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/index.ts
  apps/L1G/restaurant/restaurant-backend/src/utils/types/category-type.ts
  apps/L1G/restaurant/restaurant-backend/src/utils/types/food-type.ts
Labels: PR status: code ready, backend, 2G-Restaurant-BE

#5662 [FE] Imageupload component design
  apps/L1G/tinder/tinder-frontend/src/app/(main)/profile/page.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ProfileImages.tsx
Labels: PR status: code ready, 2G-Tinder

#5669 feat: admin table getTable query with frontend
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/table/components/DialogContainer.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/table/components/SeeTableModal.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/table/components/TableGrid.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/table/image-downloader.spec.ts
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/AppolloIndex.spec.ts
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/SignInComponents.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/auth/CreateUserCard.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/utils/ErrorBoundary.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(admin)/layout.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(admin)/table/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/table.graphql
  apps/L1G/restaurant/restaurant-frontend/src/components/table/DialogContainer.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/table/SeeTableModal.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/table/TableGrid.tsx
  apps/L1G/restaurant/restaurant-frontend/src/utils/image-downloader.ts
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5678 images fix
  apps/L1G/tinder/tinder-frontend/src/components/HomePage.tsx
Labels: 2G-Tinder

#5687 feat(interests be): interests selection added
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/interests/create-interest.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/interests/delete-interest.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/interests/update-interest.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/queries/get-allinterests.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/queries/get-interest.spec.ts
  apps/L1G/tinder/tinder-backend/src/models/interests.model.ts
  apps/L1G/tinder/tinder-backend/src/models/user.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/interests/create-interest.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/interests/delete-interest.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/interests/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/interests/update-interest.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/get-allinterests.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/get-interest.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/index.ts
  apps/L1G/tinder/tinder-backend/src/schemas/index.ts
  apps/L1G/tinder/tinder-backend/src/schemas/interests.schema.ts
Labels: PR status: code ready, 2G-Tinder

#5685 fix(restaurant-backend): fixes types of reset password section
  .husky/pre-commit
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/auth/reset-password.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/auth/send-reset-code.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/auth/verify-reset-code.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/auth/reset-password.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/auth/send-reset-code.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/auth/verify-reset-code.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/user.schema.ts
Labels: PR status: code ready, 2G-Restaurant-BE

#5683 ProfileImage test
  apps/L1G/tinder/tinder-frontend/cypress/e2e/main/chat.cy.tsx
  apps/L1G/tinder/tinder-frontend/cypress/e2e/main/profile.cy.tsx
  apps/L1G/tinder/tinder-frontend/cypress/e2e/main/sign-in.cy.tsx
  apps/L1G/tinder/tinder-frontend/cypress/e2e/main/signup.cy.tsx
  apps/L1G/tinder/tinder-frontend/cypress/e2e/render-all-pages.cy.tsx
  apps/L1G/tinder/tinder-frontend/specs/ProfileImages.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/app/(auth)/signup/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/page.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ProfileImages.tsx
Labels: PR status: code ready, 2G-Tinder

#5710 5664 you are all set
  apps/L1G/tinder/tinder-frontend/specs/YouAreAllSet.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/YouAreAllSet.tsx
Labels: PR status: code ready, 2G-Tinder

#5711 5690 be update user schema
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/requestSignup.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/signup.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/verifyOtp.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/like.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/signup.spec.ts
  apps/L1G/tinder/tinder-backend/src/models/user-otp.model.ts
  apps/L1G/tinder/tinder-backend/src/models/user.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/generate-otp.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/signup.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/verify-otp.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/like.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/signup.ts
  apps/L1G/tinder/tinder-backend/src/schemas/user.ts
  apps/L1G/tinder/tinder-backend/src/utils/connect-to-db.ts
  apps/L1G/tinder/tinder-backend/src/utils/send-otp-email.ts
Labels: PR status: code ready, 2G-Tinder

#5717 5716 fe create pass component
  apps/L1G/tinder/tinder-frontend/specs/CreatePassword.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/CreatePassword.tsx
Labels: PR status: code ready, 2G-Tinder

#5715 feat: side bar nemew
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/create/post.cy.tsx
  apps/L1E/instagram/instagram-frontend/public/logo.svg
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/explore/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/notifications/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/profile/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/layout.tsx
  apps/L1E/instagram/instagram-frontend/src/app/page.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Follow_Section.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Post.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Sidebar.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Story.tsx
Labels: PR status: code ready, frontend, 2E-Instagram

#5722 feat(confirmemail.tsx): email ruu irsn otp awdg comp
  apps/L1G/tinder/tinder-frontend/specs/ConfirmEmail.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ConfirmEmail.tsx
Labels: PR status: code ready, 2G-Tinder

#5723 feat: image upload BE mutation done
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/image-upload.spec.ts
  apps/L1G/tinder/tinder-backend/src/handler.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/image-upload.ts
  apps/L1G/tinder/tinder-backend/src/schemas/user.ts
  apps/L1G/tinder/tinder-frontend/src/components/ProfileImages.tsx
Labels: PR status: code ready, 2G-Tinder

#5727 feat(restaurant-frontend): update password of resetpassword section
  apps/L1G/restaurant/restaurant-frontend/cypress/e2e/(public)/sign-up/reset-password/UpdataPassword.cy.tsx
  apps/L1G/restaurant/restaurant-frontend/cypress/utils/all-pages.json
  apps/L1G/restaurant/restaurant-frontend/src/app/(public)/reset-password/verify-password/update-password/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/reset-password.graphql
  apps/L1G/restaurant/restaurant-frontend/src/features/reset-password-comps/UpdatePassword.tsx
Labels: PR status: code ready, 2G-Restaurant-FE

#5691 5565 fe menu card
  apps/L1G/restaurant/restaurant-frontend/specs/components/homepage/HomePageContainer.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/components/homepage/MenuCard.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/category.graphql
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/food.graphql
  apps/L1G/restaurant/restaurant-frontend/src/components/home/HomePageContainer.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/home/MenuCard.tsx
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5694 feat: navbar on layout
  apps/L1G/restaurant/restaurant-frontend/cypress/tsconfig.json
  apps/L1G/restaurant/restaurant-frontend/cypress/utils/all-pages.json
  apps/L1G/restaurant/restaurant-frontend/public/log2.png
  apps/L1G/restaurant/restaurant-frontend/public/restaurant.png
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/AboutUsComponent.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(admin)/layout.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(admin)/menu/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(public)/about-us/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/components/Navbar.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/components/SheetMenuNotif.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/components/SheetMenuShop.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/components/Sheetmenu.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/layout.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/AboutUsComponent.tsx
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5740 added deploy test command
  apps/L1G/tinder/tinder-frontend/project.json
Labels: PR status: code ready

#5742 fix(restaurant-backend): fixe of possbile cause ELF header error
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/auth/reset-password.ts
Labels: PR status: code ready, 2G-Restaurant-BE

#5745 feat: image upload Frontoos Back ruu ilgeedeg bolson
  apps/L1G/tinder/tinder-backend/src/handler.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/image-upload.ts
  apps/L1G/tinder/tinder-frontend/cypress/utils/all-pages.json
  apps/L1G/tinder/tinder-frontend/specs/ProfileImages.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/app/providers/Appollo.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ProfileImages.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/image-upload.graphql
Labels: PR status: code ready, 2G-Tinder

#5744 fix: bug fix env uri
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/Navbar.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/SheetMenu.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/SheetMenuNotif.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/SheetMenuShop.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(private)/reset-password/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(private)/reset-password/verify-password/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(private)/reset-password/verify-password/update-password/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(private)/sign-in/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(private)/sign-up/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/layout.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/Navbar.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/SheetMenuNotif.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/SheetMenuShop.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/Sheetmenu.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5758 [BE] Signup, Forgotpassword
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/forgot-password.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/requestSignup.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/signup.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/verifyOtp.spec.ts
  apps/L1G/tinder/tinder-backend/src/models/user-otp.model.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/forgot-password.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/generate-otp.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/signup.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/verify-otp.ts
  apps/L1G/tinder/tinder-backend/src/schemas/user.ts
Labels: PR status: code ready, 2G-Tinder

#5770 fix: hydration error
  apps/L1G/tinder/tinder-frontend/src/app/layout.tsx
Labels: PR status: code ready, 2G-Tinder

#5772 fix: router fix
  apps/L1G/tinder/tinder-frontend/specs/ResetPassword.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ResetPassword.tsx
Labels: PR status: code ready, 2G-Tinder

#5785 fix: OTP mail minute fixed
  apps/L1G/tinder/tinder-backend/src/utils/send-otp-email.ts
Labels: PR status: code ready, 2G-Tinder

#5791 feat: FE to BE login with token
  apps/L1G/tinder/tinder-frontend/specs/LoginForm.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/Login.tsx
Labels: PR status: code ready, 2G-Tinder

#5796 fix(restaurant-backend): updateTable mutation
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/table/update-table.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/table/update-table.ts
Labels: PR status: code ready, backend, 2G-Restaurant-BE

#5798 fix(restaurant-backend) : greatetable-mutation localhost to url chnage
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/table/create-table.ts
Labels: PR status: code ready, backend, 2G-Restaurant-BE

#5801 5767 authenticate zustand 1
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/user/login.spec.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/user/register.spec.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/login.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/register.ts
  apps/L1E/instagram/instagram-backend/src/utils/check-jwt.ts
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/signup/index.cy.tsx
  apps/L1E/instagram/instagram-frontend/cypress/utils/all-pages.json
  apps/L1E/instagram/instagram-frontend/src/app/(main)/(auth)/signin/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/(auth)/signup/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/layout.tsx
  apps/L1E/instagram/instagram-frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1E/instagram/instagram-frontend/src/components/providers/AuthProvider.tsx
  apps/L1E/instagram/instagram-frontend/src/graphql/all.graphql
Labels: PR status: code ready, backend, frontend, 2E-Instagram

#5783 Feat/instagram backend ready
  apps/L1E/instagram/instagram-backend/jest.config.ts
  apps/L1E/instagram/instagram-backend/jest.setup.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/user/edit-profile.spec.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/user/follow-user.spec.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/user/login.spec.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/user/register.spec.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/user/unfollow-user.spec.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/queries/user/get-user.spec.ts
  apps/L1E/instagram/instagram-backend/src/handler.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/index.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/index.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/edit-profile.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/follow-user.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/index.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/login.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/register.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/user/unfollow-user.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/user/get-user.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/user/index.ts
  apps/L1E/instagram/instagram-backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2E-Instagram

#5802 5800 comment
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/create-post/index.spec.ts
  apps/L1E/instagram/instagram-backend/src/app/api/graphql/route.ts
  apps/L1E/instagram/instagram-backend/src/handler.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/index.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/index.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/post/create-post.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/post/index.ts
  apps/L1E/instagram/instagram-backend/src/schemas/post.schema.ts
  apps/L1E/instagram/instagram-backend/src/utils/cloudinary.ts
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/create/addCaption/index.cy.tsx
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/create/index.cy.tsx
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/create/post.cy.tsx
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/create/preview/index.cy.tsx
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/create/selectImage/index.cy.tsx
  apps/L1E/instagram/instagram-frontend/cypress/e2e/(main)/sidebar.cy.tsx
  apps/L1E/instagram/instagram-frontend/public/filedrop.svg
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/addCaption/Caption.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/preview/Preview.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/selectImage/SelectImage.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/layout.tsx
  apps/L1E/instagram/instagram-frontend/src/components/ImageCarousels.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Sidebar.tsx
  apps/L1E/instagram/instagram-frontend/src/components/context/PostContext.tsx
  apps/L1E/instagram/instagram-frontend/src/graphql/mutations/createPost/Post.tsx
Labels: PR status: code ready, backend, frontend, 2E-Instagram

#5817 feat: socketio and apollo server combined
  apps/L1E/instagram/instagram-frontend/public/Logo.svg
  apps/L1E/instagram/instagram-frontend/public/logo.svg
  apps/L1G/tinder/tinder-backend/project.json
  apps/L1G/tinder/tinder-backend/src/app/api/graphql/route.ts
  apps/L1G/tinder/tinder-backend/src/server.ts
  apps/L1G/tinder/tinder-backend/src/socket-server.ts
Labels: PR status: code ready, 2G-Tinder

#5829 5825 be updateusers passwod hashing
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/user/update-user.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/user/update-user.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/user.schema.ts
Labels: PR status: code ready, 2G-Restaurant-BE

#5832 5820 be user update mutation
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/auth/update-profile.spec.ts
  apps/L1G/tinder/tinder-backend/src/models/user-otp.model.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/update-profile.ts
Labels: PR status: code ready, 2G-Tinder

#5822 style(restaurant-frontend-helpers): change error message language, cr…
  apps/L1G/restaurant/restaurant-frontend/cypress/e2e/(public)/sign-up/CreateUserCard.cy.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/food/FormRadioInput.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/food/FormSelectInput.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/food/FormTextInput.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(public)/components/auth/CreateUserCard.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/CreateFoodDialog.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/FormRadioInput.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/FormSelectInput.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/FormTextInput.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/auth/sign-up/CreateUserCard.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/auth/sign-up/LoginButton.tsx
  apps/L1G/restaurant/restaurant-frontend/src/helpers/form-schemas.ts
  apps/L1G/restaurant/restaurant-frontend/src/utils/FormSchemas.tsx
  apps/L1G/restaurant/restaurant-frontend/src/utils/SignUpUtils.tsx
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5833 5831 socket io deploy to render
  apps/L1G/tinder/tinder-backend/src/handler.ts
  apps/L1G/tinder/tinder-backend/src/server.ts
  apps/L1G/tinder/tinder-backend/src/socket-server.ts
Labels: PR status: code ready, 2G-Tinder

#5845 feat(get user by id): get user by id
  apps/L1G/tinder/tinder-backend/specs/resolvers/queries/get-user-by-id.spec.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/get-user-by-id.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/index.ts
  apps/L1G/tinder/tinder-backend/src/schemas/user.ts
Labels: PR status: code ready, 2G-Tinder

#5857 feat(comp): itsAmAtch component create
  apps/L1G/tinder/tinder-frontend/specs/ItsAmAtch.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ItsAmAtch.tsx
Labels: PR status: code ready, 2G-Tinder

#5860 feat: match hiihed dialog garj irne
  apps/L1G/tinder/tinder-backend/specs/resolvers/queries/me.spec.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/me.ts
  apps/L1G/tinder/tinder-backend/src/schemas/user.ts
  apps/L1G/tinder/tinder-frontend/specs/MatchDialogClose.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/ProfileSwiper.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/app/(main)/home/page.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MatchDialogClose.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ProfileSwiper.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/dislike.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/like.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/signup.graphql
Labels: PR status: code ready, 2G-Tinder

#5863 5816 fe profile search
  apps/L1E/instagram/instagram-backend/specs/resolvers/queries/user/get-profiles.spec.ts
  apps/L1E/instagram/instagram-backend/specs/resolvers/queries/user/get-someone-profile.spec.ts
  apps/L1E/instagram/instagram-backend/src/handler.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/user/get-profiles.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/user/get-someone-profile.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/user/index.ts
  apps/L1E/instagram/instagram-backend/src/schemas/user.schema.ts
  apps/L1E/instagram/instagram-frontend/specs/Search.spec.tsx
  apps/L1E/instagram/instagram-frontend/specs/SearchNoResult.spec.tsx
  apps/L1E/instagram/instagram-frontend/specs/SearchResponse.spec.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/(auth)/signin/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/(auth)/signup/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/[userName]/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/explore/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/profile/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/layout.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Sidebar.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Types.tsx
  apps/L1E/instagram/instagram-frontend/src/components/profile/ProfileButtons.tsx
  apps/L1E/instagram/instagram-frontend/src/components/profile/ProfilePosts.tsx
  apps/L1E/instagram/instagram-frontend/src/components/providers/AuthProvider.tsx
  apps/L1E/instagram/instagram-frontend/src/components/providers/index.ts
  apps/L1E/instagram/instagram-frontend/src/components/search/Search.tsx
  apps/L1E/instagram/instagram-frontend/src/components/search/SearchNoResult.tsx
  apps/L1E/instagram/instagram-frontend/src/components/search/SearchResponse.tsx
  apps/L1E/instagram/instagram-frontend/src/graphql/all.graphql
  apps/L1E/instagram/instagram-frontend/tsconfig.json
  package.json
Labels: PR status: code ready, backend, frontend, 2E-Instagram

#5870 5861 current userid front deer avdag bolgoh
  apps/L1G/tinder/tinder-backend/specs/resolvers/queries/me.spec.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/index.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/me.ts
  apps/L1G/tinder/tinder-backend/src/types/index.ts
  apps/L1G/tinder/tinder-frontend/src/app/(main)/home/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/contexts/CurrentUserContext.tsx
  apps/L1G/tinder/tinder-frontend/src/app/layout.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/queries/me.graphql
Labels: PR status: code ready, 2G-Tinder

#5875 feat(restaurant-backend-discount): create, update, delete discount
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/discount/create-discount.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/discount/delete-discount.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/discount/update-discount.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/discount/get-discounts.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/models/discount.model.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/discount/create-discount.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/discount/delete-discount.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/discount/update-discount.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/index.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/discount/get-discounts.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/index.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/discount.schema.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/index.ts
  apps/L1G/restaurant/restaurant-backend/src/utils/types/discount-type.ts
Labels: PR status: code ready, backend, 2G-Restaurant-BE

#5888 fix: socket server setup hiiv
  apps/L1G/tinder/socket-server/package.json
  apps/L1G/tinder/socket-server/src/server.ts
  apps/L1G/tinder/socket-server/tsconfig.json
  apps/L1G/tinder/tinder-backend/src/server.ts
Labels: PR status: code ready, 2G-Tinder

#5889 5885 fe be signup new branch
  apps/L1G/tinder/tinder-frontend/specs/ConfirmEmail.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/CreateAcc.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/CreatePassword.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/FormField.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/GenderSelect.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/HowOldAreYou.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/MultiSelect.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/MultiStepForm.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/MultiStepForm2.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/MyProfileForm.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/ProfileImages.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/ProfileInputField.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/YourDetailsPage.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/app/(auth)/forgot-password/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/(auth)/signup/page.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ConfirmEmail.tsx
  apps/L1G/tinder/tinder-frontend/src/components/CreateAcc.tsx
  apps/L1G/tinder/tinder-frontend/src/components/CreatePassword.tsx
  apps/L1G/tinder/tinder-frontend/src/components/EmailForm.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ForgetPassword.tsx
  apps/L1G/tinder/tinder-frontend/src/components/FormFIeld.tsx
  apps/L1G/tinder/tinder-frontend/src/components/FormNew.tsx
  apps/L1G/tinder/tinder-frontend/src/components/GenderSelect.tsx
  apps/L1G/tinder/tinder-frontend/src/components/HowOldAreYou.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MultiSelect.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MultiStepForm1.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MultiStepForm2.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MyProfileForm.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ProfileImages.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ProfileInputField.tsx
  apps/L1G/tinder/tinder-frontend/src/components/YourDetailsPage.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/update-profile.graphql
Labels: PR status: code ready, 2G-Tinder

#5897 fix(restaurant-backend food): change food mongoose model
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/create-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/delete-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/models/food.model.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/create-food.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/delete-food.ts
Labels: PR status: code ready, backend, 2G-Restaurant-BE

#5899 5896 be getuser interestname fix
  apps/L1G/tinder/tinder-backend/specs/resolvers/queries/get-user-by-id.spec.ts
  apps/L1G/tinder/tinder-backend/specs/resolvers/queries/getusers.spec.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/get-user-by-id.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/queries/getusers.ts
Labels: PR status: code ready, 2G-Tinder

#5916 fix(restaurant-frontend food): change food graphql, add discount graphql
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/update-food-by-status.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/update-food-by-status.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/food.schema.ts
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/food/FoodCreateDialog.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/food/FoodUpdateDialog.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/food/FoodUpdateForm.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/utils/FoodMockData.tsx
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/discount.graphql
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/food.graphql
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/AllFoodsCard.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/FoodCreateDialog.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/FoodUpdateDialog.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/FoodUpdateForm.tsx
  apps/L1G/restaurant/restaurant-frontend/src/utils/FoodTypes.tsx
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5918 feat(restaurant-frontend admin-menu): create new category and discount
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/index.ts
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/menu/CategoryCreateDialog.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/(admin)/components/menu/DiscountCreateDialog.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/utils/FoodMockData.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/food/FoodCreateDialog.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/menu/CategoryCreateDialog.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/menu/DiscountCreateDialog.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/admin/menu/FormFieldInput.tsx
  apps/L1G/restaurant/restaurant-frontend/src/helpers/form-schemas.ts
Labels: PR status: code ready, frontend, 2G-Restaurant-FE

#5920 feat: server update
  apps/L1G/tinder/socket-server/src/server.ts
Labels: PR status: code ready, 2G-Tinder

#5923 fix: butsaalaa
  apps/L1G/tinder/socket-server/src/server.ts
Labels: PR status: code ready, 2G-Tinder

#5925 feat: seen logic
  apps/L1G/tinder/socket-server/src/server.ts
Labels: PR status: code ready, 2G-Tinder

#5927 fix: gender input fixed
  apps/L1G/tinder/tinder-frontend/specs/FormField.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/FormNew.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/update-profile.graphql
Labels: PR status: code ready, 2G-Tinder

#5928 feat(tinder card): user interest in home page
  apps/L1G/tinder/tinder-frontend/specs/FormField.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/Interest.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/Loading.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/MyProfileForm.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/TinderCard-Profile.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/TinderCard-image.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/TinderCardParts.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/app/(main)/home/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/page.tsx
  apps/L1G/tinder/tinder-frontend/src/components/FormNew.tsx
  apps/L1G/tinder/tinder-frontend/src/components/Interest.tsx
  apps/L1G/tinder/tinder-frontend/src/components/Loading.tsx
  apps/L1G/tinder/tinder-frontend/src/components/TinderCardParts.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/queries/getusers.graphql
Labels: PR status: code ready, 2G-Tinder

#5939 CHAT ajildag bolgoson shu
  apps/L1G/tinder/tinder-backend/specs/resolvers/mutations/login.spec.ts
  apps/L1G/tinder/tinder-backend/src/resolvers/mutations/auth/login.ts
  apps/L1G/tinder/tinder-frontend/hooks/useMarkMessagesAsSeen.ts
  apps/L1G/tinder/tinder-frontend/hooks/useMessageSending.ts
  apps/L1G/tinder/tinder-frontend/hooks/useSocketConnection.ts
  apps/L1G/tinder/tinder-frontend/hooks/useUserManagement.ts
  apps/L1G/tinder/tinder-frontend/specs/ChatPage.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/ChatWindow.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/__tests__/hooks/useMessageSending.test.ts
  apps/L1G/tinder/tinder-frontend/src/components/Avatar.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ChatHeader.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ChatPage.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ChatPerson.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ChatWindow.tsx
  apps/L1G/tinder/tinder-frontend/src/components/FormNew.tsx
  apps/L1G/tinder/tinder-frontend/src/components/Matches.tsx
  apps/L1G/tinder/tinder-frontend/src/components/TinderCardParts.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ViewProfile.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/mark-message.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/queries/get-chat-user.graphql
  apps/L1G/tinder/tinder-frontend/types/chat.ts
  apps/L1G/tinder/tinder-frontend/utils/socket.ts
Labels: PR status: code ready, 2G-Tinder

#5941 feat: create post with userID without api key
  apps/L1E/instagram/instagram-backend/specs/resolvers/mutations/create-post/index.spec.ts
  apps/L1E/instagram/instagram-backend/src/handler.ts
  apps/L1E/instagram/instagram-backend/src/models/post.model.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/mutations/post/create-post.ts
  apps/L1E/instagram/instagram-backend/src/schemas/post.schema.ts
  apps/L1E/instagram/instagram-backend/src/utils/cloudinary.ts
  apps/L1E/instagram/instagram-frontend/src/app/layout.tsx
  apps/L1E/instagram/instagram-frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1G/tinder/tinder-frontend/cypress/utils/all-pages.json
Labels: PR status: code ready, backend, frontend, 2E-Instagram

#5945 5865 2e instagram create post debug
  apps/L1E/instagram/instagram-backend/src/handler.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/index.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/post/get-my-posts.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/post/get-posts.ts
  apps/L1E/instagram/instagram-backend/src/resolvers/queries/post/index.ts
  apps/L1E/instagram/instagram-backend/src/schemas/post.schema.ts
  apps/L1E/instagram/instagram-frontend/src/app/(auth)/signin/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(auth)/signup/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/addCaption/Caption.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/create/selectImage/SelectImage.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/layout.tsx
  apps/L1E/instagram/instagram-frontend/src/app/(main)/page.tsx
  apps/L1E/instagram/instagram-frontend/src/app/layout.tsx
  apps/L1E/instagram/instagram-frontend/src/components/Sidebar.tsx
  apps/L1E/instagram/instagram-frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1E/instagram/instagram-frontend/src/components/providers/AuthProvider.tsx
Labels: backend, frontend, 2E-Instagram

#5954 feat(name&gender input): nameGenderPreference comp created
  apps/L1G/tinder/tinder-frontend/specs/MyProfileForm.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/NameEmailFields.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/NameGenderPreferenceFields.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MyProfileForm.tsx
  apps/L1G/tinder/tinder-frontend/src/components/NameEmailFields.tsx
  apps/L1G/tinder/tinder-frontend/src/components/NameGenderPreferenceFields.tsx
Labels: PR status: code ready, 2G-Tinder

#5957 5942 chatiig zastsan sd
  apps/L1G/tinder/tinder-frontend/hooks/useMarkMessagesAsSeen.ts
  apps/L1G/tinder/tinder-frontend/hooks/useMessageSending.ts
  apps/L1G/tinder/tinder-frontend/specs/ChatPage.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/Header.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/__tests__/hooks/useMessageSending.test.ts
  apps/L1G/tinder/tinder-frontend/src/components/ChatPage.tsx
  apps/L1G/tinder/tinder-frontend/src/components/Header.tsx
Labels: PR status: code ready, 2G-Tinder

#5966 feat(restaurant-backend): change schema, model, resolvers
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/add-food-to-category.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/add-food-to-discount.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/create-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/delete-food-from-category.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/delete-food-from-discount.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/delete-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/update-food-by-discount.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/update-food-by-status.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/food/update-food.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/category/get-categories.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/category/get-category-by-id.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/discount/get-discounts.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/food/get-foods-by-status.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/models/category.model.ts
  apps/L1G/restaurant/restaurant-backend/src/models/discount.model.ts
  apps/L1G/restaurant/restaurant-backend/src/models/food.model.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/add-food-to-category.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/add-food-to-discount.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/create-food.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/delete-food-from-category.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/delete-food-from-discount.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/delete-food.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/update-food-by-discount.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/update-food-by-status.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/food/update-food.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/index.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/category/get-categories.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/category/get-category-by-id.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/discount/get-discounts.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/food/get-foods-by-status.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/queries/index.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/category.schema.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/discount.schema.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/food.schema.ts
Labels: PR status: code ready, backend, 2G-Restaurant-BE

#5963 nass
  apps/L1G/tinder/tinder-frontend/specs/HowOldAreYou.spec.tsx
  apps/L1G/tinder/tinder-frontend/specs/date-utils.spec.ts
  apps/L1G/tinder/tinder-frontend/src/app/(auth)/forgot-password/page.tsx
  apps/L1G/tinder/tinder-frontend/src/app/(auth)/signup/page.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ConfirmEmail.tsx
  apps/L1G/tinder/tinder-frontend/src/components/CreateAcc.tsx
  apps/L1G/tinder/tinder-frontend/src/components/CreatePassword.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ForgetPassword.tsx
  apps/L1G/tinder/tinder-frontend/src/components/FormNew.tsx
  apps/L1G/tinder/tinder-frontend/src/components/GenderOfUser.tsx
  apps/L1G/tinder/tinder-frontend/src/components/GenderSelect.tsx
  apps/L1G/tinder/tinder-frontend/src/components/HowOldAreYou.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MultiStepForm1.tsx
  apps/L1G/tinder/tinder-frontend/src/components/MultiStepForm2.tsx
  apps/L1G/tinder/tinder-frontend/src/components/ProfileImages.tsx
  apps/L1G/tinder/tinder-frontend/src/components/YourDetailsPage.tsx
  apps/L1G/tinder/tinder-frontend/src/components/date-utils.ts
  apps/L1G/tinder/tinder-frontend/types/chat.ts
Labels: PR status: code ready, 2G-Tinder

#5968 jwt sign with user instead od user._id
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/table/delete-table.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/order/get-order-by-userId.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/auth/sign-in.ts
Labels: PR status: code ready, backend, 2G-Restaurant-BE

#5971 fix: server fix
  apps/L1G/tinder/socket-server/src/server.ts
Labels: PR status: code ready, 2G-Tinder
