Repository pinecone-studio/pinecone-intern-monorepo, pull requests merged in 2025-02, with the labels that each got.

#3781 hotels that names include input search query done
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotels-by-name.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotels-by-name.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3783 feat(real-estate-backend post): some problem fixed
  apps/L1FG/real-state/backend/specs/resolvers/mutations/add-property-mutation.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/owner/add-owner.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/owner/delete-owner.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/owner/update-owner.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/mutations/post/add-post.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/queries/owner/get-owner-by-id.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/queries/post/get-post-by-id.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/queries/post/get-posts.spec.ts
  apps/L1FG/real-state/backend/src/models/owner-model.ts
  apps/L1FG/real-state/backend/src/models/post-model.ts
  apps/L1FG/real-state/backend/src/models/property-feature.model.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/add-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/delete-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/owner/updated-owner-resolver.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/post/add-post.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/post/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/property/add-property-mutation.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/index.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/owner/get-owner-by-id.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/owner/get-owners.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/owner/index.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/post/get-post-by-id.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/post/get-posts.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/post/index.ts
  apps/L1FG/real-state/backend/src/schemas/index.ts
  apps/L1FG/real-state/backend/src/schemas/owner-schema.ts
  apps/L1FG/real-state/backend/src/schemas/post-schema.ts
  apps/L1FG/real-state/backend/src/schemas/property-features.schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#3786 ih unetei esvel baga uneteigeer ni haidag query done
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotels-by-price.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotels-by-price.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3788 [instagram][backend] small posts
  apps/L1FG/instagram/backend/specs/resolvers/queries/post/get-small-posts-v1.spec.ts
  apps/L1FG/instagram/backend/src/models/user.model.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/get-small-posts-v1.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/index.ts
  apps/L1FG/instagram/backend/src/resolvers/user/user-together-user-type/latest-story-timestamp.ts
  apps/L1FG/instagram/backend/src/resolvers/user/user-together-user-type/seen-story-time.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
Labels: PR status: code ready, backend, Instagram

#3792 star rating query done fixed
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotels-by-star-rating.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotels-by-star-rating.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3797 feat: navigation deer link tavisan
  apps/L1FG/hotel-booking/frontend/cypress/e2e/user/booking-page.cy.tsx
  apps/L1FG/hotel-booking/frontend/cypress/utils/all-pages.json
  apps/L1FG/hotel-booking/frontend/src/components/user/main/NavigationBlue.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3757 feat(frontend): pages
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/search/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/utils/all-pages.json
  apps/L1FG/concert-ticket/frontend/specs/components/detail/InfoContainer.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/detail/[ticketID]/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/layout.tsx
  apps/L1FG/concert-ticket/frontend/src/app/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/search/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/ticketReservation/[ticketID]/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/detail/InfoContainer.tsx
Labels: PR status: code ready, backend, 1FG-concert-ticket

#3798 feat: comment backend
  apps/L1FG/instagram/backend/specs/resolvers/mutations/comment/create-comment.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/comment/get-comment.ts
Labels: PR status: code ready, backend, Instagram

#3801 feat(insta): saved users be
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/delete-search-user.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/saved-search-user.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/delete-search-user.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/saved-search-user.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#3804 feat(backend): order status update
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/order-status-up.spec.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/update-order-status.ts
  apps/L1FG/restaurant/backend/src/schemas/common.schema.ts
Labels: PR status: code ready, backend, restaurant-team

#3812 3761 backend user.schema change
  apps/L1FG/instagram/backend/specs/resolvers/user-post-type/user.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user-together-user-type/friendship-status.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user-together-user-type/latest-story-timestamp.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user-together-user-type/seen-story-time.spec.ts
  apps/L1FG/instagram/backend/src/models/user.model.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/get-small-posts-v1.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#3805 feat(insta): saved users fe
  apps/L1FG/instagram/frontend/specs/components/post/CreatePostCaption.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/search/SavedUsers.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/search/Users.spec.tsx
  apps/L1FG/instagram/frontend/src/components/search/SavedUsers.tsx
  apps/L1FG/instagram/frontend/src/components/search/SearchSheet.tsx
  apps/L1FG/instagram/frontend/src/components/search/Users.tsx
  apps/L1FG/instagram/frontend/src/graphql/user.graphql
Labels: PR status: code ready, frontend, Instagram

#3827 feat: getComments frontend
  apps/L1FG/instagram/frontend/specs/components/profile/CreateComment.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/GetComments.spec.tsx
  apps/L1FG/instagram/frontend/src/app/layout.tsx
  apps/L1FG/instagram/frontend/src/components/profile/CreateComment.tsx
  apps/L1FG/instagram/frontend/src/components/profile/GetComments.tsx
  apps/L1FG/instagram/frontend/src/components/profile/PostEmpty.tsx
  apps/L1FG/instagram/frontend/src/components/profile/PostModal.tsx
  apps/L1FG/instagram/frontend/src/graphql/comment.graphql
Labels: PR status: code ready, frontend, Instagram

#3829 feat: done
  apps/L1FG/concert-ticket/frontend/specs/components/alert/Alert.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/header/header.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/layout.tsx
  apps/L1FG/concert-ticket/frontend/src/components/alert/Alert.tsx
  apps/L1FG/concert-ticket/frontend/src/components/header/Header.tsx
  apps/L1FG/concert-ticket/frontend/src/components/providers/AlertProvider.tsx
  apps/L1FG/concert-ticket/frontend/src/components/providers/AuthProvider.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3823 docs(file changes): file changes
  apps/L1FG/concert-ticket/frontend/specs/components/password-reset/PasswordReset.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/passwordResetPage/codeInput/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/passwordResetPage/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/passwordresert/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/carousel/Carousel.tsx
  apps/L1FG/concert-ticket/frontend/src/components/passwordReset/PasswordReset.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketCard/Cards.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3810 feat(frontend): update order status
  apps/L1FG/restaurant/frontend/specs/components/admin/ad-order-status.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/admin/admin-main.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-page-comp/AdminMainPageComp.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-page-comp/OrderStatusUpdate.tsx
  apps/L1FG/restaurant/frontend/src/graphql/order.graphql
Labels: PR status: code ready, frontend, restaurant-team

#3834 feat(frontend): admin done order card dialog
  apps/L1FG/restaurant/frontend/specs/components/admin/ad-order-det-dialog.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-page-comp/AdminMainPageComp.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-page-comp/AdminOrderDetDialog.tsx
Labels: PR status: code ready, frontend, restaurant-team

#3837 feat(admin single page): admin single page hiiv
  apps/L1FG/real-state/frontend/public/cover.png
  apps/L1FG/real-state/frontend/specs/components/adminSinglePage/ AdminAboutApartment.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/adminSinglePage/AdminSideInfo.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/layout/icons/HouseIcon.spec.tsx
  apps/L1FG/real-state/frontend/src/app/admin/real-estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/app/admin/real-estates/page.tsx
  apps/L1FG/real-state/frontend/src/app/admin/single-page/page.tsx
  apps/L1FG/real-state/frontend/src/app/layout.tsx
  apps/L1FG/real-state/frontend/src/components/adminPage/AdminOwnerPost.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/AdminAboutApartment.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/AdminApartmentLocation.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/AdminBasicInformation.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/AdminPictures.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/AdminSideInfo.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/AdminSinglePage.tsx
  apps/L1FG/real-state/frontend/src/components/adminSinglePage/types.ts
  apps/L1FG/real-state/frontend/src/components/layout/icons/BathIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/RoomIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/SizeIcon.tsx
  apps/L1FG/real-state/frontend/src/components/layout/icons/SmallHouseIcon.tsx
  apps/L1FG/real-state/frontend/src/graphql/post.graphql
Labels: PR status: code ready, frontend, Real-State-24_6

#3833 feat(insta): like be
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/delete.post.like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/post/get-has-like.spec.ts
  apps/L1FG/instagram/backend/src/models/post-like.model.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/get-has-like.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/get-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/index.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
Labels: PR status: code ready, backend, Instagram

#3840 feat: getComments profile
  apps/L1FG/instagram/frontend/specs/components/profile/PostModal.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Followers.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Following.tsx
  apps/L1FG/instagram/frontend/src/components/profile/GetComments.tsx
  apps/L1FG/instagram/frontend/src/components/profile/IconPostSavedTag.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Post.tsx
  apps/L1FG/instagram/frontend/src/components/profile/PostModal.tsx
Labels: PR status: code ready, frontend, Instagram

#3844 forget pass done
  apps/L1FG/restaurant/frontend/specs/components/NewPassword.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/Otp.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ResetPassword.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/admin/admin-main.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/done/page.tsx
  apps/L1FG/restaurant/frontend/src/app/new-password/page.tsx
  apps/L1FG/restaurant/frontend/src/app/otp/page.tsx
  apps/L1FG/restaurant/frontend/src/app/reset-password/layout.tsx
  apps/L1FG/restaurant/frontend/src/app/reset-password/new-password/page.tsx
  apps/L1FG/restaurant/frontend/src/app/reset-password/otp/page.tsx
  apps/L1FG/restaurant/frontend/src/app/reset-password/page.tsx
  apps/L1FG/restaurant/frontend/src/components/NewPassword.tsx
  apps/L1FG/restaurant/frontend/src/components/Otp.tsx
  apps/L1FG/restaurant/frontend/src/components/ResetPassword.tsx
  apps/L1FG/restaurant/frontend/src/graphql/change-password.graphql
  apps/L1FG/restaurant/frontend/src/graphql/requestpass.graphql
  apps/L1FG/restaurant/frontend/src/graphql/restore-forget-password.graphql
Labels: PR status: code ready, frontend, restaurant-team

#3846 feat: asdf
  apps/L1FG/instagram/backend/specs/resolvers/user-post-type/user.spec.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
Labels: PR status: code ready, backend, Instagram

#3854 post frontend fix
  apps/L1FG/instagram/frontend/jest.config.ts
  apps/L1FG/instagram/frontend/specs/components/create-post/CreatePostCaption.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/create-post/CreatePostHeader.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/create-post/CreatePostImagePreview.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/create-post/CreatePostLast.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/create-post/CreatePostStep1.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/create-post/CreatePostStep2.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/Avatar.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/PostCaption.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/PostComment.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/PostsSwiper.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/Username.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/mock.ts
  apps/L1FG/instagram/frontend/specs/components/login-signup/Link.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/login-signup/LoginForm.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/login-signup/PlusSvg.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/login-signup/SignupForm.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/main-mid/main-page-post-part1.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/utils/comment-text.spec.tsx
  apps/L1FG/instagram/frontend/src/app/(public)/login/_features/Login.tsx
  apps/L1FG/instagram/frontend/src/app/(public)/login/page.tsx
  apps/L1FG/instagram/frontend/src/app/(public)/password/reset/_features/PasswordReset.tsx
  apps/L1FG/instagram/frontend/src/app/(public)/password/reset/page.tsx
  apps/L1FG/instagram/frontend/src/app/(public)/signup/_features/Signup.tsx
  apps/L1FG/instagram/frontend/src/app/(public)/signup/page.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePost.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePostStep1.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePostStep2.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/last-create-post/CaptionInput.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/last-create-post/Header.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/last-create-post/ImagePreview.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Avatar.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostCaption.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostComment.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostsSwiper.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Username.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/index.ts
  apps/L1FG/instagram/frontend/src/components/home/left/Create.tsx
  apps/L1FG/instagram/frontend/src/components/home/left/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/home/left/SidebarContent.tsx
  apps/L1FG/instagram/frontend/src/components/home/left/Svg/Heart.tsx
  apps/L1FG/instagram/frontend/src/components/home/main/MainPagePost.tsx
  apps/L1FG/instagram/frontend/src/components/profile/PostEmpty.tsx
  apps/L1FG/instagram/frontend/src/components/svg/HomeSvg.tsx
  apps/L1FG/instagram/frontend/src/components/svg/InstaSvg.tsx
  apps/L1FG/instagram/frontend/src/components/svg/InstagramSvg.tsx
  apps/L1FG/instagram/frontend/src/components/svg/PlusSvg.tsx
  apps/L1FG/instagram/frontend/src/components/svg/SearchSvg.tsx
  apps/L1FG/instagram/frontend/src/components/svg/UserSvg.tsx
  apps/L1FG/instagram/frontend/src/components/utils/comment-text.ts
Labels: PR status: code ready, frontend, Instagram

#3856 feat(backend): order backend
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/concert/update-concert-ticket.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/orders/create-order.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/orders/delete-order.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/ticket/create-ticket.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/ticket/delete-ticket.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/orders/get-order.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/orders/get-orders.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/tickets/get-ticket.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/tickets/get-tickets.spec.ts
  apps/L1FG/concert-ticket/backend/src/models/index.ts
  apps/L1FG/concert-ticket/backend/src/models/order.model.ts
  apps/L1FG/concert-ticket/backend/src/models/ticket.model.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/concert/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/concerts/create-concert.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/concerts/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/concerts/update-concert-ticket.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/orders/create-order.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/orders/delete-order.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/orders/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/tickets/create-ticket.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/tickets/delete-ticket.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/tickets/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/users/sign-in.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/orders/get-order.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/orders/get-orders.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/orders/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/ticket/get-ticket.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/ticket/get-tickets.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/ticket/index.ts
  apps/L1FG/concert-ticket/backend/src/schemas/concert.schema.ts
  apps/L1FG/concert-ticket/backend/src/schemas/index.ts
  apps/L1FG/concert-ticket/backend/src/schemas/order.schema.ts
  apps/L1FG/concert-ticket/backend/src/schemas/ticket.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#3848 3847 user backend create new password fix
  apps/L1FG/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/updateuser/change-password.ts
  apps/L1FG/restaurant/frontend/specs/components/NewPassword.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/done/page.tsx
  apps/L1FG/restaurant/frontend/src/app/new-password/page.tsx
  apps/L1FG/restaurant/frontend/src/components/NewPassword.tsx
  apps/L1FG/restaurant/frontend/src/components/ResetPassword.tsx
Labels: PR status: code ready, backend, frontend, restaurant-team

#3857 update register
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/login-user.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/updateuser/change-password.spec.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/create-user.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/login-user.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/updateuser/change-password.ts
  apps/L1FG/restaurant/backend/src/schemas/user.schema.ts
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/RegisterPage.tsx
Labels: PR status: code ready, backend, restaurant-team

#3859 image optimizer
  apps/L1FG/instagram/frontend/specs/components/home-post/PostsSwiper.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/main-mid/main-page-post-part1.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/utils/image-url-optimizer.spec.ts
  apps/L1FG/instagram/frontend/src/components/home-post/Avatar.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostsSwiper.tsx
  apps/L1FG/instagram/frontend/src/components/utils/image-url-optimizer.ts
Labels: PR status: code ready, Instagram

#3863 bug fixed
  apps/L1FG/restaurant/frontend/src/graphql/change-password.graphql
Labels: PR status: code ready, restaurant-team

#3861 feat: data table
  apps/L1FG/hotel-booking/frontend/specs/components/admin/guest/GuestDataTable.spec.tsx
  apps/L1FG/hotel-booking/frontend/src/app/admin/guests/[id]/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/guest/GuestDataTable.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/ui/HotelDataTable.tsx
  apps/L1FG/hotel-booking/frontend/src/features/admin/GuestPage.tsx
  apps/L1FG/hotel-booking/frontend/src/graphql/booking.graphql
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3866 forget pass done
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/login-user.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/updateuser/change-password.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/updateuser/update-user-password.spec.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/create-user.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/login-user.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/updateuser/change-password.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/updateuser/update-user-password.ts
  apps/L1FG/restaurant/backend/src/schemas/user.schema.ts
  apps/L1FG/restaurant/frontend/specs/components/LoginPage.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/NewPassword.tsx
Labels: PR status: code ready, backend, restaurant-team

#3869 story seen
  apps/L1FG/instagram/frontend/specs/components/home-post/Avatar.spec.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Avatar.tsx
Labels: Instagram

#3871 feat: settings
  apps/L1FG/instagram/frontend/cypress/e2e/(private)/settings/page.cy.tsx
  apps/L1FG/instagram/frontend/specs/components/settings/SettingsInsta.spec.tsx
  apps/L1FG/instagram/frontend/src/app/(private)/settings/page.tsx
  apps/L1FG/instagram/frontend/src/components/settings/Settings.tsx
  apps/L1FG/instagram/frontend/src/graphql/infoUpdate.graphql
Labels: PR status: code ready, frontend, Instagram

#3872 feat(insta): notification be
  apps/L1FG/instagram/backend/specs/resolvers/mutations/notification/get-notification.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/create-postLike.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/notification-type.spec.ts/content-post.spec.ts
  apps/L1FG/instagram/backend/src/models/index.ts
  apps/L1FG/instagram/backend/src/models/notification.model.ts
  apps/L1FG/instagram/backend/src/resolvers/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/content-post.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/index.ts
  apps/L1FG/instagram/backend/src/resolvers/post/user-post-type/user.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/index.ts
  apps/L1FG/instagram/backend/src/schemas/index.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
Labels: PR status: code ready, backend, Instagram

#3873 backend fix
  apps/L1FG/instagram/backend/specs/resolvers/comment/comment-detail-type/comment-liked.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/delete.post.like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/post/get-has-like.spec.ts
  apps/L1FG/instagram/backend/src/models/post-like.model.ts
  apps/L1FG/instagram/backend/src/resolvers/comment/comment-detail-type/comment-liked.ts
  apps/L1FG/instagram/backend/src/resolvers/comment/comment-detail-type/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/get-has-like.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/get-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/index.ts
  apps/L1FG/instagram/backend/src/schemas/comment.schema.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
Labels: PR status: code ready, backend, Instagram

#3875 feat: like fe
  apps/L1FG/instagram/frontend/jest.config.ts
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home/main/PostLike.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/LikedPost.tsx
  apps/L1FG/instagram/frontend/src/components/search/SavedUsers.tsx
  apps/L1FG/instagram/frontend/src/graphql/post.graphql
Labels: PR status: code ready, frontend, Instagram

#3879 date and traveller search query done
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotels-by-date-traveller.spec.ts
  apps/L1FG/hotel-booking/backend/src/app/page.tsx
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/hotel/create-hotel.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotels-by-date-traveller.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3883 feat(populate user): populate user yanzlav
  apps/L1FG/real-state/backend/specs/resolvers/queries/post/get-post-by-id.spec.ts
  apps/L1FG/real-state/backend/specs/resolvers/queries/post/get-posts.spec.ts
  apps/L1FG/real-state/backend/src/models/post-model.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/post/get-post-by-id.ts
  apps/L1FG/real-state/backend/src/resolvers/queries/post/get-posts.ts
  apps/L1FG/real-state/backend/src/schemas/post-schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#3886 feat: fix be
  apps/L1FG/instagram/backend/specs/resolvers/mutations/notification/get-notification.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/notification/get-notification.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
Labels: PR status: code ready, backend, Instagram

#3895 feat(be): bE concert schema id changed
  apps/L1FG/concert-ticket/backend/src/schemas/concert.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#3898 feat(fe): fe admin page -- can get dialog input value
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/admin-test/DatePicker.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/admin-test/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/utils/all-pages.json
  apps/L1FG/concert-ticket/frontend/specs/components/admin-header/AdminHeader.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/admin-hero/AdminHero.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/admin-page/AdminPage.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/adminDatePicker/DatePicker.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/admindialog/AdminDialog.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/dialogcontext/DialogContext.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/dialogcontext/TestComponent.tsx
  apps/L1FG/concert-ticket/frontend/src/app/admin/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/global.css
  apps/L1FG/concert-ticket/frontend/src/components/adminHero/AdminHero.tsx
  apps/L1FG/concert-ticket/frontend/src/components/admincontext/DialogContext.tsx
  apps/L1FG/concert-ticket/frontend/src/components/adminfeature/AdminDialog.tsx
  apps/L1FG/concert-ticket/frontend/src/components/adminfeature/RangeDatePicker.tsx
  apps/L1FG/concert-ticket/frontend/src/components/adminfeature/concert-type.ts
  apps/L1FG/concert-ticket/frontend/src/components/header/AdminHeader.tsx
  apps/L1FG/concert-ticket/frontend/src/components/pages/admin-page.tsx
  apps/L1FG/concert-ticket/frontend/src/graphql/concert.graphql
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/storage.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3899 feat: fE Nodemailer OTp some pages
  apps/L1FG/concert-ticket/backend/src/utils/nodemailer.ts
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/code-Input/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/passwordResetPage/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/signin/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/signup/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/codeInput/CodeInput.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/detail/ComboxBox.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/VipTicket.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/codeInput/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/resetPasswordPage/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/codeInput/CodeInput.tsx
  apps/L1FG/concert-ticket/frontend/src/components/detail/ComboBox.tsx
  apps/L1FG/concert-ticket/frontend/src/components/detail/HandleComboBox.tsx
  apps/L1FG/concert-ticket/frontend/src/components/detail/InfoContainer.tsx
  apps/L1FG/concert-ticket/frontend/src/components/login/SignIn.tsx
  apps/L1FG/concert-ticket/frontend/src/components/passwordReset/PasswordReset.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/Ticketreservation.tsx
Labels: PR status: code ready, 1FG-concert-ticket

#3904 feat(frontend): wrapper fix
  apps/L1FG/restaurant/frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, frontend, restaurant-team

#3905 feat: value tsugluulalt
  apps/L1FG/hotel-booking/frontend/specs/components/user/search-result/LeftNavbar.spec.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/LeftNavbar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/MainSearchResult.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/SearchresultPage.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/search-result/LeftNavbar.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3909 fix(real-estate_backend bug): query
  apps/L1FG/real-state/backend/src/resolvers/queries/post/get-posts.ts
  apps/L1FG/real-state/backend/src/schemas/post-schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#3912 feat(fe): fe admin footer header hide
  apps/L1FG/concert-ticket/frontend/src/app/layout.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3915 feat: getByDate, getByPrice hotel hoy qeurie negtgesen neg querie bi…
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-all-querie.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-all-querie.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3918 feat: commentLike backend count nemeh
  apps/L1FG/instagram/backend/specs/resolvers/mutations/comment/create-comment-like.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/comment/comment-detail-type/comment-liked.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment-like.ts
  apps/L1FG/instagram/backend/src/schemas/comment.schema.ts
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
Labels: PR status: code ready, backend, Instagram

#3921 feat(be): bE schema changed
  apps/L1FG/concert-ticket/backend/src/schemas/concert.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#3922 3901 env fix
  apps/L1FG/restaurant/frontend/next.config.js
Labels: PR status: code ready, frontend, restaurant-team

#3924 fix(frontend): fixing ordering by preventing multiple clicks
  apps/L1FG/restaurant/frontend/src/components/order/PreSuccessPageComp.tsx
Labels: PR status: code ready, frontend, restaurant-team

#3929 feat: settings route on edit button
  apps/L1FG/instagram/frontend/specs/components/profile/Profile.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
Labels: PR status: code ready, frontend, Instagram

#3930 profile review
  apps/L1FG/instagram/backend/specs/resolvers/follow/follower-user-type/freindship-status.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/follow/following-user-type/freindship-status.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/notification/notification-type.spec.ts/content-post.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/post/user-post-type/has-liked.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/post/user-post-type/user.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/user/get-profile-preview.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user-post-type/has-liked.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user/profile-preview-type/first-three-posts.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user/user-together-user-type/friendship-status.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user/user-together-user-type/latest-story-timestamp.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user/user-together-user-type/seen-story-time.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/get-profile-preview.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/index.ts
  apps/L1FG/instagram/backend/src/resolvers/user/profile-preview-type/first-three-posts.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, Instagram

#3932 profile preview frontend
  apps/L1FG/instagram/frontend/jest.config.ts
  apps/L1FG/instagram/frontend/specs/components/home-post/PostsSwiper.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/ProfileHover.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/home-post/mock.ts
  apps/L1FG/instagram/frontend/specs/components/main/main-mid/main-page-post-part1.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/main-mid/main-page-post-part2.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/main/main-mid/mock.ts
  apps/L1FG/instagram/frontend/src/app/(private)/page.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostsSwiper.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/ProfileHover.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/PostModalCarousel.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/MainPagePost.tsx
  apps/L1FG/instagram/frontend/src/graphql/user.graphql
Labels: PR status: code ready, Instagram

#3933 fix(real-estate-backend bug): fixed
  apps/L1FG/real-state/backend/src/schemas/post-schema.ts
  apps/L1FG/real-state/backend/src/schemas/property-features.schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#3935 feat(real-estate-frontend): mainpage
  apps/L1FG/real-state/frontend/cypress/component/Dropdown.cy.tsx
  apps/L1FG/real-state/frontend/cypress/e2e/(auth)/register/index.cy.tsx
  apps/L1FG/real-state/frontend/cypress/utils/all-pages.json
  apps/L1FG/real-state/frontend/jest.config.ts
  apps/L1FG/real-state/frontend/specs/components/HomePage/HomePageCategorySection.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/HomePage/HomePageLastest.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/HomePage/Homepage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/HomePage/SubCategory.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/auth/ForgotPasswordPage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/estatesPage/EstateHome.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/estatesPage/EstatePage.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/estatesSinglePage/EstatesSinglePage.spec.tsx
  apps/L1FG/real-state/frontend/src/app/(admin)/layout.tsx
  apps/L1FG/real-state/frontend/src/app/(auth)/register/page.tsx
  apps/L1FG/real-state/frontend/src/app/(main-pages)/layout.tsx
  apps/L1FG/real-state/frontend/src/app/estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/app/estates/page.tsx
  apps/L1FG/real-state/frontend/src/app/layout.tsx
  apps/L1FG/real-state/frontend/src/app/page.tsx
  apps/L1FG/real-state/frontend/src/components/HomePage/HomePage.tsx
  apps/L1FG/real-state/frontend/src/components/HomePage/HomePageCategorySection.tsx
  apps/L1FG/real-state/frontend/src/components/HomePage/HomePageLatest.tsx
  apps/L1FG/real-state/frontend/src/components/HomePage/SubCategory.tsx
  apps/L1FG/real-state/frontend/src/components/auth/RegisterPage.tsx
  apps/L1FG/real-state/frontend/src/components/estatesPage/EstateHome.tsx
  apps/L1FG/real-state/frontend/src/components/estatesPage/EstatePage.tsx
  apps/L1FG/real-state/frontend/src/components/estatesSinglePage/EstatesSinglePage.tsx
  apps/L1FG/real-state/frontend/src/components/layout/Header.tsx
  apps/L1FG/real-state/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/real-state/frontend/src/components/providers/AuthProvider.tsx
  apps/L1FG/real-state/frontend/src/components/ui/card/MainCard.tsx
  apps/L1FG/real-state/frontend/src/components/ui/icon/Appartment.tsx
  apps/L1FG/real-state/frontend/src/components/ui/icon/BedIcon.tsx
  apps/L1FG/real-state/frontend/src/components/ui/icon/ShowerIcon.tsx
  apps/L1FG/real-state/frontend/src/components/ui/icon/SizeIcon.tsx
  apps/L1FG/real-state/frontend/src/components/ui/icon/index.ts
  apps/L1FG/real-state/frontend/src/constants/constant.ts
  apps/L1FG/real-state/frontend/src/constants/types.ts
  apps/L1FG/real-state/frontend/src/features/card/CheckerDropdown.tsx
  apps/L1FG/real-state/frontend/src/features/card/CheckerMainCard.tsx
  apps/L1FG/real-state/frontend/src/features/card/EstatesSideBar.tsx
  apps/L1FG/real-state/frontend/src/features/card/SubCategorySub.tsx
  apps/L1FG/real-state/frontend/src/features/card/index.ts
  apps/L1FG/real-state/frontend/src/graphql/postQuery.graphql
  apps/L1FG/real-state/frontend/src/graphql/postQueryID.graphql
  apps/L1FG/real-state/frontend/tailwind.config.js
  package.json
Labels: PR status: code ready, frontend, Real-State-24_6

#3943 feat: cHANGES done
  apps/L1FG/concert-ticket/frontend/src/components/header/Header.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#3944 some fixes
  apps/L1FG/restaurant/frontend/public/QR Image.png
  apps/L1FG/restaurant/frontend/specs/components/AdminForgetPass.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/Input.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/LoginPage.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/NewPassword.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/Otp.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/RegisterPage.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ResetPassword.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/Sidemenu.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/admin/ad-order-status.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/order-page.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/pre-suc-page.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/admin/otp/page.tsx
  apps/L1FG/restaurant/frontend/src/app/admin/reset-pass/page.tsx
  apps/L1FG/restaurant/frontend/src/app/layout.tsx
  apps/L1FG/restaurant/frontend/src/app/order/[tableNumber]/page.tsx
  apps/L1FG/restaurant/frontend/src/app/page.tsx
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/NewPassword.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-page-comp/OrderStatusUpdate.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-profile/AdminAuth.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-profile/AdminForgetPass.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-profile/AdminPage.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-profile/Otp.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderList.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderPageComponent.tsx
Labels: PR status: code ready, frontend, restaurant-team

#3948 dotenv fixed
  apps/L1FG/restaurant/backend/src/handler.ts
Labels: PR status: code ready, restaurant-team

#3949 feat: improvement
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/ProfileHover.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Follow.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/FriendshipStatus.tsx
  apps/L1FG/instagram/frontend/src/graphql/follow.graphql
Labels: PR status: code ready, Instagram

#3950 fix: login heseg newterwel otp usreh heseg uurchlult hiiw
  apps/L1FG/concert-ticket/frontend/src/components/login/SignIn.tsx
Labels: PR status: code ready, 1FG-concert-ticket

#3953 jwt fix
  apps/L1FG/restaurant/backend/src/handler.ts
Labels: PR status: code ready, backend, restaurant-team

#3952 feat: be test notif
  apps/L1FG/instagram/backend/specs/resolvers/post/user-post-type/user.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/notification/get-notification.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user/user-together-user-type/friendship-status.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user/user-together-user-type/latest-story-timestamp.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/user/user-together-user-type/seen-story-time.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
Labels: PR status: code ready, backend

#3959 feat: sd
  apps/L1FG/concert-ticket/frontend/specs/footer/Footer.spec.tsx
  apps/L1FG/hotel-booking/backend/specs/resolvers/queries/hotel/get-hotels-by-star-rating.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-all-querie.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/queries/hotel/get-hotels-by-star-rating.ts
  apps/L1FG/hotel-booking/backend/src/schemas/hotel.schema.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/HotelCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/MainSearchResult.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/search-result/RightNavbar.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/HomePageCard.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/SearchresultPage.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/main/SearchBar.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/search-result/LeftNavbar.tsx
  apps/L1FG/hotel-booking/frontend/src/graphql/GetHotelsByPrice.graphql
  apps/L1FG/hotel-booking/frontend/src/graphql/getAllQuerie.graphql
  apps/L1FG/hotel-booking/frontend/src/graphql/getHotelById.graphql
  apps/L1FG/hotel-booking/frontend/src/graphql/gethotels.graphql
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#3963 edit booking status
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/booking/edit-booking-status.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/booking/edit-booking-status.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/booking/index.ts
  apps/L1FG/hotel-booking/backend/src/schemas/booking.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3966 edit room field s added
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/room/edit-room-general-info.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/room/edit-room-general-info.ts
  apps/L1FG/hotel-booking/backend/src/schemas/room.schema.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#3971 [instagram][backend] post schema bug
  apps/L1FG/instagram/backend/specs/resolvers/post/user-post-type/user.spec.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
Labels: PR status: code ready, Instagram

#3973 feat: posts loading
  apps/L1FG/instagram/frontend/specs/components/home-post/PostsLoading.spec.tsx
  apps/L1FG/instagram/frontend/src/app/story/page.tsx
  apps/L1FG/instagram/frontend/src/components/create-post/CreatePost.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostsLoading.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostsSwiper.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/MainPagePost.tsx
Labels: PR status: code ready, Instagram

#3975 [instagram][frontend] post like edit
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home/main/PostLike.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/PostLikeSection.tsx
Labels: PR status: code ready, Instagram

#3977 [instagram][backend] post likeCount minus plus
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/create-postLike.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/delete.post.like.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/follow/create-follower.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like.ts
Labels: PR status: code ready, Instagram

#3979 post like update on every post
  apps/L1FG/instagram/frontend/specs/components/home-post/PostComment.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/utils/comment-text.spec.tsx
  apps/L1FG/instagram/frontend/src/app/layout.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostComment.tsx
  apps/L1FG/instagram/frontend/src/components/providers/CacheProvider.tsx
  apps/L1FG/instagram/frontend/src/components/utils/quantity-converter.ts
  apps/L1FG/instagram/frontend/src/features/home-post/PostLikeSection.tsx
Labels: PR status: code ready, Instagram

#3985 777 changed be notific
  apps/L1FG/instagram/backend/specs/resolvers/queries/notification/get-notification.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
Labels: PR status: code ready, backend, Instagram

#3987 feat: booking pae ui change
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/Booked.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/badge-cancelled.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/badge-completed.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/booking-card.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/footer-small.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/main-content-booking.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/no-previous.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/ui/svg/no-booking-icon.spec.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/BadgeBooked.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/BadgeCancelled.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/BadgeCompleted.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/Booked.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/BookingCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/MainContentBooking.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/NoBooking.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/NoPrevious.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/NoPreviousBooking.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/home-page/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/main/intex.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/HistoryIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/NoBookingIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/BookingPage.tsx
Labels: PR status: code ready, frontend

#3990 3989 getfollowingsuggestion
  apps/L1FG/instagram/backend/specs/resolvers/queries/user/get-following-suggestion.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/get-following-suggestion.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/index.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, Instagram

#3995 feat: a
  .github/workflows/ci.yml
Labels: PR status: code ready, Instagram

#3996 feat: asdg
  apps/L1FG/instagram/frontend/specs/components/skeleton/ProfilePreviewSkeleton.spec.tsx
  apps/L1FG/instagram/frontend/src/components/Loading.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/ProfileHover.tsx
  apps/L1FG/instagram/frontend/src/components/skeleton/ProfilePreviewSkeleton.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Follow.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/FriendshipStatus.tsx
Labels: PR status: code ready, Instagram

#3992 feat(backend): food delete and edit
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/foods/delete-food.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/foods/edit-food.spec.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/foodmutation/delete-food.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/foodmutation/edit-food.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L1FG/restaurant/backend/src/schemas/food.schema.ts
  package.json
Labels: PR status: code ready, backend, restaurant-team

#3998 feat: be
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
Labels: PR status: code ready, backend, Instagram

#4001 some fixes
  apps/L1FG/restaurant/backend/next.config.js
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/login-user.spec.ts
  apps/L1FG/restaurant/backend/src/handler.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/create-user.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/login-user.ts
  apps/L1FG/restaurant/backend/src/schemas/user.schema.ts
  apps/L1FG/restaurant/frontend/next.config.js
  apps/L1FG/restaurant/frontend/specs/components/LoginPage.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/RegisterPage.tsx
  apps/L1FG/restaurant/frontend/src/graphql/create-user.graphql
Labels: PR status: code ready, restaurant-team

#4004 SignIn & SignUp done
  apps/L1FG/restaurant/backend/src/schemas/user.schema.ts
  apps/L1FG/restaurant/frontend/specs/components/LoginPage.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/RegisterPage.spec.tsx
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/RegisterPage.tsx
  apps/L1FG/restaurant/frontend/src/graphql/create-user.graphql
  apps/L1FG/restaurant/frontend/src/graphql/user.graphql
Labels: PR status: code ready, restaurant-team

#3999 post day showing
  apps/L1FG/instagram/frontend/specs/components/home-post/PostDate.spec.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Avatar.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostDate.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/PostsSwiper.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/ProfileHover.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Username.tsx
  apps/L1FG/instagram/frontend/src/components/providers/CacheProvider.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Follow.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Following.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/FriendshipStatus.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Requested.tsx
Labels: PR status: code ready, Instagram

#4007 post like debug
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/create-postLike.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/check-post-like-exits.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/make-post-like-notification.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/make-post-like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/post-update-like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/validate-user-owner-and-post.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like-utils/check-post-like-exists.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like-utils/make-post-like-notification.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like-utils/make-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like-utils/update-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like-utils/validate-user-owner-and-post.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
  apps/L1FG/instagram/backend/src/utils/catch-error.ts
  apps/L1FG/instagram/backend/src/utils/error.ts
Labels: PR status: code ready, Instagram

#4010 zahialga amjilttai boloh uyd localStorage.s ustgah
  apps/L1FG/restaurant/frontend/specs/components/Basket.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/about/page.tsx
  apps/L1FG/restaurant/frontend/src/components/About.tsx
  apps/L1FG/restaurant/frontend/src/components/BasketFood.tsx
  apps/L1FG/restaurant/frontend/src/components/NotificationSection.tsx
  apps/L1FG/restaurant/frontend/src/components/common/Header.tsx
  apps/L1FG/restaurant/frontend/src/components/order-history/OrderHistory.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderPageComponent.tsx
  apps/L1FG/restaurant/frontend/src/components/order/PreSuccessPageComp.tsx
  apps/L1FG/restaurant/frontend/src/components/order/Wallet.tsx
  apps/L1FG/restaurant/frontend/src/components/sidemenu/Sidemenu.tsx
  apps/L1FG/restaurant/frontend/src/components/user-profile/UserProfile.tsx
Labels: PR status: code ready, frontend, restaurant-team

#4012 feat(frontend): ticket reservation
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/order/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/code-Input/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/passwordResetPage/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/signin/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/auth/signup/page.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/utils/all-pages.json
  apps/L1FG/concert-ticket/frontend/jest.config.ts
  apps/L1FG/concert-ticket/frontend/specs/components/header/header.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/login/login.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/success/Success.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketConfirm/Payment.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketConfirm/ReservationConfirm.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketConfirm/TicketBuySection.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketConfirm/TicketSubscriber.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/PaymentSection.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/RearTicket.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/SelectDay.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/StandartTicket.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/TicketPrice.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/TicketReservations.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/Ticketreservation.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/VipTicket.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/footer/Footer.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/_features/ticketReservation/Ticketreservation.tsx
  apps/L1FG/concert-ticket/frontend/src/app/codeInput/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/order/[userid]/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/ticketReservation/[ticketID]/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/detail/InfoContainer.tsx
  apps/L1FG/concert-ticket/frontend/src/components/header/Header.tsx
  apps/L1FG/concert-ticket/frontend/src/components/success/Success.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/Payment.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/ReservationConfirm.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/TicketBuySection.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/TicketSubscriber.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/PaymentSection.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/RearTicket.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/SelectDay.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/StandartTicket.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/TicketPrice.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/TicketReservations.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/Ticketreservation.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/VipTicket.tsx
  apps/L1FG/concert-ticket/frontend/src/graphql/concert.graphql
  apps/L1FG/concert-ticket/frontend/src/graphql/order.graphql
  apps/L1FG/concert-ticket/frontend/src/graphql/ticket.graphql
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#4014 feat: fix be
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
Labels: PR status: code ready, backend, Instagram

#4017 4015 end post like
  apps/L1FG/instagram/frontend/specs/components/notifications/NotificationSheet.spec.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/LikedPost.tsx
  apps/L1FG/instagram/frontend/src/features/notification/Days.tsx
  apps/L1FG/instagram/frontend/src/graphql/notification.graphql
Labels: PR status: code ready, frontend, Instagram

#4021 fix(frontend): ticket reservation bug
  apps/L1FG/concert-ticket/frontend/src/app/_features/ticketReservation/Ticketreservation.tsx
  apps/L1FG/concert-ticket/frontend/src/app/ticketReservation/[ticketID]/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/Payment.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/PaymentSection.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#4022 feat: register backend code bolson
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/user/register.spec.ts
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/user/request-opt.spec.ts
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/user/verify-opt.spec.ts
  apps/L1FG/hotel-booking/backend/src/models/user.model.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/index.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/register.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/request-otp.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/verify-otp.ts
  apps/L1FG/hotel-booking/backend/src/schemas/user.schema.ts
  apps/L1FG/hotel-booking/backend/src/types/common-types.ts
Labels: PR status: code ready, backend, 1FG-hotel-booking

#4029 feat(backend): updateConcertTicket
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/orders/ticket-number-get-order.spec.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/orders/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/orders/ticket-number-get-order.ts
  apps/L1FG/concert-ticket/backend/src/schemas/order.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#4026 feat: comment be
  apps/L1FG/instagram/backend/specs/resolvers/mutations/comment/create-comment.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/notification/notification-type.spec.ts/content.comment.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/content-comment.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/content-post.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/schemas/comment.schema.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
Labels: PR status: code ready, backend, Instagram

#4031 feat: a
  apps/L1FG/instagram/frontend/src/components/notifications/CommentPost.tsx
  apps/L1FG/instagram/frontend/src/features/notification/Today.tsx
  apps/L1FG/instagram/frontend/src/graphql/notification.graphql
Labels: PR status: code ready, frontend, Instagram

#4032 post delete like
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/create-postLike.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/delete.post.like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/make-post-like-notification.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/validate-postlike-post-and-notification.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like-utils/make-post-like-notification.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like-utils/validate-postlike-post-and-notification.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
Labels: PR status: code ready, Instagram

#4034 fix: asdf
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/validate-postlike-post-and-notification.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like-utils/validate-postlike-post-and-notification.ts
Labels: PR status: code ready, Instagram

#4036 fix: postlike -iin notification ustgahdaa notification id -aar ustgaj…
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/create-postLike.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/post/delete.post.like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/post/get-posts.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/make-post-like-notification.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/post-like/validate-postlike-post-and-notification.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like-utils/make-post-like-notification.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/create-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like-utils/validate-postlike-post-and-notification.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/post/delete-post-like.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/post/get-posts.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
  apps/L1FG/instagram/backend/src/schemas/post.schema.ts
Labels: PR status: code ready, Instagram

#4037 [frontend] Created My estate page
  apps/L1FG/real-state/backend/src/resolvers/queries/post/get-posts.ts
  apps/L1FG/real-state/frontend/codegen.ts
  apps/L1FG/real-state/frontend/cypress/e2e/my-estate/my-estates.cy.tsx
  apps/L1FG/real-state/frontend/cypress/utils/all-pages.json
  apps/L1FG/real-state/frontend/specs/components/myEstate/EditIcon.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/myEstate/TrashIcon.spec.tsx
  apps/L1FG/real-state/frontend/src/app/add-estate/page.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/page.tsx
  apps/L1FG/real-state/frontend/src/components/addEstate/ImagesSection.tsx
  apps/L1FG/real-state/frontend/src/components/myEstate/EditIcon.tsx
  apps/L1FG/real-state/frontend/src/components/myEstate/TrashIcon.tsx
  apps/L1FG/real-state/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/real-state/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, Real-State-24_6

#4040 profile post little posts
  apps/L1FG/instagram/frontend/specs/components/profile/PostO.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/mock.ts
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/Post.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/PostLikeSection.tsx
  apps/L1FG/instagram/frontend/src/graphql/post.graphql
Labels: PR status: code ready, Instagram

#4043 comment schema change
  apps/L1FG/instagram/backend/src/schemas/comment.schema.ts
Labels: PR status: code ready, Instagram

#4044 feat(frontend): check payment
  apps/L1FG/concert-ticket/frontend/specs/components/ticketReservation/TicketReservations.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/components/providers/AuthProvider.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/TicketReservations.tsx
  apps/L1FG/concert-ticket/frontend/src/graphql/order.graphql
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#4046 feat: ok
  apps/L1FG/instagram/backend/specs/resolvers/notification/notification-type.spec.ts/request.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/follow/send-request-if-private.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/index.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/follow/create-follower-utils/make-follow.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/follow/create-follower-utils/send-request-if-private.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/index.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/request.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
Labels: PR status: code ready, backend, Instagram

#4049 [frontend] Created post id page for edit
  apps/L1FG/real-state/frontend/cypress/e2e/my-estate-id/page.cy.tsx
  apps/L1FG/real-state/frontend/cypress/utils/all-pages.json
  apps/L1FG/real-state/frontend/specs/components/utils/use-form-state.spec.tsx
  apps/L1FG/real-state/frontend/src/app/add-estate/page.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/page.tsx
  apps/L1FG/real-state/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/real-state/frontend/src/components/utils/use-form-state.ts
Labels: PR status: code ready, frontend, Real-State-24_6

#4050 feat: asdfh
  apps/L1FG/instagram/frontend/specs/components/profile/CreateComment.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/GetComments.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/LikeStyle.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/comment/Comment.tsx
  apps/L1FG/instagram/frontend/src/components/profile/comment/CommentLike.tsx
  apps/L1FG/instagram/frontend/src/components/profile/comment/LikeStyle.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/PostModal.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/PostLikeSection.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/Comment.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/CreateComment.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/GetComments.tsx
Labels: PR status: code ready, frontend, Instagram

#4052 feat: booking page home page deer cypress test bichsen ui orson
  apps/L1FG/hotel-booking/frontend/cypress/e2e/booking/booking-page.cy.tsx
  apps/L1FG/hotel-booking/frontend/cypress/e2e/create-account/page.cy.tsx
  apps/L1FG/hotel-booking/frontend/cypress/e2e/home-page.cy.tsx
  apps/L1FG/hotel-booking/frontend/src/app/booking/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/create-account/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/home-page/HomeHotelList.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/BookingPage.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/HomePage.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#4055 feat(frontend admin): admin food fetching
  apps/L1FG/restaurant/frontend/specs/components/admin/ad-main-foods-page.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/admin/dashboard/foods/page.tsx
  apps/L1FG/restaurant/frontend/src/app/admin/dashboard/layout.tsx
  apps/L1FG/restaurant/frontend/src/app/layout.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-page-comp/AdminFoodPageComp.tsx
  apps/L1FG/restaurant/frontend/src/components/admin-page-comp/AdminHeader.tsx
Labels: PR status: code ready, frontend, restaurant-team

#4058 feat: fix fe
  apps/L1FG/instagram/frontend/src/components/notifications/CommentPost.tsx
  apps/L1FG/instagram/frontend/src/components/notifications/LikedPost.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/Post.tsx
  apps/L1FG/instagram/frontend/src/features/notification/RequestFollow.tsx
  apps/L1FG/instagram/frontend/src/features/notification/Today.tsx
Labels: PR status: code ready, frontend, Instagram

#4061 feat: profileHover frontend fix
  apps/L1FG/instagram/frontend/src/components/home-post/Avatar.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/ProfileHover.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
  apps/L1FG/instagram/frontend/src/components/profile/comment/CommentLike.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/PostModal.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/Comment.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/CreateComment.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/GetComments.tsx
Labels: PR status: code ready, frontend, Instagram

#4062 feat(frontend): yarn commit
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/search/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/public/Vector.svg
  apps/L1FG/concert-ticket/frontend/public/correct.svg
  apps/L1FG/concert-ticket/frontend/public/qpay.svg
  apps/L1FG/concert-ticket/frontend/public/socialpay.svg
  apps/L1FG/concert-ticket/frontend/src/app/_features/ticketReservation/Ticketreservation.tsx
  apps/L1FG/concert-ticket/frontend/src/app/detail/[ticketID]/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/layout.tsx
  apps/L1FG/concert-ticket/frontend/src/app/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/search/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/detail/HeroComponent.tsx
  apps/L1FG/concert-ticket/frontend/src/components/detail/InfoContainer.tsx
  apps/L1FG/concert-ticket/frontend/src/components/searchSection/Search.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketCard/Card.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketCard/Cards.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/Payment.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/ReservationConfirm.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/TicketBuySection.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketConfirm/TicketSubscriber.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/PaymentSection.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/RearTicket.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/SelectDay.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/StandartTicket.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/TicketPrice.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/TicketReservations.tsx
  apps/L1FG/concert-ticket/frontend/src/components/ticketReservation/VipTicket.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#4063 comment like plus minus
  apps/L1FG/instagram/backend/specs/resolvers/mutations/comment/create-comment-like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/mutations/comment/delete-comment-like.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/comment/get-comments.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/comment-like/create-commentlike-and-update-comment.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/comment-like/make-comment-like-notification.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/comment-like/validate-comment-like-when-deleting.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/utils/comment-like/validate-commentlike-comment-owneruser.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment-like-utils/create-commentlike-and-update-comment.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment-like-utils/make-comment-like-notification.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment-like-utils/validate-commentlike-comment-owneruser.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/create-comment-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/delete-comment-like-utils/validate-comment-like-when-deleting.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/delete-comment-like.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/comment/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/comment/get-comments.ts
  apps/L1FG/instagram/backend/src/schemas/comment-like.schema.ts
  apps/L1FG/instagram/backend/src/schemas/comment.schema.ts
  apps/L1FG/instagram/backend/src/schemas/post-like.schema.ts
Labels: PR status: code ready, Instagram

#4064 feat: fixed saved users
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/saved-search-user.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/saved-search-user.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#4072 [frontend] Successfully added 2 components for editing page
  apps/L1FG/real-state/frontend/cypress/e2e/my-estate-id/page.cy.tsx
  apps/L1FG/real-state/frontend/specs/components/addEstate/DescriptionSection.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/addEstate/TownDetails.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/utils/use-form-state.spec.tsx
  apps/L1FG/real-state/frontend/src/app/add-estate/page.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/components/addEstate/DescriptionSection.tsx
  apps/L1FG/real-state/frontend/src/components/addEstate/TownDetails.tsx
  apps/L1FG/real-state/frontend/src/components/utils/use-form-state.ts
Labels: PR status: code ready, frontend, Real-State-24_6

#4077 [frontend] Added 2 more components to edit page
  apps/L1FG/real-state/frontend/specs/components/utils/use-form-state.spec.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/components/utils/use-form-state.ts
Labels: PR status: code ready, frontend, Real-State-24_6

#4078 feat(backend): order edit
  apps/L1FG/concert-ticket/backend/specs/resolvers/queries/orders/get-order.spec.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/queries/orders/get-order.ts
  apps/L1FG/concert-ticket/backend/src/schemas/order.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#4074 feat: asdg
  apps/L1FG/instagram/backend/src/schemas/comment.schema.ts
Labels: PR status: code ready, Instagram

#4081 [frontend] Finished input components.
  apps/L1FG/real-state/frontend/cypress/e2e/my-estate-id/page.cy.tsx
  apps/L1FG/real-state/frontend/specs/components/addEstate/FloorDetailsSection.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/addEstate/ImagesSection.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/addEstate/WindowsSection.spec.tsx
  apps/L1FG/real-state/frontend/src/app/add-estate/page.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/components/addEstate/ImagesSection.tsx
  apps/L1FG/real-state/frontend/src/components/utils/use-form-state.ts
Labels: PR status: code ready, frontend, Real-State-24_6

#4085 small comments
  apps/L1FG/instagram/frontend/src/features/profile/comment/GetComments.tsx
Labels: PR status: code ready, Instagram

#4083 feat: created profile page
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/Contact.cy.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/ContainerProfile.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/EmergencyContact.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/HeaderProfile.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/MainProfile.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/Register.cy.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/SecuritySettings.cy.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/SideButtons.cy.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/TitleContact.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/TitleInformation.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/profile-page/TitleSecurity.spec.tsx
  apps/L1FG/hotel-booking/frontend/src/app/profile/page.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/ProfilePage.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/Contact.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/ContainerProfile.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/EmergencyContact.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/HeaderProfile.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/MainProfile.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/Register.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/SecuritySettings.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/SideButtons.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/TitleContact.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/TitleInformation.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/TitleSecurity.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/profile/index.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#4090 feat(backend): updateOrder changepassword
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/orders/order-update.spec.ts
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/users/new-password.spec.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/orders/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/orders/order-update.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/users/index.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/users/new-password.ts
  apps/L1FG/concert-ticket/backend/src/schemas/order.schema.ts
  apps/L1FG/concert-ticket/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#4093 userId ownerId ylgaj haruulsan frontend
  apps/L1FG/instagram/frontend/specs/components/profile/Buttons.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/IconPostSavedTag.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/PostemptyO.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Profile.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/StoryHighlight.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/StoryHighlightModal.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Tagged.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
  apps/L1FG/instagram/frontend/src/components/profile/isOwnerId/Buttons.tsx
  apps/L1FG/instagram/frontend/src/components/profile/privaccount/FollowButton.tsx
  apps/L1FG/instagram/frontend/src/components/profile/privaccount/PrivatPost.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/PostEmpty.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/Tagged.tsx
  apps/L1FG/instagram/frontend/src/components/profile/story/StoryHighlight.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/IconPostSavedTag.tsx
Labels: PR status: code ready, frontend, Instagram

#4091 feat: booking chack out page ui build
  apps/L1FG/hotel-booking/frontend/specs/components/user/check-out/check-out-main.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/ui/cards/RoomInformationCard.spec.tsx
  apps/L1FG/hotel-booking/frontend/src/app/check-out/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/AmericanExpressCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/admin/svg/VisaCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/check-out/CheckOutMain.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/check-out/CheckOutRoomCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/check-out/GuestInfoSection.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/cards/SinglePageCard.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/JcbIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/MasterCardIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/check-out/CardDetail.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/check-out/ContactInformation.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/check-out/CountryDropdown.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/check-out/WhoCheckingIn.tsx
  package.json
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#4089 feat: end notification backend
  apps/L1FG/instagram/backend/specs/resolvers/mutations/follow/accept-request.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/follow/accept-request.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
Labels: PR status: code ready, backend, Instagram

#4095 feat: getUserByName schema change
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, Instagram

#4099 feat: user suggestion
  apps/L1FG/instagram/frontend/specs/components/profile/Profile.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
  apps/L1FG/instagram/frontend/src/components/search/SearchSheet.tsx
  apps/L1FG/instagram/frontend/src/components/search/Users.tsx
  apps/L1FG/instagram/frontend/src/features/follower-suggestion/HomeSuggestionCard.tsx
  apps/L1FG/instagram/frontend/src/features/follower-suggestion/ProfileSuggestionCard.tsx
  apps/L1FG/instagram/frontend/src/graphql/user.graphql
Labels: PR status: code ready, frontend, Instagram

#4098 4301 accept follow fe
  apps/L1FG/instagram/frontend/specs/components/search/SavedUsers.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/search/Users.spec.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/ProfileHover.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/FriendshipStatus.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/IsRequest.tsx
  apps/L1FG/instagram/frontend/src/features/notification/RequestFollow.tsx
  apps/L1FG/instagram/frontend/src/graphql/follow.graphql
  apps/L1FG/instagram/frontend/src/graphql/notification.graphql
  apps/L1FG/instagram/frontend/src/graphql/user.graphql
Labels: PR status: code ready, frontend, Instagram

#4100 feat: ok
  apps/L1FG/instagram/backend/specs/resolvers/mutations/user/saved-search-user.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/mutations/user/saved-search-user.ts
Labels: PR status: code ready, backend, Instagram

#4108 feat(frontend): order-page-update-pass
  apps/L1FG/concert-ticket/frontend/specs/components/header/header.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/userProfile/OrderDat.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/userProfile/Password.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/order/[userid]/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/header/Header.tsx
  apps/L1FG/concert-ticket/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/concert-ticket/frontend/src/components/userProfile/Modal.tsx
  apps/L1FG/concert-ticket/frontend/src/components/userProfile/Password.tsx
  apps/L1FG/concert-ticket/frontend/src/graphql/order.graphql
  apps/L1FG/concert-ticket/frontend/src/graphql/user.graphql
Labels: PR status: code ready, backend, 1FG-concert-ticket

#4103 [backend] fixed and added update mutation
  apps/L1FG/real-state/backend/specs/resolvers/mutations/post/update-post.spec.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/post/index.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/post/update-post.ts
  apps/L1FG/real-state/backend/src/schemas/post-schema.ts
  apps/L1FG/real-state/backend/src/schemas/property-features.schema.ts
Labels: PR status: code ready, backend, Real-State-24_6

#4104 4011 user frontend make wallet
  apps/L1FG/restaurant/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/L1FG/restaurant/backend/src/models/user.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/create-user.ts
  apps/L1FG/restaurant/backend/src/schemas/user.schema.ts
  apps/L1FG/restaurant/frontend/specs/components/Basket.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/Provider/LocalProvider.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/header.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/item-quantity.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/order-list.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/order-page.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/order.spec.tsx
  apps/L1FG/restaurant/frontend/specs/components/ordering/pre-suc-page.spec.tsx
  apps/L1FG/restaurant/frontend/src/app/layout.tsx
  apps/L1FG/restaurant/frontend/src/app/order/[tableNumber]/page.tsx
  apps/L1FG/restaurant/frontend/src/app/page.tsx
  apps/L1FG/restaurant/frontend/src/components/BasketFood.tsx
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/common/Header.tsx
  apps/L1FG/restaurant/frontend/src/components/order/ItemQunatity.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderList.tsx
  apps/L1FG/restaurant/frontend/src/components/order/OrderPageComponent.tsx
  apps/L1FG/restaurant/frontend/src/components/order/PreSuccessPageComp.tsx
  apps/L1FG/restaurant/frontend/src/components/providers/AuthProvider.tsx
  apps/L1FG/restaurant/frontend/src/components/providers/LocalProvider.tsx
  apps/L1FG/restaurant/frontend/src/components/providers/index.tsx
  apps/L1FG/restaurant/frontend/src/graphql/user.graphql
Labels: PR status: code ready, backend, frontend, restaurant-team

#4102 private frontend
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, frontend, Instagram

#4115 private frontend
  apps/L1FG/instagram/frontend/specs/components/profile/Buttons.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Private.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/PrivateUser.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Profile.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/Profile.tsx
  apps/L1FG/instagram/frontend/src/components/profile/follow/Followers.tsx
  apps/L1FG/instagram/frontend/src/components/profile/isOwnerId/Buttons.tsx
  apps/L1FG/instagram/frontend/src/components/profile/privateUser/Private.tsx
  apps/L1FG/instagram/frontend/src/components/profile/privateUser/PrivateUser.tsx
  apps/L1FG/instagram/frontend/src/features/profile/PrivateProfile.tsx
  apps/L1FG/instagram/frontend/src/features/profile/PublicProfile.tsx
  apps/L1FG/instagram/frontend/src/features/profile/PublicProfileParent.tsx
  apps/L1FG/instagram/frontend/src/features/profile/UserProfile.tsx
  apps/L1FG/instagram/frontend/tsconfig.json
Labels: PR status: code ready, frontend, Instagram

#4120 follower.schema fix
  apps/L1FG/instagram/backend/specs/resolvers/follow/follower-user-type/freindship-status.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/follow/following-user-type/freindship-status.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/follow/follower-user-type/status-boolean-converter.ts
  apps/L1FG/instagram/backend/src/schemas/followers.schema.ts
Labels: PR status: code ready, frontend, Instagram

#4122 feat: cancel booking page
  apps/L1FG/hotel-booking/frontend/specs/components/user/booking-page/cancel-booking-content.spec.tsx
  apps/L1FG/hotel-booking/frontend/specs/components/user/check-out/check-out-footer.spec.tsx
  apps/L1FG/hotel-booking/frontend/src/app/check-out/page.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/CancelBookingContent.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/FooterSmall.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/booking-page/index.ts
  apps/L1FG/hotel-booking/frontend/src/components/user/check-out/CheckOutMain.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/check-out/CheckoutFooter.tsx
  apps/L1FG/hotel-booking/frontend/src/features/user/booking/CancelBookingPage.tsx
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#4128 feat: layout responsive
  apps/L1FG/instagram/frontend/src/app/(private)/layout.tsx
  apps/L1FG/instagram/frontend/src/app/(private)/page.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Post.tsx
  apps/L1FG/instagram/frontend/src/components/home/left/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/home/main/MainPageStory.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/MainPagePost.tsx
Labels: PR status: code ready, frontend, Instagram

#4133 feat: style for props
  apps/L1FG/instagram/frontend/src/components/home-post/ProfileHover.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Follow.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Following.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/FriendshipStatus.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/IsRequest.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Requested.tsx
  apps/L1FG/instagram/frontend/src/features/notification/RequestFollow.tsx
Labels: PR status: code ready, frontend, Instagram

#4135 feat: search be end
  apps/L1FG/instagram/backend/specs/resolvers/queries/user/get-user-by-name.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/get-users-by-name.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, Instagram

#4139 [frontend] Added the last component and working edit function
  apps/L1FG/real-state/frontend/cypress/e2e/my-estate-id/page-test-one.cy.tsx
  apps/L1FG/real-state/frontend/cypress/e2e/my-estate-id/page-test-two.cy.tsx
  apps/L1FG/real-state/frontend/cypress/e2e/my-estate-id/page.cy.tsx
  apps/L1FG/real-state/frontend/cypress/fixtures/EditPageMockdata.tsx
  apps/L1FG/real-state/frontend/specs/components/addEstate/PreviewSection.spec.tsx
  apps/L1FG/real-state/frontend/specs/components/utils/preview-section.mock.ts
  apps/L1FG/real-state/frontend/specs/components/utils/use-form-state.spec.tsx
  apps/L1FG/real-state/frontend/src/app/my-estates/[id]/page.tsx
  apps/L1FG/real-state/frontend/src/components/addEstate/BalconyLiftSection.tsx
  apps/L1FG/real-state/frontend/src/components/addEstate/PreviewSection.tsx
  apps/L1FG/real-state/frontend/src/components/utils/use-form-state.ts
  apps/L1FG/real-state/frontend/src/graphql/postUpdate.graphql
Labels: PR status: code ready, frontend, Real-State-24_6

#4138 feat: suggestion backend fix
  apps/L1FG/instagram/backend/specs/resolvers/queries/user/get-following-suggestion.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/user/get-following-suggestion.ts
  apps/L1FG/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, Instagram

#4141 feat(backend): create-delete-order-req
  apps/L1FG/concert-ticket/backend/specs/resolvers/mutations/orders/create-delete-req.spec.ts
  apps/L1FG/concert-ticket/backend/src/models/index.ts
  apps/L1FG/concert-ticket/backend/src/models/order-delete-req.model.ts
  apps/L1FG/concert-ticket/backend/src/models/order.model.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/orders/create-delete-req.ts
  apps/L1FG/concert-ticket/backend/src/resolvers/mutations/orders/index.ts
  apps/L1FG/concert-ticket/backend/src/schemas/order.schema.ts
Labels: PR status: code ready, backend, 1FG-concert-ticket

#4142 fix: getFollowing getFollowers fix
  apps/L1FG/instagram/backend/specs/resolvers/follow/follower-type/user.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/follow/following-type/user.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/follow/get-followers.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/follow/get-following.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/follow/follower-type/index.ts
  apps/L1FG/instagram/backend/src/resolvers/follow/follower-type/user.ts
  apps/L1FG/instagram/backend/src/resolvers/follow/following-type/index.ts
  apps/L1FG/instagram/backend/src/resolvers/follow/following-type/user.ts
  apps/L1FG/instagram/backend/src/resolvers/index.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/follow/get-followers.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/follow/get-following.ts
  apps/L1FG/instagram/backend/src/schemas/followers.schema.ts
Labels: PR status: code ready, Instagram

#4145 [backend] created post delete resolver mutation
  apps/L1FG/real-state/backend/specs/resolvers/queries/post/delete-post.spec.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/post/delete-post.ts
  apps/L1FG/real-state/backend/src/resolvers/mutations/post/index.ts
Labels: PR status: code ready, backend, Real-State-24_6

#4148 fix: following followers .graphql fix
  apps/L1FG/instagram/frontend/specs/components/profile/Followers.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Following.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/follow/Followers.tsx
  apps/L1FG/instagram/frontend/src/components/profile/follow/Following.tsx
  apps/L1FG/instagram/frontend/src/graphql/follow.graphql
Labels: PR status: code ready, Instagram

#4149 profile following followers frontend data duudaj avchirsan
  apps/L1FG/instagram/frontend/specs/components/profile/Buttons.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Followers.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/profile/Following.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/follow/Followers.tsx
  apps/L1FG/instagram/frontend/src/components/profile/follow/Following.tsx
  apps/L1FG/instagram/frontend/src/components/profile/isOwnerId/Buttons.tsx
  apps/L1FG/instagram/frontend/src/components/svg/TaggedIcon.tsx
  apps/L1FG/instagram/frontend/src/features/notification/RequestFollow.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/CreateComment.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/GetComments.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/IconPostSavedTag.tsx
  apps/L1FG/instagram/frontend/src/graphql/comment.graphql
  apps/L1FG/instagram/frontend/src/graphql/follow.graphql
  apps/L1FG/instagram/frontend/src/graphql/notification.graphql
Labels: PR status: code ready, frontend, Instagram

#4151 feat: zaswar
  apps/L1FG/instagram/frontend/specs/components/search/SavedUsers.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/search/SearchSheet.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/search/SkeletonSearch.spec.tsx
  apps/L1FG/instagram/frontend/specs/components/search/Users.spec.tsx
  apps/L1FG/instagram/frontend/src/components/home/left/MenuButtonsSideBar.tsx
  apps/L1FG/instagram/frontend/src/components/search/SavedUsers.tsx
  apps/L1FG/instagram/frontend/src/components/search/SearchSheet.tsx
  apps/L1FG/instagram/frontend/src/components/search/SkeletonSearch.tsx
  apps/L1FG/instagram/frontend/src/components/search/Users.tsx
  apps/L1FG/instagram/frontend/src/graphql/user.graphql
Labels: PR status: code ready, frontend, Instagram

#4127 feat(frontend): order-update-password
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/_features/userProfile/Modal.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(main)/search/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/next.config.js
  apps/L1FG/concert-ticket/frontend/specs/components/userProfile/Modal.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/userProfile/OrderDat.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/_features/userProfile/Modal.tsx
  apps/L1FG/concert-ticket/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L1FG/concert-ticket/frontend/src/components/userProfile/Modal.tsx
  apps/L1FG/concert-ticket/frontend/src/components/userProfile/OrderDat.tsx
  apps/L1FG/concert-ticket/frontend/src/components/userProfile/Password.tsx
Labels: PR status: code ready, backend, 1FG-concert-ticket

#4156 feat: suggestion
  apps/L1FG/instagram/frontend/specs/components/home-post/mock.ts
  apps/L1FG/instagram/frontend/specs/components/main/main-right/ProfileView.spec.tsx
  apps/L1FG/instagram/frontend/src/components/home-post/Avatar.tsx
  apps/L1FG/instagram/frontend/src/components/home/right/HomeProfile.tsx
  apps/L1FG/instagram/frontend/src/features/follower-suggestion/HomeSuggestionCard.tsx
  apps/L1FG/instagram/frontend/src/features/home-post/Following.tsx
  apps/L1FG/instagram/frontend/src/graphql/followingSuggestion.graphql
Labels: PR status: code ready, frontend, Instagram

#4153 feat: content post
  apps/L1FG/instagram/backend/specs/resolvers/notification/notification-type.spec.ts/content-post.spec.ts
  apps/L1FG/instagram/backend/specs/resolvers/queries/notification/get-notification.spec.ts
  apps/L1FG/instagram/backend/src/resolvers/notification/notification-type/content-post.ts
  apps/L1FG/instagram/backend/src/resolvers/queries/notification/get-notification.ts
  apps/L1FG/instagram/backend/src/schemas/notification.schema.ts
Labels: PR status: code ready, backend, Instagram

#4160 fix: notification .graphql
  apps/L1FG/instagram/frontend/src/graphql/notification.graphql
Labels: PR status: code ready, Instagram

#4157 feat: loading
  apps/L1FG/instagram/frontend/specs/components/profile/SkeletonPost.spec.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/Post.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/SkeletonPost.tsx
Labels: PR status: code ready, frontend, Instagram

#4155 frontend fix
  apps/L1FG/instagram/frontend/src/components/profile/follow/Followers.tsx
  apps/L1FG/instagram/frontend/src/components/profile/follow/Following.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/Post.tsx
  apps/L1FG/instagram/frontend/src/components/profile/profilePost/PostModal.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/CreateComment.tsx
  apps/L1FG/instagram/frontend/src/features/profile/comment/GetComments.tsx
Labels: PR status: code ready, frontend, Instagram

#4121 order has userid
  apps/L1FG/restaurant/backend/specs/resolvers/queries/get-orders-for-user.spec.ts
  apps/L1FG/restaurant/backend/src/models/order.ts
  apps/L1FG/restaurant/backend/src/resolvers/mutations/make-order.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/get-orders-for-user.ts
  apps/L1FG/restaurant/backend/src/resolvers/queries/index.ts
  apps/L1FG/restaurant/backend/src/schemas/common.schema.ts
  apps/L1FG/restaurant/frontend/src/components/LoginPage.tsx
  apps/L1FG/restaurant/frontend/src/components/order/Wallet.tsx
  apps/L1FG/restaurant/frontend/src/graphql/user.graphql
Labels: PR status: code ready, backend, frontend, restaurant-team

#4166 feat: backend mutaTion bolsoon
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/user/request-opt.spec.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/register.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/request-otp.ts
  apps/L1FG/hotel-booking/backend/src/resolvers/mutations/user/verify-otp.ts
  apps/L1FG/hotel-booking/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, frontend, 1FG-hotel-booking

#4161 feat(fr): user changing form
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(public)/signin/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/cypress/e2e/(public)/signup/index.cy.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/login/login.spec.tsx
  apps/L1FG/concert-ticket/frontend/specs/components/sign-up/SignUp.spec.tsx
  apps/L1FG/concert-ticket/frontend/src/app/signin/page.tsx
  apps/L1FG/concert-ticket/frontend/src/app/signup/page.tsx
  apps/L1FG/concert-ticket/frontend/src/components/login/SignIn.tsx
  apps/L1FG/concert-ticket/frontend/src/components/signUp/SignUp.tsx
Labels: PR status: code ready, frontend, 1FG-concert-ticket

#4169 feat: register logic uildel bolson
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/user/request-opt.spec.ts
  apps/L1FG/hotel-booking/backend/specs/resolvers/mutations/user/verify-opt.spec.ts
  apps/L1FG/hotel-booking/backend/src/schemas/user.schema.ts
  apps/L1FG/hotel-booking/frontend/cypress/e2e/create-account/otp/create-account-otp.cy.tsx
  apps/L1FG/hotel-booking/frontend/cypress/e2e/create-account/page.cy.tsx
  apps/L1FG/hotel-booking/frontend/cypress/e2e/create-account/password/create-account-password.cy.tsx
  apps/L1FG/hotel-booking/frontend/cypress/utils/all-pages.json
  apps/L1FG/hotel-booking/frontend/src/app/create-account/otp/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/create-account/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/create-account/password/page.tsx
  apps/L1FG/hotel-booking/frontend/src/app/layout.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/main/Loading.tsx
  apps/L1FG/hotel-booking/frontend/src/components/user/ui/svg/NoBookingIcon.tsx
  apps/L1FG/hotel-booking/frontend/src/graphql/register.graphql
  apps/L1FG/hotel-booking/frontend/src/graphql/requestOtp.graphql
  apps/L1FG/hotel-booking/frontend/src/graphql/verifyOtp.graphql
Labels: PR status: code ready, frontend, 1FG-hotel-booking
