Repository pinecone-studio/pinecone-intern-monorepo, pull requests merged in 2025-05, with the labels that each got.

#4716 create Infromation and add Links
  apps/L2A/restaurant/frontend/cypress/e2e/HomePage/Information.cy.tsx
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/src/app/_components/Sheet.tsx
  apps/L2A/restaurant/frontend/src/app/user/information/_components/image.json
  apps/L2A/restaurant/frontend/src/app/user/information/_features/Information.tsx
  apps/L2A/restaurant/frontend/src/app/user/information/page.tsx
Labels: PR status: code ready, restaurant-team

#4719 auth-backend
  apps/L2A/concert/backend/specs/resolvers/mutations/login.spec.ts
  apps/L2A/concert/backend/specs/resolvers/queries/get-user-info.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/login.ts
  apps/L2A/concert/backend/src/resolvers/queries/get-userinfo.ts
  apps/L2A/concert/backend/src/resolvers/queries/index.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
Labels: PR status: code ready, 2A-CONCERT

#4717 food add dialog
  apps/L2A/restaurant/frontend/cypress/e2e/admin/food-sec-head.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/public/apple.png
  apps/L2A/restaurant/frontend/specs/FoodSecHead.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_components/Header.tsx
  apps/L2A/restaurant/frontend/src/app/admin/food/_features/FoodSecondHead.tsx
  apps/L2A/restaurant/frontend/src/app/admin/food/page.tsx
  package.json
Labels: PR status: code ready

#4724 header
  apps/L2A/leave-request/frontend/public/images/Avatar.png
  apps/L2A/leave-request/frontend/public/images/Logo.png
  apps/L2A/leave-request/frontend/src/app/user/_components/UserHeader.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/CreatePostHeader.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/createpost/_components/CreatePostHeader.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/createpost/_features/CreatePostCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/createpost/page.tsx
Labels: PR status: code ready, 2A-Real-Estate

#4725 filter-logic-frontend-admin
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin-listing-table.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/spec/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4731 feat: name
  apps/L2A/real-estate/real-estate-frontend/spec/CreatePostHeader.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/CreatePostName.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostHeader.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostName.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_features/CreatePostCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/page.tsx
Labels: PR status: code ready, 2A-Real-Estate

#4730 feat: added order history
  apps/L2A/restaurant/frontend/cypress/e2e/odrderhistory/order.history.cy.tsx
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/specs/orderhistory/OrderStatusCard.spec.tsx
  apps/L2A/restaurant/frontend/src/app/orderhistory/_components/OrderStatusCard.tsx
  apps/L2A/restaurant/frontend/src/app/orderhistory/page.tsx
Labels: PR status: code ready, restaurant-team

#4726 auth-frontend
  apps/L2A/concert/frontend/cypress/e2e/auth/signin/page.cy.ts
  apps/L2A/concert/frontend/cypress/e2e/auth/signin/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/auth/signup/page.cy.ts
  apps/L2A/concert/frontend/cypress/e2e/auth/signup/page.cy.tsx
  apps/L2A/concert/frontend/cypress/utils/all-pages.json
  apps/L2A/concert/frontend/next.config.js
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/_components/context/AuthContext.tsx
  apps/L2A/concert/frontend/src/app/auth/signin/page.tsx
  apps/L2A/concert/frontend/src/app/auth/signup/page.tsx
  apps/L2A/concert/frontend/src/app/layout.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#4711 feat: wallet
  apps/L2A/restaurant/frontend/cypress/e2e/wallet/wallet-main.cy.tsx
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/specs/wallet/_components/wallet-payment.spec.tsx
  apps/L2A/restaurant/frontend/specs/wallet/wallet-main.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
  apps/L2A/restaurant/frontend/src/app/_features/RenderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/wallet/_components/WalletPayment.tsx
  apps/L2A/restaurant/frontend/src/app/wallet/page.tsx
Labels: PR status: code ready, restaurant-team

#4710 create userheader and fix errors
  apps/L2A/restaurant/frontend/cypress/e2e/HomePage/homeBody.cy.tsx
  apps/L2A/restaurant/frontend/specs/userHeader.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_components/Header.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeBody.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
  apps/L2A/restaurant/frontend/src/app/layout.tsx
  apps/L2A/restaurant/frontend/src/app/page.tsx
Labels: PR status: code ready, restaurant-team

#4737 table add dialog
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-table-semiheader.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/specs/admin/tableSemiHeader.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/table/_features/AdminTableSemiHeader.tsx
  apps/L2A/restaurant/frontend/src/app/admin/table/page.tsx
Labels: PR status: code ready

#4735 4732 create post number
  apps/L2A/real-estate/real-estate-frontend/spec/CreatePostPrice.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostName.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostPrice.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_features/CreatePostCard.tsx
Labels: PR status: code ready, 2A-Real-Estate

#4742 minor fix
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/src/app/_components/Sheet.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_components/Header.tsx
  apps/L2A/restaurant/frontend/src/app/admin/page.tsx
  apps/L2A/restaurant/frontend/src/app/login/_components/Logo.tsx
  apps/L2A/restaurant/frontend/src/app/page.tsx
Labels: PR status: code ready

#4746 wallet
  apps/L2A/restaurant/frontend/src/app/_components/Sheet.tsx
Labels: PR status: code ready, restaurant-team

#4749 admin table list
  apps/L2A/restaurant/frontend/specs/admin/adminTableList.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/table/_features/AdminTableList.tsx
  apps/L2A/restaurant/frontend/src/app/admin/table/page.tsx
Labels: PR status: code ready

#4750 feat(real-estate-frontend): user signup updated
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/user/complete-user.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/user/create-user.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/models/user.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/complete-user.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/create-user.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
  apps/L2A/real-estate/real-estate-frontend/codegen.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/signup.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/specs/home/CategoryCard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/CategoryCarousel.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/ExploreCard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/ExploreSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/HeroSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/Listingcard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/RecentListingSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepOne.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepThree.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/_components/SignInForm.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/StepOne.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/StepThree.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/all.graphql
Labels: PR status: code ready

#4733 feat(real-estate-frontend): listing UI
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/listing.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/public/logo.png
  apps/L2A/real-estate/real-estate-frontend/specs/home/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/CreatePostHeader.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/CreatePostName.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/Footer.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/Header.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/HeroSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/SignInForm.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/Footer.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/Header.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/layout.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/listing/page.tsx
Labels: PR status: code ready

#4761 feat(real-estate): user-email-otp fullstack
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/otp/request-otp.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/otp/send-email.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/signup.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/support/commands.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/support/indets.d.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/specs/home/CreatePostPrice.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/SignUpFooter.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/SignUpHeader.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepOne.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepThree.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepThreeOtpVerify.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepTwoOtpRequest.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/SigUpHeader.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/SignUpFooter.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/StepOne.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/StepThree.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/StepTwo.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/all.graphql
  apps/L2A/real-estate/real-estate-frontend/tailwind.config.js
  apps/L2A/real-estate/real-estate-frontend/tsconfig.json
  package-lock.json
  package.json
Labels: PR status: code ready

#4706 feat: add-category, update-category, delete-category
  apps/L2A/restaurant/backend/specs/resolvers/mutations/add-category.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/add-product.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/delete-category.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/update-category.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/update-product.spec.ts
  apps/L2A/restaurant/backend/src/models/product.model.ts
  apps/L2A/restaurant/backend/src/resolvers/index.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/add-category.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/add-product.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/delete-category.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/delete-product.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/update-category.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/update-product.ts
  apps/L2A/restaurant/backend/src/schemas/category.schema.ts
  apps/L2A/restaurant/backend/src/schemas/common.schema.ts
  apps/L2A/restaurant/backend/src/schemas/product.schema.ts
  apps/L2A/restaurant/backend/src/utils/build-update-data.ts
  apps/L2A/restaurant/backend/src/utils/connect-to-db.ts
  apps/L2A/restaurant/backend/src/utils/validate-product-data.ts
  apps/L2A/restaurant/backend/src/utils/validate-product-input.ts
  apps/L2A/restaurant/backend/src/utils/validate-update-input.ts
Labels: PR status: code ready, restaurant-team

#4758 4640 admin order
  apps/L2A/restaurant/frontend/cypress/e2e/admin/orderMainCard.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/specs/admin/order-food-card.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orderFood.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_components/OrderFood.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_components/OrderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_components/orders.json
  apps/L2A/restaurant/frontend/src/app/admin/_features/AdminBody.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_features/OrderMainCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/page.tsx
  apps/L2A/restaurant/frontend/src/app/admin/page.tsx
Labels: PR status: code ready, frontend

#4760 admin-table-uptade dummy
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-table-semiheader.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-table-uptade.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/specs/admin/adminTableList.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/table/_features/AdminTableList.tsx
Labels: PR status: code ready

#4768 create profile
  apps/L2A/restaurant/frontend/cypress/e2e/HomePage/Profile.cy.tsx
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/src/app/_components/Sheet.tsx
  apps/L2A/restaurant/frontend/src/app/profile/_features/Profile.tsx
  apps/L2A/restaurant/frontend/src/app/profile/page.tsx
  apps/L2A/restaurant/frontend/src/components/providers/AuthProvider.tsx
Labels: PR status: code ready

#4775 auth update
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/_components/Button.spec.tsx
  apps/L2A/concert/frontend/specs/home/Button.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/Button.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/_components/context/AuthContext.tsx
  apps/L2A/concert/frontend/src/app/auth/signin/page.tsx
  apps/L2A/concert/frontend/src/app/auth/signup/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4744 4740 create post field
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(create-post)/create-post.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostField.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostHeader.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostName.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostPrice.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostRestroom.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/create-post/CreatePostRoom.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/CreatePostName.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/CreatePostPrice.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostField.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostName.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostPrice.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostRestroom.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_components/CreatePostRoom.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/create-post/_features/CreatePostCard.tsx
Labels: PR status: code ready, 2A-Real-Estate

#4788 admin
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin-listing-table.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/building-details.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/listing-detail-admin-view.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/BuildingDetails.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/ListingDetailAdminView.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/RecentListingSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/BuildingDetails.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/ListingDetailAdminView.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/RecentListingSection.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4787 feat: create-order, user-register backend
  apps/L2A/restaurant/backend/specs/resolvers/mutations/add-product.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/create-order.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/register.spec.ts
  apps/L2A/restaurant/backend/src/handler.ts
  apps/L2A/restaurant/backend/src/models/order.model.ts
  apps/L2A/restaurant/backend/src/models/product.model.ts
  apps/L2A/restaurant/backend/src/models/user.model.ts
  apps/L2A/restaurant/backend/src/resolvers/index.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/add-product.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/create-order.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/delete-product.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/register.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/update-product.ts
  apps/L2A/restaurant/backend/src/schemas/category.schema.ts
  apps/L2A/restaurant/backend/src/schemas/common.schema.ts
  apps/L2A/restaurant/backend/src/schemas/index.ts
  apps/L2A/restaurant/backend/src/schemas/mutation.schema.ts
  apps/L2A/restaurant/backend/src/schemas/order.schema.ts
  apps/L2A/restaurant/backend/src/schemas/product.schema.ts
  apps/L2A/restaurant/backend/src/schemas/query.schema.ts
  apps/L2A/restaurant/backend/src/schemas/user.schema.ts
  apps/L2A/restaurant/backend/src/utils/create-product.ts
  apps/L2A/restaurant/backend/src/utils/update-product-indb.ts
Labels: PR status: code ready, restaurant-team

#4793 feat: pop up order
  apps/L2A/restaurant/frontend/cypress/e2e/HomeOrder/homeorder.cy.tsx
  apps/L2A/restaurant/frontend/public/Taco.png
  apps/L2A/restaurant/frontend/specs/ordermain/CartItem.spec.tsx
  apps/L2A/restaurant/frontend/specs/ordermain/HomeOrder.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_components/CartItems.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeOrder.tsx
  apps/L2A/restaurant/frontend/src/app/_features/RenderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/page.tsx
Labels: PR status: code ready

#4802 style(footer and layout): fixed footer page down
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/Footer.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/layout.tsx
Labels: PR status: code ready, 2A-Real-Estate

#4803 home
  apps/L2A/real-estate/real-estate-frontend/src/app/page.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4806 style(admin): remove padding
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/page.tsx
Labels: PR status: code ready, 2A-Real-Estate

#4809 recover password
  apps/L2A/concert/backend/specs/resolvers/mutations/update-user.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/index.ts
  apps/L2A/concert/backend/src/resolvers/mutations/update-user.ts
  apps/L2A/concert/backend/src/schemas/mutation.schema.ts
  apps/L2A/concert/backend/src/utils/check-password.ts
  apps/L2A/concert/backend/src/utils/find-user-by-id.ts
Labels: PR status: code ready, 2A-CONCERT

#4807 create notficion
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/src/app/_components/Header.tsx
  apps/L2A/restaurant/frontend/src/app/_features/Notification.tsx
Labels: PR status: code ready

#4789 create concert updated
  apps/L2A/concert/backend/specs/resolvers/mutations/create-concert.spec.ts
  apps/L2A/concert/backend/src/models/concert.model.ts
  apps/L2A/concert/backend/src/models/seat.model.ts
  apps/L2A/concert/backend/src/models/ticket-categories.model.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-concert.ts
  apps/L2A/concert/backend/src/schemas/booking.schema.ts
  apps/L2A/concert/backend/src/schemas/common.schema.ts
  apps/L2A/concert/backend/src/schemas/concert.schema.ts
  apps/L2A/concert/backend/src/schemas/index.ts
  apps/L2A/concert/backend/src/schemas/mutation.schema.ts
  apps/L2A/concert/backend/src/schemas/seat.schema.ts
  apps/L2A/concert/backend/src/schemas/ticket-category.schema.ts
  apps/L2A/concert/backend/src/schemas/ticket.schema.ts
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#4814 theme wrapper
  apps/L2A/concert/frontend/specs/admin-header.spec.tsx
  apps/L2A/concert/frontend/specs/theme-wrapper.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/ThemeWrapper.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/AdminHeader.tsx
  apps/L2A/concert/frontend/src/app/admin/layout.tsx
  apps/L2A/concert/frontend/src/app/layout.tsx
Labels: PR status: code ready, 2A-CONCERT

#4770 add list page ...
  apps/L2A/concert/frontend/public/dashboard-image.webp
  apps/L2A/concert/frontend/public/placeholder.webp
  apps/L2A/concert/frontend/specs/ChevronIcon.spec.tsx
  apps/L2A/concert/frontend/specs/ConcertCard.spec.tsx
  apps/L2A/concert/frontend/specs/Dashboard.spec.tsx
  apps/L2A/concert/frontend/specs/Dashbourd.spec.tsx
  apps/L2A/concert/frontend/specs/FilterList.spec.tsx
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/HeroSection.spec.tsx
  apps/L2A/concert/frontend/specs/SearchIcon.spec.tsx
  apps/L2A/concert/frontend/src/app/_assets/ChevronIcon.tsx
  apps/L2A/concert/frontend/src/app/_assets/SearchIcon.tsx
  apps/L2A/concert/frontend/src/app/_components/ConcertCard.tsx
  apps/L2A/concert/frontend/src/app/_components/Dashboard.tsx
  apps/L2A/concert/frontend/src/app/_components/Dashbourd.tsx
  apps/L2A/concert/frontend/src/app/_components/FilterListPage.tsx
  apps/L2A/concert/frontend/src/app/_components/Footer.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/_components/HeroSection.tsx
  apps/L2A/concert/frontend/src/app/_components/ListCards.tsx
  apps/L2A/concert/frontend/src/app/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4818 table only mutation
  apps/L2A/restaurant/backend/specs/resolvers/mutations/table/add-table.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/table/delete-table.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/table/uptade-table.spec.ts
  apps/L2A/restaurant/backend/src/models/table.model.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/add-table.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/delete-table.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/uptade-table.ts
  apps/L2A/restaurant/backend/src/schemas/index.ts
  apps/L2A/restaurant/backend/src/schemas/table.schema.ts
Labels: PR status: code ready

#4823 fix: changed vercel front end project id
  apps/L2A/concert/frontend/project.json
  apps/L2A/concert/frontend/src/app/admin/login/page.tsx
Labels: PR status: code ready, 2b-Tinder

#4800 feat(setup): created our forntend folders for our project
  apps/L2B/hotel-booking/client/.babelrc
  apps/L2B/hotel-booking/client/.eslintrc.json
  apps/L2B/hotel-booking/client/.nycrc
  apps/L2B/hotel-booking/client/codegen.ts
  apps/L2B/hotel-booking/client/cypress.config.ts
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/home-page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/render-all.pages.cy.tsx
  apps/L2B/hotel-booking/client/cypress/support/app.po.ts
  apps/L2B/hotel-booking/client/cypress/support/commands.ts
  apps/L2B/hotel-booking/client/cypress/support/e2e.ts
  apps/L2B/hotel-booking/client/cypress/support/indets.d.ts
  apps/L2B/hotel-booking/client/cypress/tsconfig.json
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/cypress/utils/get-all-pages.ts
  apps/L2B/hotel-booking/client/cypress/utils/intercept-graphql.ts
  apps/L2B/hotel-booking/client/index.d.ts
  apps/L2B/hotel-booking/client/jest.config.ts
  apps/L2B/hotel-booking/client/main.tf
  apps/L2B/hotel-booking/client/next-env.d.ts
  apps/L2B/hotel-booking/client/next.config.js
  apps/L2B/hotel-booking/client/postcss.config.js
  apps/L2B/hotel-booking/client/project.json
  apps/L2B/hotel-booking/client/public/.gitkeep
  apps/L2B/hotel-booking/client/public/favicon.ico
  apps/L2B/hotel-booking/client/src/app/global.css
  apps/L2B/hotel-booking/client/src/app/layout.tsx
  apps/L2B/hotel-booking/client/src/app/page.tsx
  apps/L2B/hotel-booking/client/src/components/providers/ApolloWrapper.tsx
  apps/L2B/hotel-booking/client/src/components/providers/index.ts
  apps/L2B/hotel-booking/client/src/graphql/all.graphql
  apps/L2B/hotel-booking/client/src/public/.favicon.ico
  apps/L2B/hotel-booking/client/src/public/.gitkeep
  apps/L2B/hotel-booking/client/tailwind.config.js
  apps/L2B/hotel-booking/client/tsconfig.json
  apps/L2B/hotel-booking/client/tsconfig.spec.json
  package.json
Labels: PR status: code ready, 2B-Hotel-Booking

#4827 shoppingCart
  apps/L2A/restaurant/frontend/src/app/_components/Header.tsx
  apps/L2A/restaurant/frontend/src/app/_features/ShoppingCart.tsx
Labels: PR status: code ready

#4795 feat(real-estate): header checks user auth
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/queries/me.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/app/api/graphql/route.ts
  apps/L2A/real-estate/real-estate-backend/src/context.ts
  apps/L2A/real-estate/real-estate-backend/src/handler.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/me.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/index.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/me.schema.ts
  apps/L2A/real-estate/real-estate-backend/src/utils/jwt.ts
  apps/L2A/real-estate/real-estate-frontend/codegen.ts
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/signup.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/Header.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/SignInForm.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/Header.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/layout.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/_components/SignInForm.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signup/_components/StepThree.tsx
  apps/L2A/real-estate/real-estate-frontend/src/components/providers/ApolloWrapper.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/all.graphql
  apps/L2A/real-estate/real-estate-frontend/src/graphql/me.graphql
  apps/L2A/real-estate/real-estate-frontend/src/hooks/useAuth.ts
Labels: PR status: code ready

#4826 admin login
  apps/L2A/concert/frontend/cypress/e2e/admin/change-password/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/forgot-password/page.cy.tsx
  apps/L2A/concert/frontend/cypress/utils/all-pages.json
  apps/L2A/concert/frontend/src/app/admin/change-password/page.tsx
  apps/L2A/concert/frontend/src/app/admin/forgot-password/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4834 admin login
  apps/L2A/concert/frontend/cypress/e2e/admin/change-password/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/forgot-password/page.cy.tsx
  apps/L2A/concert/frontend/src/app/admin/change-password/page.tsx
  apps/L2A/concert/frontend/src/app/admin/forgot-password/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4756 admin food uptade dummy dialog
  apps/L2A/restaurant/frontend/cypress/e2e/HomeOrder/homeorder.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/HomePage/Information.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/HomePage/Profile.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-food-list.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-food-uptade.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/odrderhistory/order-history.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/odrderhistory/order.history.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/wallet/wallet-main.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/specs/admin/adminFoodList.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_components/CartItems.tsx
  apps/L2A/restaurant/frontend/src/app/admin/food/_features/AdminFoodList.tsx
  apps/L2A/restaurant/frontend/src/app/orderhistory/_components/OrderStatusCard.tsx
  apps/L2A/restaurant/frontend/src/app/orderhistory/page.tsx
  apps/L2A/restaurant/frontend/src/app/profile/_features/Profile.tsx
Labels: PR status: code ready

#4839 done
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin-listing-table.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/listing-detail-admin-view.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/status-select.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/ListingDetailAdminView.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/StatusSelect.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/ListingDetailAdminView.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/StatusSelect.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/page.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4846 get concert query update
  apps/L2A/concert/backend/specs/resolvers/queries/get-concert.spec.ts
  apps/L2A/concert/backend/src/resolvers/queries/get-concert.ts
  apps/L2A/concert/backend/src/utils/get-concert/normalize-concert.ts
  apps/L2A/concert/frontend/src/app/layout.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#4847 backend update
  apps/L2A/concert/backend/specs/resolvers/queries/get-concets.spec.ts
  apps/L2A/concert/backend/src/models/concert.model.ts
  apps/L2A/concert/backend/src/models/index.ts
  apps/L2A/concert/backend/src/resolvers/queries/get-all-concerts.ts
  apps/L2A/concert/backend/src/resolvers/queries/index.ts
  apps/L2A/concert/backend/src/schemas/concert.schema.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
Labels: PR status: code ready, 2A-CONCERT

#4851 project.json fix
  apps/L2A/concert/frontend/project.json
Labels: PR status: code ready, 2A-CONCERT

#4849 fix(real-estate-frontend): tested
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/forget-password.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/specs/user/PasswordStepOne.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/forget-password/_components/PasswordStepOne.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/forget-password/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/_components/SignInForm.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4852 menu-foodlist
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu-card.cy.tsx
  apps/L2A/restaurant/frontend/src/app/_features/RenderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_components/menuCategories.json
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/FoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/page.tsx
Labels: PR status: code ready

#4843 router push
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-food-list.cy.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
  apps/L2A/restaurant/frontend/src/app/login/_features/Login.tsx
Labels: PR status: code ready

#4865 sheet close
  apps/L2A/restaurant/frontend/src/app/_components/Sheet.tsx
Labels: PR status: code ready

#4858 cancel request page ver1
  apps/L2A/concert/frontend/cypress/e2e/admin/cancel-request/page.cy.tsx
  apps/L2A/concert/frontend/specs/admin/cancel-request/_components/TableHeader.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/cancel-request-table-row.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableHeader.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableRow.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/page.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/utils/test-array.ts
  apps/L2A/concert/frontend/src/app/admin/ticket/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4875 4831 concert frontend holbolt
  apps/L2A/concert/backend/src/models/concert.model.ts
  apps/L2A/concert/frontend/src/app/page.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#4861 order-food
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/menu-card.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/orderMainCard.cy.tsx
  apps/L2A/restaurant/frontend/specs/admin/orders/orderFood.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orders/orderMainCard.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orders/orderSecondCard.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/_components/OrderFood.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/_components/OrderMainCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/_components/OrderSecondCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/_components/orders.json
  apps/L2A/restaurant/frontend/src/app/admin/orders/page.tsx
Labels: PR status: code ready

#4894 feat: auth folder setup done
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/forget-password/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/sign-in/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/sign-up/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/cypress/utils/all-pages.json
  apps/L2B/tinder/tinder-frontend/jest.config.ts
  apps/L2B/tinder/tinder-frontend/public/tinder.svg
  apps/L2B/tinder/tinder-frontend/specs/forget-password/FirstStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/forget-password/SecondStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/forget-password/ThirdStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/sign-up/FirstStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/sign-up/SecondStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/sign-up/ThirdStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/FirstStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/ThirdStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/ForgetPasswordSteps.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/page.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-in/page.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_components/FirstStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_components/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_components/ThirdStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_feature/SignUpSteps.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/page.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#4841 table add with qr code wtihout query
  apps/L2A/restaurant/backend/specs/resolvers/mutations/table/add-table.spec.ts
  apps/L2A/restaurant/backend/src/models/table.model.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/add-table.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-table-semiheader.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/specs/admin/tableSemiHeader.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/table/_features/AdminTableSemiHeader.tsx
  apps/L2A/restaurant/frontend/src/graphql/all.graphql
  package.json
Labels: PR status: code ready

#4855 admin featured-event
  apps/L2A/concert/frontend/cypress/e2e/admin/featured-event.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/forget-password.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/forgot-password/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/login.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/auth/signin/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/auth/signup/page.cy.tsx
  apps/L2A/concert/frontend/specs/admin/featuredEvent.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/FeaturedEvent.tsx
  apps/L2A/concert/frontend/src/app/admin/forgot-password/page.tsx
  apps/L2A/concert/frontend/src/app/auth/signup/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4889 4786 real estate homepage v2
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/property-detail-page.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/project.json
  apps/L2A/real-estate/real-estate-frontend/specs/home/PropertyDetailPage.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/detailed/page.tsx
Labels: PR status: code ready

#4904 feat(server): signup backend & unit test
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/signup.spec.ts
  apps/L2B/hotel-booking/server/src/models/index.ts
  apps/L2B/hotel-booking/server/src/models/user.model.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/index.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/signup.ts
  apps/L2B/hotel-booking/server/src/schemas/index.ts
  apps/L2B/hotel-booking/server/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#4916 feat: sign up second step frontend done
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/sign-up/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/specs/sign-up/SecondStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_components/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_feature/SignUpSteps.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#4924 style(layout): footer down page
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/LayoutClient.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/layout.tsx
Labels: PR status: code ready, 2A-Real-Estate

#4890 feat(register): login & signup frontend
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/signup/index.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/specs/(auth)/SignUpHeader.spec.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_components/SignUpHeader.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_feature/SignUpEmail.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_feature/SignUpPassword.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signup/page.tsx
  package.json
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#4919 feat: created forget-password third page front-end
  apps/L2B/tinder/tinder-frontend/specs/forget-password/PasswordSchema.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/forget-password/ThirdStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/PasswordSchema.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/ThirdStep.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#4929 feat(real-estate-backend): post schema changed
  apps/L2A/real-estate/real-estate-backend/src/models/post.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/post/create-post.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/post.schema.ts
Labels: PR status: code ready

#4869 admin feature dialog
  apps/L2A/concert/frontend/specs/admin/featured.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/Featured.tsx
Labels: PR status: code ready, 2A-CONCERT

#4871 admin change status dialog
  apps/L2A/concert/frontend/specs/admin/statusChange.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/StatusChange.tsx
Labels: PR status: code ready, 2A-CONCERT

#4933 add ticket frontend
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/page.cy.tsx
  apps/L2A/concert/frontend/specs/admin/cancel-request/_components/cancel-request-table-row.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/AddTicketSeatInputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/AddTicketThumbnailURLInput.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/AddTicketTimeInputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/AddTicketVenueInfoInputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/AddTicketinfoinputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/addTicketDialog.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/AddTicketDialog.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/AddTicketImageUrlInput.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/AddTicketSeatInputs.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/AddTicketTimeInputs.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/AddTicketVenueInfoInputs.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/AddTicketinfoinputs.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_featured/AddTicketDialog.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/page.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/utils/add-ticket-default-values.ts
  apps/L2A/concert/frontend/src/app/admin/ticket/utils/add-ticket-schema.ts
Labels: PR status: code ready, 2A-CONCERT

#4934 4915 signup password confirmpassword frontend
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/signup/index.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_components/SignUpHeader.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_feature/SignUpEmail.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_feature/SignUpPassword.tsx
  apps/L2B/hotel-booking/client/src/graphql/user.graphql
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#4903 4819 table query
  apps/L2A/restaurant/backend/specs/resolvers/queries/get-table-by-id.spec.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/get-table-by-id.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/index.ts
  apps/L2A/restaurant/backend/src/schemas/table.schema.ts
Labels: PR status: code ready, restaurant-team

#4921 feat: signin done
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/sign-in/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-in/page.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#4874 order-header
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-second-header.cy.tsx
  apps/L2A/restaurant/frontend/specs/admin/orderHeader.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_components/OrderHeader.tsx
Labels: PR status: code ready

#4948 uptaded mutation on product
  apps/L2A/restaurant/backend/specs/resolvers/mutations/add-product.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/update-product.spec.ts
  apps/L2A/restaurant/backend/src/models/product.model.ts
  apps/L2A/restaurant/backend/src/schemas/product.schema.ts
  apps/L2A/restaurant/backend/src/utils/build-update-data.ts
  apps/L2A/restaurant/backend/src/utils/create-product.ts
Labels: PR status: code ready, restaurant-team

#4927 user-listing
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/user-listing.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/specs/user-listing/UserListingPage.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user-listing/UserListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/user-listing/_components/UserListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/user-listing/page.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4956 add concert
  apps/L2A/concert/backend/specs/resolvers/mutations/create-venue.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-venue.ts
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/page.cy.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_featured/AddTicketDialog.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#4941 feat(real-estate-backend): update post by id
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/post/update-post.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/post/update-post-by-id.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/post.schema.ts
Labels: PR status: code ready, 2A-Real-Estate

#4947 Profile(page) sidebar
  apps/L2B/hotel-booking/client/specs/(profile)/ProfileSideBar.spec.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_components/ProfileSideBar.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/contact/page.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/layout.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/profile/page.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/security/page.tsx
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#4937 feat(real-estate-backend): id gaar post delete hiideg bolson
  apps/L2A/leave-request/backend/specs/resolvers/mutations/user/login.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/post/delete-post.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/post/delete-post-by-id.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/post.schema.ts
Labels: PR status: code ready, 2A-Real-Estate

#4967 secondStep process done but API code incomplete
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/sign-up/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/specs/sign-up/SecondStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_components/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_components/ThirdStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_feature/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_feature/SignUpSteps.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#4978 feat: sign up backend done
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/addUser.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/isVerifiedUser.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sample-mutation.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sendOtp.spec.ts
  apps/L2B/tinder/tinder-backend/src/models/index.ts
  apps/L2B/tinder/tinder-backend/src/models/user.model.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/add-user.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/index.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/is-verified-user.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/sample-mutation.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/send-otp.ts
  apps/L2B/tinder/tinder-backend/src/schemas/common.schema.ts
  apps/L2B/tinder/tinder-backend/src/schemas/index.ts
  apps/L2B/tinder/tinder-backend/src/schemas/mutation.schema.ts
  apps/L2B/tinder/tinder-backend/src/schemas/query.schema.ts
  apps/L2B/tinder/tinder-backend/src/schemas/user.schema.ts
  apps/L2B/tinder/tinder-backend/src/utils/send-email.ts
Labels: PR status: code ready, backend, 2b-Tinder

#4949 feat: forget password page frontend
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/forgot-password/index.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/_features/ForgetPasswordEmail.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/_features/ForgetPasswordNew.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/_features/ForgetPasswordStep3.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/page.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/login/page.tsx
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#4972 feat(sigin): done
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/signin/index.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/src/app/(public)/signin/_feature/SignIn.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signin/page.tsx
Labels: PR status: code ready, 2B-Hotel-Booking

#4981 feat: auth backend
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/forgot-password.spec.ts
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/login.spec.ts
  apps/L2B/hotel-booking/server/src/models/otp.model.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/index.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/login.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/password-reset.ts
  apps/L2B/hotel-booking/server/src/schemas/auth.schema.ts
  apps/L2B/hotel-booking/server/src/schemas/index.ts
  apps/L2B/hotel-booking/server/src/utils/auth.ts
  apps/L2B/hotel-booking/server/src/utils/email.ts
  apps/L2B/hotel-booking/server/src/utils/otp.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#4980 Profile Header & getUser, getUsers BE
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/specs/(main)/(profile)/ProfileSideBar.spec.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/_components/ProfileSideBar.tsx
  apps/L2B/hotel-booking/server/specs/resolvers/queries/user/get-user.spec.ts
  apps/L2B/hotel-booking/server/specs/resolvers/queries/user/get-users.spec.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/get-user.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/get-users.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/index.ts
  apps/L2B/hotel-booking/server/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#4992 feat: backend project id buruu baigaad zasaw
  apps/L2B/tinder/tinder-backend/project.json
Labels: PR status: code ready, backend, 2b-Tinder

#4984 simplify the mutation change password
  apps/L2A/concert/backend/specs/resolvers/mutations/change-password.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/change-password.ts
Labels: PR status: code ready, 2A-CONCERT

#4970 4838 cancel request
  apps/L2A/concert/backend/src/models/ticket.model.ts
  apps/L2A/concert/backend/src/schemas/ticket.schema.ts
  apps/L2A/concert/frontend/specs/admin/cancel-request/_components/cancel-request-table-row.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/_components/TableRow.tsx
Labels: PR status: code ready, 2A-CONCERT

#4965 prepare table
  apps/L2A/concert/backend/src/models/concert.model.ts
  apps/L2A/concert/backend/src/schemas/concert.schema.ts
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#4995 feat: graphql frontend nemew
  apps/L2B/tinder/tinder-frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, 2b-Tinder

#4971 admin-listing-from-backend
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(main)/admin-listing-table.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/details/[id]/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/get-posts.graphql
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5008 feat: forget password frontend and test
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/forget-password/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/specs/forget-password/SecondStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/FirstStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/ThirdStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/ForgetPasswordSteps.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/SecondStep.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#4998 feat(footer): footer hiilee
  apps/L2B/hotel-booking/client/specs/Footer.spec.tsx
  apps/L2B/hotel-booking/client/src/app/_components/Footer.tsx
  apps/L2B/hotel-booking/client/src/app/layout.tsx
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#5015 feat(component): created new component
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/sign-up/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/specs/sign-up/ThirdStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_components/ThirdStep.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#5014 update
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/admin/featuredEvent.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/FeaturedEvent.tsx
  apps/L2A/concert/frontend/src/app/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5021 feat(reset-password): add reset password mutation
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/user/reset-password.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/reset-password.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
Labels: PR status: code ready, backend, 2A-Real-Estate

#5019 fix: secondStep and FirstStep front test done
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/create-account/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/specs/create-account/secondStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_components/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_feature/CreateAccountSteps.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_feature/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/page.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#5005 forgetpassword
  apps/L2A/concert/backend/specs/resolvers/mutations/register.spec.ts
  apps/L2A/concert/backend/specs/resolvers/queries/delete-test-docs.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/register.ts
  apps/L2A/concert/backend/src/resolvers/queries/delete-test-documents.ts
  apps/L2A/concert/backend/src/resolvers/queries/index.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
  apps/L2A/concert/backend/src/utils/check-if-user-exist.ts
  apps/L2A/concert/frontend/cypress/e2e/admin/login.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/profile/123/page.cy.tsx
  apps/L2A/concert/frontend/cypress/utils/all-pages.json
  apps/L2A/concert/frontend/specs/userProfile/_features/ForgetPassword.spec.tsx
  apps/L2A/concert/frontend/specs/userProfile/_features/OrderHistory.spec.tsx
  apps/L2A/concert/frontend/specs/userProfile/_features/ProfileNavigation.spec.tsx
  apps/L2A/concert/frontend/specs/userProfile/_features/UserProfile.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_featured/AddTicketDialog.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/ForgetPassword.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/OrderHistory.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/ProfileNavigation.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/SidebarNavigation.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/UserProfile.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/page.tsx
  apps/L2A/concert/frontend/src/app/profile/_utils/change-password-schema.ts
  apps/L2A/concert/frontend/src/app/userProfile/[id]/_features/ForgetPassword.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready

#5032 recommend concert
  apps/L2A/concert/frontend/specs/event/123/_components/RecommendConcert.spec.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/RecommendConcert.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5040 cypress test + mutation population
  apps/L2A/concert/backend/specs/resolvers/queries/get-concets.spec.ts
  apps/L2A/concert/backend/src/resolvers/queries/get-all-concerts.ts
  apps/L2A/concert/frontend/cypress/e2e/(main)/home-page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/event/page.cy.tsx
  apps/L2A/concert/frontend/src/app/_components/ConcertCard.tsx
  apps/L2A/concert/frontend/src/app/_components/HeroSection.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5041 feat: header test
  Ellipse 1.svg
  apps/L2B/hotel-booking/client/specs/Header.spec.tsx
  apps/L2B/hotel-booking/client/src/app/_components/Card/Page.tsx
  apps/L2B/hotel-booking/client/src/app/_components/Header.tsx
  apps/L2B/hotel-booking/client/src/app/layout.tsx
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#4977 feat: fix
  .husky/pre-commit
Labels: PR status: code ready

#5046 feat(real-estate-backend): get post by post id
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/queries/getPostById.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/queries/getPostByUserId.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/get-post-by-id.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/get-post-by-user-id.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/index.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/post.schema.ts
Labels: PR status: code ready, 2A-Real-Estate

#5056 order-query
  apps/L2A/restaurant/backend/specs/resolvers/queries/get-order-by-id.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/queries/get-orders.spec.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/get-order-by-id.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/get-orders.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/index.ts
  apps/L2A/restaurant/backend/src/schemas/query.schema.ts
Labels: PR status: code ready, restaurant-team

#5055 added steps
  apps/L2A/restaurant/frontend/cypress/e2e/HomeOrder/cartitem.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/HomeOrder/homeorder.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/renderfood/renderfood.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/specs/ordermain/CartItem.spec.tsx
  apps/L2A/restaurant/frontend/specs/ordermain/HomeOrder.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_components/CartItems.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeOrder.tsx
Labels: PR status: code ready

#5035 feat: auth backend frontend connected
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/forgot-password/ForgetPasswordEmail.cy.ts
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/forgot-password/ForgetPasswordNew.cy.ts
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/forgot-password/ForgetPasswordOtp.cy.ts
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/forgot-password/index.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/forgot-password/shared-setup.ts
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/signin/index.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/(public)/signup/index.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/_features/ForgetPasswordEmail.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/_features/ForgetPasswordNew.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/_features/ForgetPasswordStep3.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/forget-password/page.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/login/page.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signin/_feature/SignIn.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signin/page.tsx
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_feature/SignUpPassword.tsx
  apps/L2B/hotel-booking/client/src/graphql/auth.graphql
Labels: PR status: code ready, 2B-Hotel-Booking

#5066 thumbnail
  apps/L2A/concert/frontend/src/app/event/[id]/_components/ConcertBanner.tsx
Labels: PR status: code ready, 2A-CONCERT

#5068 profile: update contact BE
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/update-contact.spec.ts
  apps/L2B/hotel-booking/server/src/models/user.model.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/index.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/update-contact.ts
  apps/L2B/hotel-booking/server/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#5070 fix: next config fixed
  apps/L2B/hotel-booking/client/next.config.js
  apps/L2B/hotel-booking/client/src/app/(public)/signup/_feature/SignUpPassword.tsx
Labels: PR status: code ready, 2B-Hotel-Booking

#5072 fix: fixed
  apps/L2B/hotel-booking/server/next.config.js
  apps/L2B/hotel-booking/server/src/utils/email.ts
Labels: PR status: code ready, 2B-Hotel-Booking

#5074 feat: next config fix
  apps/L2B/tinder/tinder-backend/next.config.js
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sendOtp.spec.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/send-otp.ts
  apps/L2B/tinder/tinder-backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2b-Tinder

#5011 ticketfilterbar and test
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/TicketFilterBar.cy.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/TicketFilterBar.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/TicketFilterBar.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5078 backend
  apps/L2A/concert/backend/src/models/request.model.ts
  apps/L2A/concert/backend/src/schemas/cancel-request.schema.ts
  apps/L2A/concert/backend/src/schemas/enum.schema.ts
  apps/L2A/concert/backend/src/schemas/index.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
  apps/L2A/concert/backend/src/schemas/ticket.schema.ts
  apps/L2A/concert/frontend/src/app/admin/cancel-request/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5081 loading fix
  apps/L2A/concert/frontend/src/app/event/[id]/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5057 push
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/forget-password.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/PasswordStepOne.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/PasswordStepThree.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/PasswordStepTwo.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepThreeOtpVerify.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/user/StepTwoOtpRequest.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/forget-password/_components/PasswordStepOne.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/forget-password/_components/PasswordStepThree.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/forget-password/_components/PasswordStepTwo.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/forget-password/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5083 music start fix
  apps/L2A/concert/frontend/specs/event/123/_components/AboutEvent.spec.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/AboutEvent.tsx
Labels: PR status: code ready, 2A-CONCERT

#5085 link holbov
  apps/L2A/real-estate/real-estate-frontend/src/app/_components/Header.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/ListingDetailAdminView.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5089 auth bug
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/TicketFilterBar.cy.tsx
  apps/L2A/concert/frontend/src/app/_components/context/AuthContext.tsx
Labels: PR status: code ready, 2A-CONCERT

#5077 5042 avia filter frontend
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/listing.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/fixtures/listings.json
  apps/L2A/real-estate/real-estate-frontend/specs/home/Listingcard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/PropertyDetailPage.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/home/RecentListingSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/ListingDetailAdminView.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/details/[id]/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/detailed/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/ListingCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/RecentListingSection.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/layout.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/listing/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/filter-post.graphql
  apps/L2A/real-estate/real-estate-frontend/src/hooks/useQueryState.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-array.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-boolean.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-location.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-price.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-rest-room.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-room.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-type.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/index.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/parse-price.ts
Labels: PR status: code ready, 2A-Real-Estate

#5093 concert card improvement
  apps/L2A/concert/frontend/cypress/e2e/event/123/page.cy.tsx
  apps/L2A/concert/frontend/specs/event/123/_components/SeatInfo.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/ConcertCard.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/SeatInfo.tsx
  apps/L2A/concert/frontend/src/app/page.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5094 feat(real-estate): added search input logic
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/queries/filters/search-filter.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/filter/filter-post.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/filter/location-filter.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/queries/filter/search-filter.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/filter.schema.ts
  apps/L2A/real-estate/real-estate-frontend/src/app/listing/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/hooks/debounce-hook.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-array.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/build-search.ts
  apps/L2A/real-estate/real-estate-frontend/src/lib/index.ts
Labels: PR status: code ready, 2A-Real-Estate

#5100 feat: backend models,schemas
  apps/L2B/hotel-booking/server/src/models/booking.model.ts
  apps/L2B/hotel-booking/server/src/models/hotel.model.ts
  apps/L2B/hotel-booking/server/src/models/index.ts
  apps/L2B/hotel-booking/server/src/models/room.model.ts
  apps/L2B/hotel-booking/server/src/schemas/booking.schema.ts
  apps/L2B/hotel-booking/server/src/schemas/common.schema.ts
  apps/L2B/hotel-booking/server/src/schemas/hotel.schema.ts
  apps/L2B/hotel-booking/server/src/schemas/room.shema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#5106 menu card
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/menu-main-card.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/src/app/admin/menu/_components/menuCategories.json
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MenuCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/page.tsx
Labels: PR status: code ready, frontend

#5079 order-dialog
  apps/L2A/restaurant/frontend/specs/admin/orders/orderDialog.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orders/orderSecondCard.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/_components/Dialog.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/_components/OrderSecondCard.tsx
Labels: PR status: code ready, frontend

#5097 menu-tab
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/menu-tab.cy.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MenuTab.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/page.tsx
Labels: PR status: code ready, frontend

#5117 feat: forgot password backend done
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/forgot-password/forgot-match-otp.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/forgot-password/forgot-password.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/forgot-password/send-forgot-password-otp.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sign-up/addUser.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sign-up/deleteUser.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sign-up/isVerifiedUser.spec.ts
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sign-up/sendOtp.spec.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/index.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/forget-password/forgot-match-otp.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/forget-password/forgot-password.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/forget-password/send-forgot-password-otp.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/sign-up/add-user.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/sign-up/delete-user.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/sign-up/is-verified-user.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/sign-up/send-otp.ts
  apps/L2B/tinder/tinder-backend/src/schemas/index.ts
  apps/L2B/tinder/tinder-backend/src/schemas/mutation.schema.ts
  apps/L2B/tinder/tinder-backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2b-Tinder

#5121 5115-res-update
  .github/instructions/nx.instructions.md
  apps/L2A/restaurant/frontend/cypress/e2e/admin/admin-second-header.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/food-card.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/main-tab.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/product-card.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/admin/order/page.cy.tsx
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/specs/admin/adminHeader.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/order/orderFood.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orderHeader.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orders/orderDialog.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orders/orderMainCard.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/orders/orderSecondCard.spec.tsx
  apps/L2A/restaurant/frontend/src/app/admin/_components/Header.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MainTab.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MenuTab.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/ProductCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/page.tsx
  apps/L2A/restaurant/frontend/src/app/admin/order/_components/FoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/order/_components/orderdata.json
  apps/L2A/restaurant/frontend/src/app/admin/order/_features/Dialog.tsx
  apps/L2A/restaurant/frontend/src/app/admin/order/_features/Header.tsx
  apps/L2A/restaurant/frontend/src/app/admin/order/_features/MainCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/order/_features/SecondCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/order/page.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/_components/OrderSecondCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/orders/page.tsx
  apps/L2A/restaurant/frontend/src/app/admin/page.tsx
Labels: PR status: code ready, frontend

#5126 stage plan
  apps/L2A/concert/frontend/src/app/StagePlan/_feature/RideSide.tsx
  apps/L2A/concert/frontend/src/app/StagePlan/_feature/Stage.tsx
Labels: PR status: code ready, 2A-CONCERT

#5136 profile: contact page FE
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/(profile)/contact.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/specs/(main)/(profile)/SelectCountryCode.spec.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/(profiles)/contact/_components/SelectCountryCode.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/(profiles)/contact/_feature/Contact.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/(profiles)/contact/page.tsx
  apps/L2B/hotel-booking/client/src/graphql/user.graphql
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#5129 payment
  apps/L2A/restaurant/frontend/cypress/e2e/HomePage/payment.cy.tsx
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/public/qpay.png
  apps/L2A/restaurant/frontend/public/socialpay.png
  apps/L2A/restaurant/frontend/src/app/payment/page.tsx
Labels: PR status: code ready

#5130 feat(hotel query & mutation): hotel query and mutation
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/hotel.spec.ts
  apps/L2B/hotel-booking/server/specs/resolvers/queries/hotel/get-hotel.spec.ts
  apps/L2B/hotel-booking/server/specs/resolvers/queries/hotel/get-hotels.spec.ts
  apps/L2B/hotel-booking/server/src/models/hotel.model.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/hotel.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/index.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/get-hotel.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/get-hotels.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/index.ts
  apps/L2B/hotel-booking/server/src/schemas/hotel.schema.ts
  apps/L2B/hotel-booking/server/src/schemas/index.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#5139 profile: update password
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/update-contact.spec.ts
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/update-password.spec.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/index.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/update-password.ts
  apps/L2B/hotel-booking/server/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#5128 back holbov admin
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.basic.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.filters.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/specs/admin/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/details/[id]/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/page.tsx
  apps/L2A/real-estate/real-estate-frontend/src/graphql/get-posts.graphql
Labels: PR status: code ready, frontend, 2A-Real-Estate

#5134 style: done signin backend
  apps/L2B/tinder/tinder-backend/specs/resolvers/mutations/sign-in/sign-in.spec.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/index.ts
  apps/L2B/tinder/tinder-backend/src/resolvers/mutations/user/sign-in/sign-in.ts
  apps/L2B/tinder/tinder-backend/src/schemas/user.schema.ts
Labels: PR status: code ready, 2b-Tinder

#5108 Dashboard table style test
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/TicketFilterBar.cy.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/DashboardTable.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/DashboardTable.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/_components/TicketFilterBar.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#5116 userprofile
  apps/L2A/concert/backend/specs/resolvers/mutations/update-user.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/update-user.ts
  apps/L2A/concert/frontend/cypress/e2e/profile/123/page.cy.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/profile/[id]/_features/UserProfile.tsx
  apps/L2A/concert/frontend/src/app/profile/_utils/update-use-info-schema.ts
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5143 profile: update password
  apps/L2B/hotel-booking/client/cypress/e2e/(main)/(profile)/security.cy.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/(profiles)/security/_feature/UpdatePassword.tsx
  apps/L2B/hotel-booking/client/src/app/(main)/(profiles)/security/page.tsx
  apps/L2B/hotel-booking/client/src/graphql/user.graphql
Labels: PR status: code ready, frontend, 2B-Hotel-Booking

#5147 added step2
  apps/L2A/restaurant/frontend/cypress/e2e/HomeOrder/homeorder.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/renderfood/renderfood.cy.tsx
  apps/L2A/restaurant/frontend/specs/ordermain/HomeOrder.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeOrder.tsx
Labels: PR status: code ready, restaurant-team

#5152 feat: created useful folders and pages
  apps/L2B/hotel-booking/client/cypress/e2e/(admin)/guests/[guestid]/page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/e2e/(admin)/hotels/[hotelid]/page.cy.tsx
  apps/L2B/hotel-booking/client/cypress/utils/all-pages.json
  apps/L2B/hotel-booking/client/src/app/(admin)/guests/[guestid]/page.tsx
  apps/L2B/hotel-booking/client/src/app/(admin)/hotels/[hotelid]/page.tsx
Labels: PR status: code ready, 2B-Hotel-Booking

#5156 (user): getCurrentUser
  apps/L2B/hotel-booking/server/specs/resolvers/queries/user/current-user.spec.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/current-user.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/index.ts
  apps/L2B/hotel-booking/server/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#5155 feat: room mutattion,query.spec done
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/room.spec.ts
  apps/L2B/hotel-booking/server/specs/resolvers/queries/room.spec.ts
  apps/L2B/hotel-booking/server/src/models/room.model.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/index.ts
  apps/L2B/hotel-booking/server/src/resolvers/mutations/room.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/index.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/room.ts
  apps/L2B/hotel-booking/server/src/schemas/room.shema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#5153 feat: fixed booking
  apps/L2B/hotel-booking/server/specs/resolvers/mutations/booking.spec.ts
  apps/L2B/hotel-booking/server/specs/resolvers/queries/booking.spec.ts
  apps/L2B/hotel-booking/server/src/models/booking.model.ts
  apps/L2B/hotel-booking/server/src/resolvers/queries/booking.ts
  apps/L2B/hotel-booking/server/src/schemas/booking.schema.ts
Labels: PR status: code ready, backend, 2B-Hotel-Booking

#4969 feat: step 4 building
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/create-account/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/specs/create-account/StepFourtCart.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/create-account/fourthStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/create-account/uploadImage.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_components/FourthStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_components/ImageUpload.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_components/StepFourthCart.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_feature/CreateAccountSteps.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_feature/FourthStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_feature/SecondStep.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#5163 fixed
  apps/L2A/restaurant/frontend/src/app/_features/HomeOrder.tsx
Labels: PR status: code ready, restaurant-team

#5165 done
  apps/L2A/restaurant/frontend/src/app/_features/HomeOrder.tsx
Labels: PR status: code ready, restaurant-team

#5176 feat: change install commands
  .github/workflows/ci.yml
Labels: PR status: code ready

#5145 menu
  apps/L2A/restaurant/frontend/cypress/e2e/admin/menu/page.cy.tsx
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/MainCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/_features/SecondCard.tsx
  apps/L2A/restaurant/frontend/src/app/admin/menu/page.tsx
  apps/L2A/restaurant/frontend/src/app/admin/order/_features/Header.tsx
Labels: PR status: code ready, frontend

#5112 product-query
  apps/L2A/restaurant/backend/specs/resolvers/queries/get-product-by-id.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/queries/get-products.spec.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/get-product-by-id.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/get-products.ts
  apps/L2A/restaurant/backend/src/schemas/query.schema.ts
Labels: PR status: code ready, restaurant-team

#5180 Revert "feat: change install commands"
  .github/workflows/ci.yml
Labels: PR status: code ready

#5178 admin event list
  apps/L2A/concert/backend/src/schemas/concert.schema.ts
  apps/L2A/concert/frontend/cypress/e2e/admin/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/TicketFilterBar.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/ticket/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/admin/utils/mock-concert-data.ts
  apps/L2A/concert/frontend/cypress/utils/all-pages.json
  apps/L2A/concert/frontend/specs/admin-header.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/AddTicketSeatInputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/AddTicketThumbnailURLInput.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/AddTicketTimeInputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/AddTicketVenueInfoInputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/AddTicketinfoinputs.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/DashboardTable.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/TicketDashboard.spec.tsx
  apps/L2A/concert/frontend/specs/admin/concerts/_components/TicketFilterBar.spec.tsx
  apps/L2A/concert/frontend/specs/admin/ticket/_components/TicketDashboard.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/AdminHeader.tsx
  apps/L2A/concert/frontend/src/app/admin/_featured/AdminLogin.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/AddTicketImageUrlInput.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/AddTicketSeatInputs.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/AddTicketTimeInputs.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/AddTicketVenueInfoInputs.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/AddTicketinfoinputs.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/DashboardTable.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketDashboard.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_components/TicketFilterBar.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/_featured/AddTicketDialog.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/page.tsx
  apps/L2A/concert/frontend/src/app/admin/concerts/utils/add-ticket-default-values.ts
  apps/L2A/concert/frontend/src/app/admin/concerts/utils/add-ticket-schema.ts
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#5172 feat(login hiisen uyd haragddag header): login hiisen uyd haragddag h…
  apps/L2B/tinder/tinder-frontend/specs/GuestHeader.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/UserHeader.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/_components/GuestHeader.tsx
  apps/L2B/tinder/tinder-frontend/src/app/_components/UserHeader.tsx
  apps/L2B/tinder/tinder-frontend/src/app/page.tsx
Labels: PR status: code ready, frontend, 2b-Tinder

#5125 feat: forgot password backend frontend tei holbow
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/create-account/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/forget-password/graphql-handlers.ts
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/forget-password/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/forget-password/setup-graph-ql-intercepts.ts
  apps/L2B/tinder/tinder-frontend/cypress/e2e/auth/sign-up/index.cy.tsx
  apps/L2B/tinder/tinder-frontend/specs/create-account/StepFourtCart.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/forget-password/FirstStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/forget-password/PasswordSchema.spec.tsx
  apps/L2B/tinder/tinder-frontend/specs/forget-password/ThirdStep.spec.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_components/StepFourthCart.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_feature/FourthStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/create-account/_feature/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_components/PasswordSchema.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/FirstStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/ForgetPasswordSteps.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/SecondStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/forget-password/_feature/ThirdStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-in/page.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_feature/FirstStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/auth/sign-up/_feature/ThirdStep.tsx
  apps/L2B/tinder/tinder-frontend/src/app/layout.tsx
  apps/L2B/tinder/tinder-frontend/src/graphql/user.graphql
Labels: PR status: code ready, backend, frontend, 2b-Tinder
