Repository pinecone-studio/pinecone-intern-monorepo, pull requests merged in 2025-07, with the labels that each got.

#5571 groups name changed
  apps/L1G/tinder/tinder-backend/project.json
  apps/L1G/tinder/tinder-backend/tsconfig.json
  apps/L1G/tinder/tinder-frontend/codegen.ts
  apps/L1G/tinder/tinder-frontend/project.json
  apps/L1G/tinder/tinder-frontend/specs/TinderLogo.spec.tsx
  apps/L1G/tinder/tinder-frontend/src/graphql/hello-query.graphql
  apps/L1G/tinder/tinder-frontend/tsconfig.json
Labels: PR status: code ready, 2G-Tinder

#5581 codegen setup
  apps/L1G/tinder/tinder-frontend/graphql/getusers.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/hello-query.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/like.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/login.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/mutations/signup.graphql
  apps/L1G/tinder/tinder-frontend/src/graphql/queries/getusers.graphql
Labels: 2G-Tinder

#5577 feat(restaurant-backend restaurant-frontend): Sign-in page
  apps/L1G/restaurant/restaurant-backend/project.json
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/auth/sign-in.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/user/create-user.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/user/delete-user.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/user/update-user.spec.ts
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/queries/user/get-user.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/models/user.model.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/index.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/auth/sign-in.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/index.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/user/create-user.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/user/delete-user.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/user/update-user.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/auth.schema.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/index.ts
  apps/L1G/restaurant/restaurant-backend/src/schemas/user.schema.ts
  apps/L1G/restaurant/restaurant-frontend/cypress/utils/all-pages.json
  apps/L1G/restaurant/restaurant-frontend/jest.config.ts
  apps/L1G/restaurant/restaurant-frontend/project.json
  apps/L1G/restaurant/restaurant-frontend/public/mainLogo.png
  apps/L1G/restaurant/restaurant-frontend/specs/components/AppolloIndex.spec.ts
  apps/L1G/restaurant/restaurant-frontend/specs/components/SignInComponents.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(public)/sign-in/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/layout.tsx
  apps/L1G/restaurant/restaurant-frontend/src/common/apollo/index.ts
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/auth.graphql
  apps/L1G/restaurant/restaurant-frontend/src/components/SignInComponent.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, 2G-Restaurant-BE, 2G-Restaurant-FE

#5591 feat(create user component): register new user
  .github/instructions/nx.instructions.md
  apps/L1G/restaurant/restaurant-backend/specs/resolvers/mutation/user/create-user.spec.ts
  apps/L1G/restaurant/restaurant-backend/src/resolvers/mutations/user/create-user.ts
  apps/L1G/restaurant/restaurant-frontend/cypress/e2e/(public)/sign-up/CreateUserCard.cy.tsx
  apps/L1G/restaurant/restaurant-frontend/cypress/utils/all-pages.json
  apps/L1G/restaurant/restaurant-frontend/specs/components/SignInComponents.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/specs/components/auth/CreateUserCard.spec.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(public)/sign-in/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/app/(public)/sign-up/page.tsx
  apps/L1G/restaurant/restaurant-frontend/src/common/graphql/auth.graphql
  apps/L1G/restaurant/restaurant-frontend/src/components/auth/SignInComponent.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/auth/sign-up/CreateUserCard.tsx
  apps/L1G/restaurant/restaurant-frontend/src/components/auth/sign-up/LoginButton.tsx
  apps/L1G/restaurant/restaurant-frontend/src/utils/SignUpUtils.tsx
Labels: PR status: code ready, backend, frontend, 2G-Restaurant-BE, 2G-Restaurant-FE

#5616 feat: fix yml
  .github/workflows/ci.yml
Labels: PR status: code ready
