Repository pinecone-studio/pinecone-intern-monorepo, pull requests merged in 2025-04, with the labels that each got.

#4505 fix(chatbot-backend): fixed deployment issue
  apps/L1US/chatbot/backend/specs/resolvers/mutations/user/login-user.spec.ts
  apps/L1US/chatbot/backend/specs/resolvers/mutations/user/register-user.spec.ts
  apps/L1US/chatbot/backend/specs/resolvers/queries/user/get-user.spec.ts
  apps/L1US/chatbot/backend/src/models/conversation.model.ts
  apps/L1US/chatbot/backend/src/models/message.model.ts
  apps/L1US/chatbot/backend/src/models/user.model.ts
  apps/L1US/chatbot/backend/src/resolvers/mutations/user/login-user.ts
  apps/L1US/chatbot/backend/src/resolvers/mutations/user/register-user.ts
  apps/L1US/chatbot/backend/src/resolvers/queries/index.ts
  apps/L1US/chatbot/backend/src/resolvers/queries/message/get-messages.ts
  apps/L1US/chatbot/backend/src/resolvers/queries/user/get-user.ts
  apps/L1US/chatbot/backend/src/utils/user.ts
Labels: PR status: code ready, 1US-chatbot

#4506 feat(chatbot-frontend): implement signup page
  apps/L1US/chatbot/frontend/codegen.ts
  apps/L1US/chatbot/frontend/cypress/e2e/signup-page.cy.tsx
  apps/L1US/chatbot/frontend/cypress/utils/all-pages.json
  apps/L1US/chatbot/frontend/next.config.js
  apps/L1US/chatbot/frontend/project.json
  apps/L1US/chatbot/frontend/src/app/layout.tsx
  apps/L1US/chatbot/frontend/src/app/page.tsx
  apps/L1US/chatbot/frontend/src/app/sign-in/page.tsx
  apps/L1US/chatbot/frontend/src/app/sign-up/page.tsx
  apps/L1US/chatbot/frontend/src/components/providers/AuthProvider.tsx
  apps/L1US/chatbot/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, 1US-chatbot

#4513 feat: fix generator bug
  libs/generator/src/generators/service/files/codegen.ts.template
  libs/generator/src/generators/service/files/project.json.template
  libs/generator/src/generators/service/files/src/types/index.d.ts.template
Labels: PR status: code ready

#4525 feat: add 2a folder
  apps/L2A/README.md
Labels: PR status: code ready

#4541 feat(real estate): test
  apps/L2A/README.md
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4542 4532 leave request project
  apps/L2A/leave-request/backend/.eslintrc.json
  apps/L2A/leave-request/backend/codegen.ts
  apps/L2A/leave-request/backend/index.d.ts
  apps/L2A/leave-request/backend/jest.config.ts
  apps/L2A/leave-request/backend/main.tf
  apps/L2A/leave-request/backend/next-env.d.ts
  apps/L2A/leave-request/backend/next.config.js
  apps/L2A/leave-request/backend/project.json
  apps/L2A/leave-request/backend/public/.gitkeep
  apps/L2A/leave-request/backend/public/favicon.ico
  apps/L2A/leave-request/backend/specs/resolvers/mutations/index.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/mutations/sample-mutation.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/queries/index.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/queries/sample-query.spec.ts
  apps/L2A/leave-request/backend/src/app/api/graphql/route.ts
  apps/L2A/leave-request/backend/src/app/globals.css
  apps/L2A/leave-request/backend/src/app/layout.tsx
  apps/L2A/leave-request/backend/src/app/page.tsx
  apps/L2A/leave-request/backend/src/handler.ts
  apps/L2A/leave-request/backend/src/models/index.ts
  apps/L2A/leave-request/backend/src/resolvers/index.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/index.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/sample-mutation.ts
  apps/L2A/leave-request/backend/src/resolvers/queries/index.ts
  apps/L2A/leave-request/backend/src/resolvers/queries/sample-query.ts
  apps/L2A/leave-request/backend/src/schemas/common.schema.ts
  apps/L2A/leave-request/backend/src/schemas/index.ts
  apps/L2A/leave-request/backend/src/types/index.d.ts
  apps/L2A/leave-request/backend/src/utils/connect-to-db.ts
  apps/L2A/leave-request/backend/tsconfig.json
  apps/L2A/leave-request/backend/tsconfig.spec.json
  bun.lockb
  libs/scripts/specs/pre-commit/pre-commit-checks.spec.ts
  libs/scripts/src/pre-commit/pre-commit-checks.ts
Labels: PR status: code ready

#4547 [2A-Concert-booking-app] - VERCEL_TOKEN fix
  apps/L2A/concert/backend/project.json
  apps/L2A/concert/frontend/project.json
Labels: PR status: code ready

#4560 feat(real-estate): cleared backend shcema
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
Labels: PR status: code ready

#4561 feat: create frontend
  apps/L2A/restaurant/backend/src/handler.ts
  apps/L2A/restaurant/backend/src/resolvers/queries/index.ts
  apps/L2A/restaurant/backend/src/schemas/common.schema.ts
  apps/L2A/restaurant/frontend/.babelrc
  apps/L2A/restaurant/frontend/.eslintrc.json
  apps/L2A/restaurant/frontend/.nycrc
  apps/L2A/restaurant/frontend/codegen.ts
  apps/L2A/restaurant/frontend/cypress.config.ts
  apps/L2A/restaurant/frontend/cypress/e2e/(main)/home-page.cy.tsx
  apps/L2A/restaurant/frontend/cypress/e2e/render-all.pages.cy.tsx
  apps/L2A/restaurant/frontend/cypress/support/app.po.ts
  apps/L2A/restaurant/frontend/cypress/support/commands.ts
  apps/L2A/restaurant/frontend/cypress/support/e2e.ts
  apps/L2A/restaurant/frontend/cypress/support/indets.d.ts
  apps/L2A/restaurant/frontend/cypress/tsconfig.json
  apps/L2A/restaurant/frontend/cypress/utils/all-pages.json
  apps/L2A/restaurant/frontend/cypress/utils/get-all-pages.ts
  apps/L2A/restaurant/frontend/cypress/utils/intercept-graphql.ts
  apps/L2A/restaurant/frontend/index.d.ts
  apps/L2A/restaurant/frontend/jest.config.ts
  apps/L2A/restaurant/frontend/main.tf
  apps/L2A/restaurant/frontend/next-env.d.ts
  apps/L2A/restaurant/frontend/next.config.js
  apps/L2A/restaurant/frontend/postcss.config.js
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/public/.gitkeep
  apps/L2A/restaurant/frontend/public/favicon.ico
  apps/L2A/restaurant/frontend/src/app/global.css
  apps/L2A/restaurant/frontend/src/app/layout.tsx
  apps/L2A/restaurant/frontend/src/app/page.tsx
  apps/L2A/restaurant/frontend/src/components/providers/ApolloWrapper.tsx
  apps/L2A/restaurant/frontend/src/components/providers/index.ts
  apps/L2A/restaurant/frontend/src/graphql/all.graphql
  apps/L2A/restaurant/frontend/src/public/.favicon.ico
  apps/L2A/restaurant/frontend/src/public/.gitkeep
  apps/L2A/restaurant/frontend/tailwind.config.js
  apps/L2A/restaurant/frontend/tsconfig.json
  apps/L2A/restaurant/frontend/tsconfig.spec.json
Labels: PR status: code ready

#4521 Implemented Chat Session...
  apps/L1US/chatbot/frontend/codegen.ts
  apps/L1US/chatbot/frontend/cypress/component/chat/ChatInput.cy.tsx
  apps/L1US/chatbot/frontend/cypress/component/chat/ChatMessage.cy.tsx
  apps/L1US/chatbot/frontend/cypress/component/chat/Message.cy.tsx
  apps/L1US/chatbot/frontend/cypress/component/chat/ScrollToBottom.cy.tsx
  apps/L1US/chatbot/frontend/cypress/e2e/(main)/home-page.cy.tsx
  apps/L1US/chatbot/frontend/cypress/e2e/chat/message.cy.tsx
  apps/L1US/chatbot/frontend/cypress/e2e/signup/signup-page.cy.tsx
  apps/L1US/chatbot/frontend/cypress/utils/all-pages.json
  apps/L1US/chatbot/frontend/next.config.js
  apps/L1US/chatbot/frontend/postcss.config.js
  apps/L1US/chatbot/frontend/src/app/chat/page.tsx
  apps/L1US/chatbot/frontend/src/app/global.css
  apps/L1US/chatbot/frontend/src/app/layout.tsx
  apps/L1US/chatbot/frontend/src/app/page.tsx
  apps/L1US/chatbot/frontend/src/components/chat/ChatInput.tsx
  apps/L1US/chatbot/frontend/src/components/chat/ChatMessage.tsx
  apps/L1US/chatbot/frontend/src/components/chat/Message.tsx
  apps/L1US/chatbot/frontend/src/components/chat/ScrollToBottom.tsx
  apps/L1US/chatbot/frontend/src/components/theme-switcher/ThemeSwitcher.tsx
  apps/L1US/chatbot/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, 1US-chatbot

#4565 feat(real-estate-backend): redeploy
  apps/L2A/real-estate/real-estate-backend/main.tf
  apps/L2A/real-estate/real-estate-backend/project.json
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/index.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/sample-mutation.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/queries/index.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/queries/sample-query.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/models/index.ts
  apps/L2A/real-estate/real-estate-backend/src/models/post-model.ts
  apps/L2A/real-estate/real-estate-backend/src/models/user-model.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/sample-mutation.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
  apps/L2A/real-estate/real-estate-backend/src/utils/connect-to-db.ts
  apps/L2A/real-estate/real-estate-backend/tsconfig.json
Labels: PR status: code ready

#4576 4556 frontend header footer
  apps/L2A/concert/frontend/src/app/_components/Footer.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
Labels: PR status: code ready

#4587 fix(jest config): changed jest config
  apps/L2A/concert/frontend/jest.config.ts
  apps/L2A/concert/frontend/specs/test.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/home/_components/Button.tsx
  apps/L2A/concert/frontend/src/app/home/layout.tsx
  apps/L2A/concert/frontend/src/app/home/page.tsx
  apps/L2A/leave-request/frontend/jest.config.ts
  apps/L2A/real-estate/real-estate-frontend/jest.config.ts
  apps/L2A/restaurant/frontend/jest.config.ts
Labels: PR status: code ready

#4582 feat: create signin
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/signin.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/_feature/SignInForm.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/page.tsx
Labels: PR status: code ready

#4600 feat(leave-request-backend/models): create scheme and models using mongoose
  apps/L2A/leave-request/backend/project.json
  apps/L2A/leave-request/backend/src/models/index.ts
  apps/L2A/leave-request/backend/src/models/models.ts
Labels: PR status: code ready

#4591 4584 header footer test
  apps/L2A/concert/frontend/specs/Footer.spec.tsx
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/home/Button.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/Button.tsx
  apps/L2A/concert/frontend/src/app/_components/Footer.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/home/layout.tsx
  apps/L2A/concert/frontend/src/app/home/page.tsx
  apps/L2A/concert/frontend/src/app/layout.tsx
Labels: PR status: code ready

#4592 4553 backend authentication
  apps/L2A/concert/backend/specs/resolvers/mutations/index.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/login.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/register.spec.ts
  apps/L2A/concert/backend/src/handler.ts
  apps/L2A/concert/backend/src/models/index.ts
  apps/L2A/concert/backend/src/models/user.model.ts
  apps/L2A/concert/backend/src/models/venue.model.ts
  apps/L2A/concert/backend/src/resolvers/mutations/index.ts
  apps/L2A/concert/backend/src/resolvers/mutations/login.ts
  apps/L2A/concert/backend/src/resolvers/mutations/register.ts
  apps/L2A/concert/backend/src/schemas/common.schema.ts
  apps/L2A/concert/backend/src/utils/check-if-user-exist.ts
  apps/L2A/concert/backend/src/utils/check-password.ts
  apps/L2A/concert/backend/src/utils/find-user-by-email.ts
  apps/L2A/concert/backend/src/utils/hash-password.ts
Labels: PR status: code ready

#4520 feat(chatbot-frontend): implement authentication, refactor SignUp page.
  apps/L1US/chatbot/backend/src/resolvers/mutations/user/login-user.ts
  apps/L1US/chatbot/backend/src/schemas/user.schema.ts
  apps/L1US/chatbot/frontend/cypress/e2e/signin-page.cy.tsx
  apps/L1US/chatbot/frontend/cypress/e2e/signup-page.cy.tsx
  apps/L1US/chatbot/frontend/cypress/e2e/signup/signup-page.cy.tsx
  apps/L1US/chatbot/frontend/src/app/global.css
  apps/L1US/chatbot/frontend/src/app/page.tsx
  apps/L1US/chatbot/frontend/src/app/sign-in/page.tsx
  apps/L1US/chatbot/frontend/src/app/sign-up/page.tsx
  apps/L1US/chatbot/frontend/src/common/AuthTokenUtil.tsx
  apps/L1US/chatbot/frontend/src/components/forms/SignInForm.tsx
  apps/L1US/chatbot/frontend/src/components/forms/SignUpForm.tsx
  apps/L1US/chatbot/frontend/src/components/providers/AuthProvider.tsx
  apps/L1US/chatbot/frontend/src/components/providers/index.ts
  apps/L1US/chatbot/frontend/src/components/ui/FormInput.tsx
  apps/L1US/chatbot/frontend/src/components/ui/PasswordInput.tsx
  apps/L1US/chatbot/frontend/src/components/ui/index.ts
  apps/L1US/chatbot/frontend/src/graphql/all.graphql
Labels: PR status: code ready, backend, frontend, 1US-chatbot

#4603 fix(cypress): code coverage check
  apps/L2A/concert/frontend/.nycrc
  apps/L2A/concert/frontend/project.json
  apps/L2A/leave-request/frontend/.nycrc
  apps/L2A/leave-request/frontend/project.json
  apps/L2A/leave-request/frontend/src/app/admin/page.tsx
  apps/L2A/leave-request/frontend/src/app/page.tsx
  apps/L2A/real-estate/real-estate-frontend/.nycrc
  apps/L2A/real-estate/real-estate-frontend/project.json
  apps/L2A/restaurant/frontend/.nycrc
  apps/L2A/restaurant/frontend/project.json
  libs/scripts/project.json
  libs/scripts/specs/actions/e2e/check-cypress-code-coverage.spec.ts
  libs/scripts/specs/commands/execute-cypress.spec.ts
  libs/scripts/src/actions/e2e/check-cypress-code-coverage.ts
  libs/scripts/src/commands/execute-cypress.ts
  package-lock.json
Labels: PR status: code ready

#4606 feat(leave-request-backend): create user mutation
  apps/L2A/leave-request/backend/specs/resolvers/mutations/otp/request-otp.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/mutations/otp/send-email.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/mutations/otp/verify-otp.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/mutations/sample-mutation.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/mutations/user/create-user.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/mutations/user/user-helper.spec.ts
  apps/L2A/leave-request/backend/src/models/models.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/index.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/otp/request-otp.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/otp/send-email.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/otp/verify-otp.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/sample-mutation.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/user/create-user.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/user/user-helpers.ts
  apps/L2A/leave-request/backend/src/schemas/common.schema.ts
Labels: PR status: code ready

#4615 more test coverage
  apps/L2A/concert/backend/specs/resolvers/mutations/login.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/register.spec.ts
  apps/L2A/concert/backend/src/resolvers/mutations/register.ts
  apps/L2A/concert/backend/src/utils/check-if-user-exist.ts
  apps/L2A/concert/backend/src/utils/check-password.ts
  apps/L2A/concert/backend/src/utils/hash-password.ts
  apps/L2A/concert/frontend/src/app/layout.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT

#4629 4574 real estate jwttoken
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/user/create-user.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/user/login-user.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/models/index.ts
  apps/L2A/real-estate/real-estate-backend/src/models/user.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/create-user.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/login-user.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
  apps/L2A/real-estate/real-estate-backend/src/utils/connect-to-db.ts
  apps/L2A/real-estate/real-estate-backend/src/utils/jwt.ts
Labels: PR status: code ready, 2A-CONCERT

#4627 feat: new sheet
  apps/L2A/restaurant/frontend/cypress/e2e/homeBody.cy.tsx
  apps/L2A/restaurant/frontend/project.json
  apps/L2A/restaurant/frontend/spec/sheet.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_components/Sheet.tsx
  apps/L2A/restaurant/frontend/src/app/_features/HomeBody.tsx
  apps/L2A/restaurant/frontend/src/app/page.tsx
Labels: PR status: code ready, restaurant-team

#4617 frontend authentication UI
  apps/L2A/concert/frontend/cypress/e2e/auth/signin/page.cy.ts
  apps/L2A/concert/frontend/cypress/e2e/auth/signup/page.cy.ts
  apps/L2A/concert/frontend/src/app/auth/_components/Complete.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/Login.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/PassRecovery.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/SignUp.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/VerifcationCode.tsx
  apps/L2A/concert/frontend/src/app/auth/signin/page.tsx
  apps/L2A/concert/frontend/src/app/auth/signup/page.tsx
  apps/L2A/concert/frontend/src/app/page.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/VerifcationCode.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/complete.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/login.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/pass-recovery.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/signup.spec.tsx
Labels: PR status: code ready, 2A-CONCERT

#4612 4604 leave request backend create user
  apps/L2A/leave-request/backend/specs/resolvers/mutations/otp/request-otp.spec.ts
  apps/L2A/leave-request/backend/specs/resolvers/mutations/otp/send-email.spec.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/otp/request-otp.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/otp/send-email.ts
  apps/L2A/leave-request/backend/src/resolvers/mutations/otp/verify-otp.ts
Labels: PR status: code ready

#4642 4625 frontend signin formik
  apps/L2A/real-estate/real-estate-frontend/.babelrc
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/signin.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/project.json
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/_feature/SignInForm.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/page.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4624 concert admin-header
  apps/L2A/concert/backend/src/schemas/booking.schema.ts
  apps/L2A/concert/backend/src/schemas/common.schema.ts
  apps/L2A/concert/backend/src/schemas/concert.schema.ts
  apps/L2A/concert/backend/src/schemas/enum.schema.ts
  apps/L2A/concert/backend/src/schemas/index.ts
  apps/L2A/concert/backend/src/schemas/mutation.schema.ts
  apps/L2A/concert/backend/src/schemas/otp.schema.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
  apps/L2A/concert/backend/src/schemas/ticket-category.schema.ts
  apps/L2A/concert/backend/src/schemas/ticket.schema.ts
  apps/L2A/concert/backend/src/schemas/user.schema.ts
  apps/L2A/concert/backend/src/schemas/venue.schema.ts
  apps/L2A/concert/frontend/specs/Footer.spec.tsx
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/_components/Button.spec.tsx
  apps/L2A/concert/frontend/specs/admin-header.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/VerifcationCode.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/complete.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/login.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/pass-recovery.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/signup.spec.tsx
  apps/L2A/concert/frontend/specs/test.spec.tsx
  apps/L2A/concert/frontend/src/app/admin/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/admin/cancel-request/page.tsx
  apps/L2A/concert/frontend/src/app/admin/layout.tsx
  apps/L2A/concert/frontend/src/app/admin/page.tsx
  apps/L2A/concert/frontend/src/app/admin/ticket/page.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/Complete.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/Login.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/PassRecovery.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/VerifcationCode.tsx
Labels: PR status: code ready, 2A-CONCERT

#4646 4581 concert detail
  apps/L2A/concert/backend/specs/resolvers/mutations/login.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/register.spec.ts
  apps/L2A/concert/backend/src/utils/check-if-user-exist.ts
  apps/L2A/concert/frontend/cypress/e2e/event/[id]/page.cy.tsx
  apps/L2A/concert/frontend/public/assets/SeatDetail.svg
  apps/L2A/concert/frontend/specs/Footer.spec.tsx
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/event/[id]/_components/AboutEvent.spec.tsx
  apps/L2A/concert/frontend/specs/event/[id]/_components/SeatInfo.spec.tsx
  apps/L2A/concert/frontend/specs/event/[id]/_components/StadiumMap.spec.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/AboutEvent.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/SeatInfo.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/_components/StadiumMap.tsx
  apps/L2A/concert/frontend/src/app/event/[id]/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4589 4552 admin header
  apps/L2A/leave-request/frontend/.nycrc
  apps/L2A/leave-request/frontend/cypress/e2e/(admin)/admin.cy.tsx
  apps/L2A/leave-request/frontend/public/PineconeStudio.png
  apps/L2A/leave-request/frontend/specs/admin/AdminHeader.spec.tsx
  apps/L2A/leave-request/frontend/src/app/admin/_components/AdminHeader.tsx
  apps/L2A/leave-request/frontend/src/app/admin/page.tsx
  apps/L2A/leave-request/frontend/src/graphql/all.graphql
Labels: PR status: code ready

#4644 order-food-card
  apps/L2A/restaurant/frontend/spec/order-food-card.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_components/OrderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/page.tsx
Labels: PR status: code ready

#4610 4605 login dialog ba validation
  apps/L2A/leave-request/frontend/cypress/e2e/(admin)/admin.cy.tsx
  apps/L2A/leave-request/frontend/cypress/e2e/(main)/loginpage.cy.tsx
  apps/L2A/leave-request/frontend/cypress/utils/all-pages.json
  apps/L2A/leave-request/frontend/public/images/PineconeStudio.png
  apps/L2A/leave-request/frontend/specs/AdminHeader.spec.tsx
  apps/L2A/leave-request/frontend/specs/LoginButton.spec.tsx
  apps/L2A/leave-request/frontend/specs/LoginEmailInput.spec.tsx
  apps/L2A/leave-request/frontend/specs/LoginForm.spec.tsx
  apps/L2A/leave-request/frontend/specs/RegisterNewEmployeeModal.spec.tsx
  apps/L2A/leave-request/frontend/specs/admin/AdminHeader.spec.tsx
  apps/L2A/leave-request/frontend/src/app/admin/_components/AdminHeader.tsx
  apps/L2A/leave-request/frontend/src/app/admin/_components/Button.tsx
  apps/L2A/leave-request/frontend/src/app/admin/_features/Modal.tsx
  apps/L2A/leave-request/frontend/src/app/admin/page.tsx
  apps/L2A/leave-request/frontend/src/app/layout.tsx
  apps/L2A/leave-request/frontend/src/app/login/_components/EmailInput.tsx
  apps/L2A/leave-request/frontend/src/app/login/_components/LoginButon.tsx
  apps/L2A/leave-request/frontend/src/app/login/_features/LoginForm.tsx
  apps/L2A/leave-request/frontend/src/app/login/page.tsx
  apps/L2A/leave-request/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-HRMS

#4666 feat(real-estate-frontend): login connected bcknd-frntend also create…
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/user/login-user.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/user/login-user.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
  apps/L2A/real-estate/real-estate-frontend/.eslintrc.json
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/(public)/signin.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/cypress/e2e/signin.cy.tsx
  apps/L2A/real-estate/real-estate-frontend/jest.config.ts
  apps/L2A/real-estate/real-estate-frontend/specs/user/SignInForm.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/_components/SignInForm.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/_feature/SignInForm.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/signin/page.tsx
  apps/L2A/real-estate/real-estate-frontend/tsconfig.json
  package-lock.json
  package.json
Labels: PR status: code ready

#4655 user profile
  apps/L2A/concert/frontend/cypress/e2e/event/123/page.cy.tsx
  apps/L2A/concert/frontend/cypress/e2e/userProfile/123/page.cy.tsx
  apps/L2A/concert/frontend/cypress/utils/all-pages.json
  apps/L2A/concert/frontend/specs/event/123/_components/AboutEvent.spec.tsx
  apps/L2A/concert/frontend/specs/event/123/_components/SeatInfo.spec.tsx
  apps/L2A/concert/frontend/specs/event/123/_components/StadiumMap.spec.tsx
  apps/L2A/concert/frontend/specs/userProfile/_features/ForgetPassword.spec.tsx
  apps/L2A/concert/frontend/specs/userProfile/_features/OrderHistory.spec.tsx
  apps/L2A/concert/frontend/specs/userProfile/_features/ProfileNavigation.spec.tsx
  apps/L2A/concert/frontend/specs/userProfile/_features/UserProfile.spec.tsx
  apps/L2A/concert/frontend/src/app/layout.tsx
  apps/L2A/concert/frontend/src/app/page.tsx
  apps/L2A/concert/frontend/src/app/userProfile/[id]/_features/ForgetPassword.tsx
  apps/L2A/concert/frontend/src/app/userProfile/[id]/_features/OrderHistory.tsx
  apps/L2A/concert/frontend/src/app/userProfile/[id]/_features/ProfileNavigation.tsx
  apps/L2A/concert/frontend/src/app/userProfile/[id]/_features/SidebarNavigation.tsx
  apps/L2A/concert/frontend/src/app/userProfile/[id]/_features/UserProfile.tsx
  apps/L2A/concert/frontend/src/app/userProfile/[id]/page.tsx
Labels: PR status: code ready, 2A-CONCERT

#4675 4656 home page front1
  apps/L2A/real-estate/real-estate-frontend/cypress/utils/all-pages.json
  apps/L2A/real-estate/real-estate-frontend/public/listingcard.png
  apps/L2A/real-estate/real-estate-frontend/spec/CategoryCard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/CategoryCarousel.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/ExploreCard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/ExploreSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/HeroSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/Listingcard.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/spec/RecentListingSection.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/CategoryCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/CategoryCarousel.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/ExploreCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/ExploreSection.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/HeroSection.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/ListingCard.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/_components/RecentListingSection.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/home/page.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4633 4577 frontend ticket card
  apps/L2A/concert/frontend/specs/ConcertCard.spec.tsx
  apps/L2A/concert/frontend/specs/Dashbourd.spec.tsx
  apps/L2A/concert/frontend/specs/Footer.spec.tsx
  apps/L2A/concert/frontend/specs/Header.spec.tsx
  apps/L2A/concert/frontend/specs/HeroSection.spec.tsx
  apps/L2A/concert/frontend/src/app/_components/ConcertCard.tsx
  apps/L2A/concert/frontend/src/app/_components/Dashbourd.tsx
  apps/L2A/concert/frontend/src/app/_components/Footer.tsx
  apps/L2A/concert/frontend/src/app/_components/Header.tsx
  apps/L2A/concert/frontend/src/app/_components/HeroSection.tsx
  apps/L2A/concert/frontend/src/app/layout.tsx
  apps/documentation/src/app/layout.tsx
Labels: PR status: code ready, 2A-CONCERT

#4680 create mutations
  apps/L2A/concert/backend/specs/resolvers/mutations/create-booking.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/create-concert.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/create-ticket.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/create-venue.spec.ts
  apps/L2A/concert/backend/specs/resolvers/mutations/register.spec.ts
  apps/L2A/concert/backend/src/models/booking.model.ts
  apps/L2A/concert/backend/src/models/concert.model.ts
  apps/L2A/concert/backend/src/models/index.ts
  apps/L2A/concert/backend/src/models/otp.model.ts
  apps/L2A/concert/backend/src/models/ticket-categories.model.ts
  apps/L2A/concert/backend/src/models/ticket.model.ts
  apps/L2A/concert/backend/src/models/user.model.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-booking.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-concert.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-ticket.ts
  apps/L2A/concert/backend/src/resolvers/mutations/create-venue.ts
  apps/L2A/concert/backend/src/resolvers/mutations/index.ts
  apps/L2A/concert/backend/src/resolvers/mutations/register.ts
  apps/L2A/concert/backend/src/schemas/booking.schema.ts
  apps/L2A/concert/backend/src/schemas/common.schema.ts
  apps/L2A/concert/backend/src/schemas/enum.schema.ts
  apps/L2A/concert/backend/src/schemas/mutation.schema.ts
  apps/L2A/concert/backend/src/schemas/ticket.schema.ts
  apps/L2A/concert/backend/src/utils/catch-error.ts
  apps/L2A/concert/backend/src/utils/check-if-user-exist.ts
  apps/L2A/concert/backend/src/utils/create-booking/validate-concert.ts
  apps/L2A/concert/backend/src/utils/create-booking/validate-tickets.ts
  apps/L2A/concert/backend/src/utils/create-booking/validate-user.ts
  apps/L2A/concert/backend/src/utils/find-user-by-email.ts
Labels: PR status: code ready, 2A-CONCERT

#4693 create homepage and fix some errors
  apps/L2A/restaurant/frontend/cypress/e2e/HomePage/homeMain.cy.tsx
  apps/L2A/restaurant/frontend/specs/Logo.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/adminHeader.spec.tsx
  apps/L2A/restaurant/frontend/specs/admin/order-food-card.spec.tsx
  apps/L2A/restaurant/frontend/specs/footer.spec.tsx
  apps/L2A/restaurant/frontend/src/app/_components/Footer.tsx
  apps/L2A/restaurant/frontend/src/app/_components/categories.json
  apps/L2A/restaurant/frontend/src/app/_features/HomeMain.tsx
  apps/L2A/restaurant/frontend/src/app/_features/RenderFoodCard.tsx
  apps/L2A/restaurant/frontend/src/app/login/_components/Logo.tsx
  apps/L2A/restaurant/frontend/src/app/page.tsx
Labels: PR status: code ready, restaurant-team

#4676 authentication
  apps/L2A/concert/backend/specs/resolvers/mutations/login.spec.ts
  apps/L2A/concert/backend/src/models/user.model.ts
  apps/L2A/concert/backend/src/resolvers/mutations/login.ts
  apps/L2A/concert/backend/src/utils/find-user-by-email.ts
  apps/L2A/concert/frontend/cypress/e2e/auth/signin/page.cy.ts
  apps/L2A/concert/frontend/cypress/e2e/auth/signup/page.cy.ts
  apps/L2A/concert/frontend/cypress/utils/all-pages.json
  apps/L2A/concert/frontend/specs/ConcertCard.spec.tsx
  apps/L2A/concert/frontend/specs/admin-header.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/VerifcationCode.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/complete.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/login.spec.tsx
  apps/L2A/concert/frontend/specs/auth/_components/signup.spec.tsx
  apps/L2A/concert/frontend/specs/event/[id]/_components/AboutEvent.spec.tsx
  apps/L2A/concert/frontend/specs/event/[id]/_components/SeatInfo.spec.tsx
  apps/L2A/concert/frontend/specs/event/[id]/_components/StadiumMap.spec.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/Login.tsx
  apps/L2A/concert/frontend/src/app/auth/_components/SignUp.tsx
  apps/L2A/concert/frontend/src/app/auth/_feature/Complete.tsx
  apps/L2A/concert/frontend/src/app/auth/_feature/PassRecovery.tsx
  apps/L2A/concert/frontend/src/app/auth/_feature/VerificationCode.tsx
  apps/L2A/concert/frontend/src/app/auth/signin/page.tsx
  apps/L2A/concert/frontend/src/app/auth/signup/page.tsx
  apps/L2A/concert/frontend/src/app/auth/utils/login-schema.ts
  apps/L2A/concert/frontend/src/app/auth/utils/signup-schema.ts
  apps/L2A/concert/frontend/src/app/layout.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
  apps/L2A/concert/frontend/src/specs/auth/_components/VerifcationCode.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/complete.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/login.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/pass-recovery.spec.tsx
  apps/L2A/concert/frontend/src/specs/auth/_components/signup.spec.tsx
Labels: PR status: code ready, 2A-CONCERT

#4694 feat(real-estate-backend): add otp
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/otp/request-otp.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/otp/send-email.spec.ts
  apps/L2A/real-estate/real-estate-backend/specs/resolvers/mutations/otp/verify-otp.spec.ts
  apps/L2A/real-estate/real-estate-backend/src/models/otp.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/index.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/otp/request-otp.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/otp/send-email.ts
  apps/L2A/real-estate/real-estate-backend/src/resolvers/mutations/otp/verify-otp.ts
  apps/L2A/real-estate/real-estate-backend/src/schemas/common.schema.ts
Labels: PR status: code ready, 2A-Real-Estate

#4701 Adminlistingtable
  apps/L2A/real-estate/real-estate-frontend/spec/AdminListingTable.spec.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/_components/AdminListingTable.tsx
  apps/L2A/real-estate/real-estate-frontend/src/app/admin/page.tsx
Labels: PR status: code ready, frontend, 2A-Real-Estate

#4692 feat(deleteproduct): delete-product
  apps/L2A/restaurant/backend/specs/resolvers/mutations/add-product.spec.ts
  apps/L2A/restaurant/backend/specs/resolvers/mutations/delete-product.spec.ts
  apps/L2A/restaurant/backend/src/resolvers/index.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/add-product.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/delete-product.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/index.ts
  apps/L2A/restaurant/backend/src/resolvers/mutations/update-product.ts
  apps/L2A/restaurant/backend/src/schemas/product.schema.ts
  apps/L2A/restaurant/backend/src/services/product.service.ts
  apps/L2A/restaurant/backend/src/utils/validate-product-data.ts
Labels: PR status: code ready, restaurant-team

#4700 get concert query
  apps/L2A/concert/backend/specs/resolvers/queries/get-concert.spec.ts
  apps/L2A/concert/backend/src/resolvers/queries/get-concert.ts
  apps/L2A/concert/backend/src/resolvers/queries/index.ts
  apps/L2A/concert/backend/src/schemas/queries.shema.ts
  apps/L2A/concert/frontend/src/app/event/[id]/_components/AboutEvent.tsx
  apps/L2A/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, 2A-CONCERT
